[Unit]
Description=Promtail service
After=network.target

[Service]
Type=simple
User=promtail
ExecStart=/bin/bash -c "/usr/local/bin/promtail -config.file /usr/local/bin/promtail-config.yaml --client.external-labels=host=$(hostname)"

[Install]
WantedBy=multi-user.target