/node_modules
/public/hot
/public/storage
/public/vendor
.env
.env.testing
.env.orig
.env.staging
.env.testing
.envBackupWhileStresstest
.envBackupWhileSeleniumtest
.env.selenium
.env.orig
.idea
/storage
/storage/*.key
/storage/logs
/vendor/*
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/storage/attachments
/storage/drawing_question_bgs
/public/waiting.txt
launch.json
public/vendor/telescope
vendor/*
/public/.DS_Store
storage/*
storage/*/*
storage/*/*/*
!.gitignore
/public/vendor/telescope/
LocalValetDriver.php
/public/ckeditor/plugins/ckeditor_wiris/cache
/public/ckeditor/plugins/ckeditor_wiris/formulas
/public/ckeditor_png/plugins/ckeditor_wiris/cache
/public/ckeditor_png/plugins/ckeditor_wiris/formulas