/node_modules
/public/hot
/public/storage
.env
.idea
/storage/*.key
/storage/logs
/vendor/*
composer.lock
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/storage/attachments