.header {
    background: white;
    height: 70px;
    box-shadow: 0 3px 8px 0 rgba(77, 87, 143, 0.3);
}

.menu .text-button.active {
    position: relative;
}

.menu .text-button.active:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: currentColor;
    position: absolute;
    bottom: 0;
}
.button {
    border-radius: 10px;
    font-size: 18px;
    font-family: Nunito Bold;
    padding: 0 20px 0 20px;
    align-items: center;
    display: inline-flex;
    min-height: 40px;
    border: solid 1px transparent;
}

.button:focus {
    outline: none;
}

.button-sm {
    min-height: 40px;
}

.button-md {
    min-height: 50px;
}

.button-lg {
    min-height: 60px;
}

.text-button {
    color: var(--system-base);
    font-family: Nunito Bold;
    padding: 0;
}

.text-button:hover {
    color: var(--primary);
}

.text-button:focus {
    outline: none;
}
.text-button > span {
    vertical-align: middle;
}

.cta-button {
    color: white;
    background-color: rgba(58,183,83,1);
    background-image: radial-gradient(ellipse farthest-side at 10% 10%,rgba(58,183,83,.5) 0,rgba(58,183,83,0) 100%);
    background-size: 0px 0px;
    background-repeat: no-repeat;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.15);
    transition: color 0.3s cubic-bezier(.215,.61,.355,1);
}

.cta-button:hover {
    background-color: rgb(60, 202, 86);
    background-size: 100% 100%;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
    transition: all 0.3s cubic-bezier(.215,.61,.355,1);
}

.cta-button:active {
    background: linear-gradient(90deg, rgba(57, 180, 81, 1) 0%, rgba(61, 187, 86, 1) 100%);
    box-shadow: 0 1px 6px 0 rgba(77, 87, 143, 0.5);
}

.cta-button:focus {
    background: var(--cta-primary);
    border: 1px solid var(--cta-primary-dark);
}

.cta-button:disabled {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}

.primary-button.btn-disabled {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}
.primary-button.btn-disabled:hover {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}
.primary-button.btn-disabled:focus {
    border: none;
}

.primary-button {
    color: white;
    background-color: rgba(0,77,245,1);
    background-image: radial-gradient(ellipse farthest-side at 10% 10%,rgba(0,77,245,.5) 0,rgba(0,77,245,0) 100%);
    background-size: 0px 0px;
    background-repeat: no-repeat;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.15);
    transition: color 0.3s cubic-bezier(.215,.61,.355,1);
}

.primary-button:hover {
    background-color: rgba(71,129,255,1);
    background-size: 100% 100%;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
    transition: all 0.3s cubic-bezier(.215,.61,.355,1);
}
.primary-button:focus {
    outline: none;
}
.primary-button:active {
    outline: none;
}

.primary-button:disabled {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}

.secondary-button {
    color: var(--system-base);
    background-color: var(--blue-grey);
    background-image: radial-gradient(ellipse farthest-side at 10% 10%,rgba(195,208,237,.5) 0,rgba(195,208,237,0) 100%);
    background-size: 0px 0px;
    background-repeat: no-repeat;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.15);
    transition: color 0.3s cubic-bezier(.215,.61,.355,1);
}

.secondary-button:hover {
    background-color: rgb(203, 219, 253);
    background-size: 100% 100%;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
    transition: all 0.3s cubic-bezier(.215,.61,.355,1);
}

.secondary-button:active {
    background: linear-gradient(90deg, rgba(239, 244, 254, 1) 0%, rgba(233, 239, 250, 1) 100%);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
}

.secondary-button:focus {
    background: var(--system-secondary);
    border: 1px solid #99AACE;
}

.secondary-button:disabled {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}

.select-button {
    border-radius: 10px;
    background: white;
    border: 1px solid var(--blue-grey);
    color: var(--system-base);
    padding: 16px;
}

.select-button:hover, .select-button:focus {
    border: 1px solid var(--primary);
    color: var(--primary);
    outline: none;
    transition: ease-in-out 150ms;

}

.select-button:active {
    color: var(--primary);
    border: 2px solid var(--primary);
    background-color: var(--off-white);
    padding: 15px;
}

.dropdown-button:hover {
    color: var(--primary);
}

.dropdown-item:hover {
    background: var(--cta-primary);
}
.footer {
    background-color: white;
    height: 70px;
    box-shadow: 0 -3px 8px 0 rgba(77, 87, 143, 0.3);
}
.notification {
    min-height: 32px;
    border: 1px solid;
    border-radius: 4px;
    padding: 16px;
    max-width: 475px;
}
.stretched {
    max-width: none;
}
.notification-shadow {
    box-shadow: 0px 2px 4px 0px rgba(77,87,143,0.5);
}

.notification  .title {
    font-family: Nunito Bold;
    font-size: 1rem;
}

.notification  .body {
    font-family: Nunito Regular;
    font-size: 0.875rem;
    line-height: normal;
    display: block;
}

.informational {
    background: #E6EDFA;
    border-color: var(--blue-grey);
    color: var(--primary);
}

.warning {
    background-color: #FFFCD7;
    border-color: #ECDB00;
    color: #857B01;
}

.error {
    background: #FFEDEB;
    border-color: #EBCCC8;
    color: #CF1B04
}
.test-row{
    border-bottom: 1px solid var(--blue-grey);
}

.test-row td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.test-row td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.test-row:hover{
    border-radius: 10px;
    background: var(--off-white);
    box-shadow: 0 1px 6px 0 rgba(77, 87, 143, 0.4);
    border-bottom-color: transparent!important;
    color: var(--primary);
    font-family: Nunito Bold;
    cursor: default;
}
.question-title {
    padding-bottom: 1rem;
    border-bottom: 3px solid var(--system-base);
}

.question-indicator {
    position: relative;
}

.question-indicator .question-number {
    position: relative;
    min-width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border: solid 3px;
    margin-right: .5rem;
    /*margin-bottom: 12px;*/
    background: var(--light-grey);
    border-color: var(--system-base);
    color: var(--system-base);
}

.question-title .question-number {
    margin-bottom: 0;
    margin-right: 0;
}

.question-indicator .number-divider::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 3px;
    background: var(--system-base);
    top: 14px;
    right: 0;
}

.question-indicator .question-number.pending {
    background: var(--light-grey);
    border-color: var(--system-base);
    color: var(--system-base);
}

.question-indicator .question-number.active {
    border-color: var(--system-base);
    background: var(--system-base);
    color: white;
}

.question-indicator .question-number.complete {
    border-color: var(--cta-primary);
    background: var(--cta-primary);
    color: white;
}

.question-indicator .number-divider.complete::before {
    background: var(--cta-primary);
}

.question-indicator .question-number.active.complete, .question-indicator .question-number.active.incomplete{
    border-color: var(--system-base);
    background: var(--system-base);
    color: white;
}

.question-indicator .question-number.incomplete {
    border-color: var(--mid-grey);
    background: transparent;
    color: var(--mid-grey);
}
.question-indicator .number-divider.incomplete::before {
    background: var(--mid-grey);
}

.stripe {
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--system-base);
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.drag-item.draggable-source--is-dragging {
    background-color: white;
    border: 2px dashed var(--blue-grey);
    color: white;
}
.drag-item.draggable--over {
    background-color: white;
    border: 2px dashed var(--primary);
    color: white;
}

.draggable-container--over .drag-item.draggable-mirror {
    background-color: var(--primary-light);
    border: 2px solid var(--primary);
    color: var(--primary);
    box-shadow: 0 3px 8px 0 rgba(77, 87, 143, 0.3);
}
.draggable-container--placed .drag-item.draggable-mirror {
    background-color: var(--primary);
    border: 2px solid var(--primary);
    color: white;
    box-shadow: 0 3px 8px 0 rgba(77, 87, 143, 0.3);
}


.drag-item.draggable-mirror {
    background-color: var(--primary-light);
    border: 2px solid var(--primary-light);
    color: var(--primary);
    box-shadow: 0 3px 8px 0 rgba(77, 87, 143, 0.3);
    max-width: 500px;
}

.cke_top, .cke_bottom {
    background: var(--off-white)!important;
    color: var(--system-base);
}

.cke_ltr {
    background: var(--off-white);
    border-radius: 10px;
    overflow: hidden;
}

.overview .unanswered .cke_ltr {
    border: 1px solid var(--all-red);
}

.overview .cke_top, .overview .cke_bottom {
    background: white!important;
    color: var(--system-base);
    opacity: 50%;
}

[x-cloak] {
    visibility: hidden;
}

.overview .nav-overflow {
    background: linear-gradient(to bottom, var(--light-grey) 0%, rgba(255,255,255,0) 100%);
}

.matching-question .drag-item {
    max-width: 100%;
}

.matching-question .startGroup .drag-item {
    margin-bottom: 4px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}
.matching-question .classify .drag-item {
    margin-bottom: 4px;
    margin-right: 4px;
}

.matching-question .matching-dropzone .drag-item {
    width: 100%;
}

.slider-buttons {
    box-shadow: 0 0 5px 10px var(--light-grey);
}
.slider-buttons button:hover {
    color: var(--primary);
}

#navscrollbar {
    /* This is the magic bit for Firefox */
    scrollbar-width: none;
}

#navscrollbar::-webkit-scrollbar {
    /* This is the magic bit for WebKit */
    display: none;
}

.matching-question .matching .dropzone-height {
    min-height: 40px;
}
.matching-question .classify .dropzone-height {
    min-height: 220px;
}
.form-input {
    padding: 0 10px 0 10px;
    height: 40px;
    border-radius: 8px;
    background: var(--off-white);
    border: 1px solid var(--blue-grey)
}

.form-input:hover {
    border: 1px solid var(--primary);
}

.form-input:focus, .form-input:active {
    color: var(--primary);
    border: 1px solid var(--primary);
    outline: none;
}

.form-input.border-red {
    border-color: red!important;
}

.form-input.rounded-b-none {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group {
    display: inline-flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    transition: ease-in-out 150ms;
}

label {
    font-family: Nunito Regular;
}

input {
    font-family: Nunito Regular;
}

.input-group:hover input {
    transition: ease-in-out 150ms;
}

input:focus + label, textarea:focus + label, select:focus + label {
    font-family: Nunito Bold;
    color: var(--primary);
    transition: 150ms ease-in-out;
}

.other-input {
    min-width: 220px;
}

textarea {
    padding: 10px !important;
    font-size: 1rem;
    min-height: 120px;
    width: 100%;
}

.input-group.disabled label {
    font-size: 1rem;
    color: var(--mid-grey);
}

.input-group.disabled textarea {
    background: white;
    color: var(--system-base);
    border: solid 1px var(--light-grey)
}


.form-checkbox {
    margin-right: 5px;
}

.input-group select {
    line-height: 1rem;
    padding-right: 4rem;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid var(--blue-grey);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--off-white);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJBAMAAAAbVLtZAAAABGdBTUEAALGPC/xhBQAAACBjSFJN%20AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAALVBMVEV7ibYPKXpvf6/+/v7/%20//8MJngEH3Rqeq1wgLD9/f5kdan7+/0nP4hjdKmhq8sFhwJhAAAAAWJLR0QEj2jZUQAAAAlwSFlz%20AAAAYAAAAGAA8GtCzwAAAAd0SU1FB+UBGQoCDds8it0AAABLSURBVAjXY2BUdnFxVmRgCEs3cTFP%20C2BoS6v0LEtrYJiVlrUrLWsCg+eytGNpKx0YXOampeVOAdKe19JuugBpl1lZU8C050sXFwcAN68Y%20ZfYz1FUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjEtMDEtMjVUMTA6MDI6MTIrMDA6MDCg/O9HAAAA%20JXRFWHRkYXRlOm1vZGlmeQAyMDIxLTAxLTI1VDEwOjAyOjEyKzAwOjAw0aFX+wAAAABJRU5ErkJg%20gg==), linear-gradient(to bottom, var(--off-white) 0%, var(--off-white) 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 1.5rem top 50%, 0 0;
    background-size: .75em auto, 100%;
}

.input-group select.disabled {
    border: 1px solid var(--light-grey);
    color: var(--system-base);
    background-color: white;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJBAMAAAAbVLtZAAAABGdBTUEAALGPC/xhBQAAACBjSFJN%20AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAKlBMVEXGy9WXobLBx9H///+V%20oLKSna++xdDBx9L+/v68w879/f6hq7q7ws3W2uGuSyLDAAAAAWJLR0QDEQxM8gAAAAlwSFlzAAAA%20YAAAAGAA8GtCzwAAAAd0SU1FB+UBGgg3CW9R9/IAAABKSURBVAjXY2BUNjY2VmRgcA0zNjYLdWAo%20Dc2wSA0tYOgMjVwZGtnAYDE1dGvoDAMG457Q0JhmIG1xNPSEMZA27oxsBtMWN4yNDQC7vxSjN5C1%20LQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMS0wMS0yNlQwODo1NTowOSswMDowMBMeivEAAAAldEVY%20dGRhdGU6bW9kaWZ5ADIwMjEtMDEtMjZUMDg6NTU6MDkrMDA6MDBiQzJNAAAAAElFTkSuQmCC), linear-gradient(to bottom, white 0%, white 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 1.5rem top 50%, 0 0;
    background-size: .75em auto, 100%;
    opacity: 100;
}

.input-group input.disabled {
    border: 1px solid var(--light-grey);
    color: var(--system-base);
    background: white;
}

.trueFalse {
    padding: 9px 16px;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1rem;
}

.trueFalse:hover {
    border: 2px solid var(--blue-grey);
    color: var(--primary);
    margin: -1px;

}

.trueFalse:focus, .trueFalse:active {
    border: 2px solid var(--primary);
    color: var(--primary);
    font-weight: bold;
}

.true:hover, .true:focus, .true:active {
    padding-right: 14px;
    margin: -1px 0 -1px -1px;
}

.true.active {
    padding-right: 14px;
    border: 2px solid var(--primary);
    color: var(--primary);
    font-weight: bold;
    margin: -1px 0 -1px -1px;
}

.false:hover, false:focus, .false:active {
    padding-left: 15px;
    margin: -1px -1px -1px;
}

.false.active {
    padding-left: 15px;
    border: 2px solid var(--primary);
    color: var(--primary);
    font-weight: bold;
    margin: -1px -1px -1px;
}

.overview .truefalse-container:hover .active {
    opacity: 1;
}

.overview .trueFalse.active, .overview .trueFalse.active:hover {
    border: 2px solid var(--primary);
    color: var(--primary);
}
.overview .trueFalse, .overview .trueFalse:hover {
    border: 1px solid transparent;
    margin: 0;
    color: var(--mid-grey);
}
.overview .false, .overview .true {
    padding: 9px 16px;
}
.overview .true.active {
    margin: -1px 0 -1px -1px;
}
.overview .false.active {
    margin: -1px -1px -1px;
}


.multiple-choice-question:hover {
    box-shadow: 0 1px 18px 0 rgba(77, 87, 143, 0.4);
    border-color: var(--off-white);
    font-weight: bold;
    color: var(--primary);
    background: var(--off-white);
}

.multiple-choice-question:focus {
    border-color: var(--primary);
}

.multiple-choice-question:active {
    box-sizing: border-box;
    box-shadow: 0 1px 6px 0 rgba(77, 87, 143, 0.4);
    border-color: var(--primary);
    border-width: 2px;
    background: var(--off-white);
    font-weight: bold;
    color: var(--primary);
}

.multiple-choice-question.active {
    box-sizing: border-box;
    border-color: var(--primary);
    border-width: 2px;
    background: var(--off-white);
    font-weight: bold;
    color: var(--primary);
}


.overview .multiple-choice-question:hover, .overview .multiple-choice-question:active {
    box-shadow: none;
}
.multiple-choice-question.disabled, .multiple-choice-question.disabled:hover {
    background: white;
    border: solid 2px var(--blue-grey);
    color: var(--mid-grey);
    box-shadow: none;
    font-weight: normal;
}

.multiple-choice-question.active .close {
    display: none;
}
.multiple-choice-question.active:hover .checkmark {
    display: none;
}
.multiple-choice-question.active:hover .close {
    display: inline-block;
}
/*! tailwindcss v2.0.4 | MIT License | https://tailwindcss.com */

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

:root {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
	font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}

/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

/**
 * Constrain images and videos to the parent width and preserve
 * their instrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

*{
	--tw-shadow: 0 0 #0000;
	--tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgba(59, 130, 246, 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
}
.container{
	width: 100%;
}
@media (min-width: 640px){

	.container{
		max-width: 640px;
	}
}
@media (min-width: 768px){

	.container{
		max-width: 768px;
	}
}
@media (min-width: 1024px){

	.container{
		max-width: 1024px;
	}
}
@media (min-width: 1280px){

	.container{
		max-width: 1280px;
	}
}
@media (min-width: 1536px){

	.container{
		max-width: 1536px;
	}
}
.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
.pointer-events-none{
	pointer-events: none;
}
.pointer-events-auto{
	pointer-events: auto;
}
.invisible{
	visibility: hidden;
}
.fixed{
	position: fixed;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.inset-0{
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}
.inset-y-0{
	top: 0px;
	bottom: 0px;
}
.inset-x-0{
	left: 0px;
	right: 0px;
}
.left-0{
	left: 0px;
}
.top-0{
	top: 0px;
}
.right-0{
	right: 0px;
}
.bottom-0{
	bottom: 0px;
}
.top-4{
	top: 1rem;
}
.top-2\.5{
	top: 0.625rem;
}
.top-2{
	top: 0.5rem;
}
.-top-28{
	top: -7rem;
}
.left-20{
	left: 5rem;
}
.top-5{
	top: 1.25rem;
}
.left-5{
	left: 1.25rem;
}
.right-2{
	right: 0.5rem;
}
.-top-px{
	top: -1px;
}
.-top-10{
	top: -2.5rem;
}
.bottom-3{
	bottom: 0.75rem;
}
.right-3\.5{
	right: 0.875rem;
}
.right-3{
	right: 0.75rem;
}
.-bottom-1{
	bottom: -0.25rem;
}
.left-\[60px\]{
	left: 60px;
}
.z-10{
	z-index: 10;
}
.z-40{
	z-index: 40;
}
.z-50{
	z-index: 50;
}
.z-20{
	z-index: 20;
}
.z-30{
	z-index: 30;
}
.z-0{
	z-index: 0;
}
.order-1{
	order: 1;
}
.order-3{
	order: 3;
}
.order-2{
	order: 2;
}
.col-span-3{
	grid-column: span 3 / span 3;
}
.col-span-2{
	grid-column: span 2 / span 2;
}
.float-left{
	float: left;
}
.m-4{
	margin: 1rem;
}
.mx-auto{
	margin-left: auto;
	margin-right: auto;
}
.my-8{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.mx-8{
	margin-left: 2rem;
	margin-right: 2rem;
}
.mx-4{
	margin-left: 1rem;
	margin-right: 1rem;
}
.my-2{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.my-10{
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}
.mb-4{
	margin-bottom: 1rem;
}
.mb-5{
	margin-bottom: 1.25rem;
}
.mt-40{
	margin-top: 10rem;
}
.mb-7{
	margin-bottom: 1.75rem;
}
.ml-auto{
	margin-left: auto;
}
.mt-1{
	margin-top: 0.25rem;
}
.mt-6{
	margin-top: 1.5rem;
}
.mt-2{
	margin-top: 0.5rem;
}
.mr-3{
	margin-right: 0.75rem;
}
.mt-2\.5{
	margin-top: 0.625rem;
}
.ml-3{
	margin-left: 0.75rem;
}
.ml-4{
	margin-left: 1rem;
}
.mb-3{
	margin-bottom: 0.75rem;
}
.mb-1{
	margin-bottom: 0.25rem;
}
.mt-4{
	margin-top: 1rem;
}
.mr-4{
	margin-right: 1rem;
}
.mb-40{
	margin-bottom: 10rem;
}
.ml-40{
	margin-left: 10rem;
}
.mr-40{
	margin-right: 10rem;
}
.mr-2{
	margin-right: 0.5rem;
}
.mb-6{
	margin-bottom: 1.5rem;
}
.mr-0{
	margin-right: 0px;
}
.mb-16{
	margin-bottom: 4rem;
}
.mt-3{
	margin-top: 0.75rem;
}
.ml-2{
	margin-left: 0.5rem;
}
.ml-5{
	margin-left: 1.25rem;
}
.mr-6{
	margin-right: 1.5rem;
}
.-ml-2{
	margin-left: -0.5rem;
}
.-ml-px{
	margin-left: -1px;
}
.-mb-px{
	margin-bottom: -1px;
}
.mt-auto{
	margin-top: auto;
}
.grid{
	display: grid;
}
.block{
	display: block;
}
.flex{
	display: flex;
}
.inline-flex{
	display: inline-flex;
}
.inline-block{
	display: inline-block;
}
.inline{
	display: inline;
}
.table{
	display: table;
}
.hidden{
	display: none;
}
.h-12{
	height: 3rem;
}
.h-40{
	height: 10rem;
}
.h-6{
	height: 1.5rem;
}
.h-5{
	height: 1.25rem;
}
.h-full{
	height: 100%;
}
.h-auto{
	height: auto;
}
.h-16{
	height: 4rem;
}
.h-8{
	height: 2rem;
}
.h-7{
	height: 1.75rem;
}
.h-80{
	height: 20rem;
}
.h-3{
	height: 0.75rem;
}
.h-4{
	height: 1rem;
}
.h-2{
	height: 0.5rem;
}
.max-h-4{
	max-height: 1rem;
}
.max-h-0{
	max-height: 0px;
}
.min-h-screen{
	min-height: 100vh;
}
.w-1\/2{
	width: 50%;
}
.w-full{
	width: 100%;
}
.w-60{
	width: 15rem;
}
.w-4{
	width: 1rem;
}
.w-56{
	width: 14rem;
}
.w-6{
	width: 1.5rem;
}
.w-0{
	width: 0px;
}
.w-5{
	width: 1.25rem;
}
.w-9\/12{
	width: 75%;
}
.w-3\/12{
	width: 25%;
}
.w-20{
	width: 5rem;
}
.w-4\/6{
	width: 66.666667%;
}
.w-8{
	width: 2rem;
}
.w-12{
	width: 3rem;
}
.w-7{
	width: 1.75rem;
}
.w-3\/5{
	width: 60%;
}
.w-3{
	width: 0.75rem;
}
.w-16{
	width: 4rem;
}
.w-10{
	width: 2.5rem;
}
.w-1\/3{
	width: 33.333333%;
}
.min-w-full{
	min-width: 100%;
}
.min-w-max{
	min-width: -webkit-max-content;
	min-width: -moz-max-content;
	min-width: max-content;
}
.max-w-2xl{
	max-width: 42rem;
}
.max-w-sm{
	max-width: 24rem;
}
.max-w-5xl{
	max-width: 64rem;
}
.max-w-4xl{
	max-width: 56rem;
}
.max-w-xl{
	max-width: 36rem;
}
.max-w-3xl{
	max-width: 48rem;
}
.max-w-max{
	max-width: -webkit-max-content;
	max-width: -moz-max-content;
	max-width: max-content;
}
.flex-1{
	flex: 1 1 0%;
}
.flex-shrink-0{
	flex-shrink: 0;
}
.flex-grow{
	flex-grow: 1;
}
.border-collapse{
	border-collapse: collapse;
}
.transform{
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.origin-top-right{
	transform-origin: top right;
}
.translate-y-4{
	--tw-translate-y: 1rem;
}
.translate-y-0{
	--tw-translate-y: 0px;
}
.translate-y-2{
	--tw-translate-y: 0.5rem;
}
.-translate-y-1{
	--tw-translate-y: -0.25rem;
}
.scale-95{
	--tw-scale-x: .95;
	--tw-scale-y: .95;
}
.scale-100{
	--tw-scale-x: 1;
	--tw-scale-y: 1;
}
.cursor-pointer{
	cursor: pointer;
}
.cursor-default{
	cursor: default;
}
.select-none{
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.resize-none{
	resize: none;
}
.resize{
	resize: both;
}
.appearance-none{
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}
.grid-cols-3{
	grid-template-columns: repeat(3, minmax(0, 1fr));
}
.flex-col{
	flex-direction: column;
}
.flex-row{
	flex-direction: row;
}
.flex-wrap{
	flex-wrap: wrap;
}
.content-center{
	align-content: center;
}
.items-center{
	align-items: center;
}
.items-end{
	align-items: flex-end;
}
.items-stretch{
	align-items: stretch;
}
.items-start{
	align-items: flex-start;
}
.justify-center{
	justify-content: center;
}
.justify-between{
	justify-content: space-between;
}
.justify-end{
	justify-content: flex-end;
}
.gap-y-4{
	row-gap: 1rem;
}
.space-y-6 > :not([hidden]) ~ :not([hidden]){
	--tw-space-y-reverse: 0;
	margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}
.space-x-3 > :not([hidden]) ~ :not([hidden]){
	--tw-space-x-reverse: 0;
	margin-right: calc(0.75rem * var(--tw-space-x-reverse));
	margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-8 > :not([hidden]) ~ :not([hidden]){
	--tw-space-y-reverse: 0;
	margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}
.space-y-4 > :not([hidden]) ~ :not([hidden]){
	--tw-space-y-reverse: 0;
	margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
.space-x-2\.5 > :not([hidden]) ~ :not([hidden]){
	--tw-space-x-reverse: 0;
	margin-right: calc(0.625rem * var(--tw-space-x-reverse));
	margin-left: calc(0.625rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-2 > :not([hidden]) ~ :not([hidden]){
	--tw-space-x-reverse: 0;
	margin-right: calc(0.5rem * var(--tw-space-x-reverse));
	margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-1\.5 > :not([hidden]) ~ :not([hidden]){
	--tw-space-x-reverse: 0;
	margin-right: calc(0.375rem * var(--tw-space-x-reverse));
	margin-left: calc(0.375rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-1 > :not([hidden]) ~ :not([hidden]){
	--tw-space-x-reverse: 0;
	margin-right: calc(0.25rem * var(--tw-space-x-reverse));
	margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-3 > :not([hidden]) ~ :not([hidden]){
	--tw-space-y-reverse: 0;
	margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.space-x-6 > :not([hidden]) ~ :not([hidden]){
	--tw-space-x-reverse: 0;
	margin-right: calc(1.5rem * var(--tw-space-x-reverse));
	margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-1 > :not([hidden]) ~ :not([hidden]){
	--tw-space-y-reverse: 0;
	margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}
.space-x-4 > :not([hidden]) ~ :not([hidden]){
	--tw-space-x-reverse: 0;
	margin-right: calc(1rem * var(--tw-space-x-reverse));
	margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-5 > :not([hidden]) ~ :not([hidden]){
	--tw-space-y-reverse: 0;
	margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}
.space-y-2 > :not([hidden]) ~ :not([hidden]){
	--tw-space-y-reverse: 0;
	margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.space-x-5 > :not([hidden]) ~ :not([hidden]){
	--tw-space-x-reverse: 0;
	margin-right: calc(1.25rem * var(--tw-space-x-reverse));
	margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-10 > :not([hidden]) ~ :not([hidden]){
	--tw-space-y-reverse: 0;
	margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
}
.overflow-y-hidden{
	overflow-y: hidden;
}
.overflow-y-auto{
	overflow-y: auto;
}
.overflow-hidden{
	overflow: hidden;
}
.overflow-auto{
	overflow: auto;
}
.overflow-visible{
	overflow: visible;
}
.overflow-x-auto{
	overflow-x: auto;
}
.overflow-ellipsis{
	text-overflow: ellipsis;
}
.rounded-md{
	border-radius: 0.375rem;
}
.rounded-full{
	border-radius: 9999px;
}
.rounded-lg{
	border-radius: 0.5rem;
}
.rounded-none{
	border-radius: 0px;
}
.rounded{
	border-radius: 0.25rem;
}
.rounded-\[4px\]{
	border-radius: 4px;
}
.rounded-l-md{
	border-top-left-radius: 0.375rem;
	border-bottom-left-radius: 0.375rem;
}
.rounded-r-md{
	border-top-right-radius: 0.375rem;
	border-bottom-right-radius: 0.375rem;
}
.rounded-tl-md{
	border-top-left-radius: 0.375rem;
}
.rounded-tr-md{
	border-top-right-radius: 0.375rem;
}
.rounded-bl-md{
	border-bottom-left-radius: 0.375rem;
}
.rounded-br-md{
	border-bottom-right-radius: 0.375rem;
}
.border{
	border-width: 1px;
}
.border-2{
	border-width: 2px;
}
.border-b-2{
	border-bottom-width: 2px;
}
.border-r-0{
	border-right-width: 0px;
}
.border-b{
	border-bottom-width: 1px;
}
.border-l-0{
	border-left-width: 0px;
}
.border-dashed{
	border-style: dashed;
}
.border-red-500{
	--tw-border-opacity: 1;
	border-color: rgba(239, 68, 68, var(--tw-border-opacity));
}
.border-gray-300{
	--tw-border-opacity: 1;
	border-color: rgba(209, 213, 219, var(--tw-border-opacity));
}
.border-transparent{
	border-color: transparent;
}
.border-blue-300{
	--tw-border-opacity: 1;
	border-color: rgba(147, 197, 253, var(--tw-border-opacity));
}
.border-gray-200{
	--tw-border-opacity: 1;
	border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}
.border-indigo-200{
	--tw-border-opacity: 1;
	border-color: rgba(199, 210, 254, var(--tw-border-opacity));
}
.bg-white{
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.bg-indigo-600{
	--tw-bg-opacity: 1;
	background-color: rgba(79, 70, 229, var(--tw-bg-opacity));
}
.bg-gray-500{
	--tw-bg-opacity: 1;
	background-color: rgba(107, 114, 128, var(--tw-bg-opacity));
}
.bg-gray-200{
	--tw-bg-opacity: 1;
	background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}
.bg-black{
	--tw-bg-opacity: 1;
	background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}
.bg-gray-50{
	--tw-bg-opacity: 1;
	background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
}
.bg-red-100{
	--tw-bg-opacity: 1;
	background-color: rgba(254, 226, 226, var(--tw-bg-opacity));
}
.bg-gray-100{
	--tw-bg-opacity: 1;
	background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}
.bg-\[\#f0ad4e\]{
	--tw-bg-opacity: 1;
	background-color: rgba(240, 173, 78, var(--tw-bg-opacity));
}
.bg-opacity-0{
	--tw-bg-opacity: 0;
}
.fill-current{
	fill: currentColor;
}
.stroke-current{
	stroke: currentColor;
}
.p-8{
	padding: 2rem;
}
.p-2{
	padding: 0.5rem;
}
.p-4{
	padding: 1rem;
}
.p-3{
	padding: 0.75rem;
}
.p-40{
	padding: 10rem;
}
.p-20{
	padding: 5rem;
}
.p-2\.5{
	padding: 0.625rem;
}
.p-0{
	padding: 0px;
}
.p-10{
	padding: 2.5rem;
}
.p-5{
	padding: 1.25rem;
}
.py-5{
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}
.px-8{
	padding-left: 2rem;
	padding-right: 2rem;
}
.px-3{
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
.py-2{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.px-4{
	padding-left: 1rem;
	padding-right: 1rem;
}
.py-1\.5{
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
}
.py-1{
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
.py-6{
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.px-7{
	padding-left: 1.75rem;
	padding-right: 1.75rem;
}
.px-2\.5{
	padding-left: 0.625rem;
	padding-right: 0.625rem;
}
.px-2{
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.px-5{
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}
.px-28{
	padding-left: 7rem;
	padding-right: 7rem;
}
.px-6{
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.py-4{
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.px-1\.5{
	padding-left: 0.375rem;
	padding-right: 0.375rem;
}
.px-1{
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}
.pt-4{
	padding-top: 1rem;
}
.pt-0\.5{
	padding-top: 0.125rem;
}
.pt-0{
	padding-top: 0px;
}
.pl-40{
	padding-left: 10rem;
}
.pr-40{
	padding-right: 10rem;
}
.pt-40{
	padding-top: 10rem;
}
.pb-40{
	padding-bottom: 10rem;
}
.pl-20{
	padding-left: 5rem;
}
.pr-20{
	padding-right: 5rem;
}
.pt-20{
	padding-top: 5rem;
}
.pb-20{
	padding-bottom: 5rem;
}
.pl-4{
	padding-left: 1rem;
}
.pr-4{
	padding-right: 1rem;
}
.pb-4{
	padding-bottom: 1rem;
}
.pb-5{
	padding-bottom: 1.25rem;
}
.pr-2{
	padding-right: 0.5rem;
}
.pl-2{
	padding-left: 0.5rem;
}
.pl-3{
	padding-left: 0.75rem;
}
.pl-7{
	padding-left: 1.75rem;
}
.pr-12{
	padding-right: 3rem;
}
.pr-3{
	padding-right: 0.75rem;
}
.pt-5{
	padding-top: 1.25rem;
}
.pl-2\.5{
	padding-left: 0.625rem;
}
.pb-8{
	padding-bottom: 2rem;
}
.pt-6{
	padding-top: 1.5rem;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.align-middle{
	vertical-align: middle;
}
.font-sans{
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.text-sm{
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.text-lg{
	font-size: 1.125rem;
	line-height: 1.75rem;
}
.text-xs{
	font-size: 0.75rem;
	line-height: 1rem;
}
.text-base{
	font-size: 1rem;
	line-height: 1.5rem;
}
.font-medium{
	font-weight: 500;
}
.capitalize{
	text-transform: capitalize;
}
.uppercase{
	text-transform: uppercase;
}
.italic{
	font-style: italic;
}
.leading-5{
	line-height: 1.25rem;
}
.leading-4{
	line-height: 1rem;
}
.text-gray-700{
	--tw-text-opacity: 1;
	color: rgba(55, 65, 81, var(--tw-text-opacity));
}
.text-red-500{
	--tw-text-opacity: 1;
	color: rgba(239, 68, 68, var(--tw-text-opacity));
}
.text-white{
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-gray-600{
	--tw-text-opacity: 1;
	color: rgba(75, 85, 99, var(--tw-text-opacity));
}
.text-indigo-600{
	--tw-text-opacity: 1;
	color: rgba(79, 70, 229, var(--tw-text-opacity));
}
.text-gray-400{
	--tw-text-opacity: 1;
	color: rgba(156, 163, 175, var(--tw-text-opacity));
}
.text-green-400{
	--tw-text-opacity: 1;
	color: rgba(52, 211, 153, var(--tw-text-opacity));
}
.text-gray-900{
	--tw-text-opacity: 1;
	color: rgba(17, 24, 39, var(--tw-text-opacity));
}
.text-gray-500{
	--tw-text-opacity: 1;
	color: rgba(107, 114, 128, var(--tw-text-opacity));
}
.text-red-600{
	--tw-text-opacity: 1;
	color: rgba(220, 38, 38, var(--tw-text-opacity));
}
.text-blue-600{
	--tw-text-opacity: 1;
	color: rgba(37, 99, 235, var(--tw-text-opacity));
}
.antialiased{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.placeholder-gray-400::-moz-placeholder{
	--tw-placeholder-opacity: 1;
	color: rgba(156, 163, 175, var(--tw-placeholder-opacity));
}
.placeholder-gray-400:-ms-input-placeholder{
	--tw-placeholder-opacity: 1;
	color: rgba(156, 163, 175, var(--tw-placeholder-opacity));
}
.placeholder-gray-400::placeholder{
	--tw-placeholder-opacity: 1;
	color: rgba(156, 163, 175, var(--tw-placeholder-opacity));
}
.opacity-0{
	opacity: 0;
}
.opacity-100{
	opacity: 1;
}
.opacity-75{
	opacity: 0.75;
}
.opacity-30{
	opacity: 0.3;
}
.shadow{
	--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-sm{
	--tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-lg{
	--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-xl{
	--tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-2xl{
	--tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline-none{
	outline: 2px solid transparent;
	outline-offset: 2px;
}
.transition{
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
.transition-all{
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
.transition-opacity{
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
.delay-200{
	transition-delay: 200ms;
}
.duration-150{
	transition-duration: 150ms;
}
.duration-100{
	transition-duration: 100ms;
}
.duration-75{
	transition-duration: 75ms;
}
.duration{
	transition-duration: 150ms;
}
.duration-300{
	transition-duration: 300ms;
}
.duration-200{
	transition-duration: 200ms;
}
.duration-500{
	transition-duration: 500ms;
}
.ease-in-out{
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ease-out{
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.ease-in{
	transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

:root {
    --cta-primary: #3ab753;
    --cta-primary-mid-dark: #27973D;
    --cta-primary-dark: #006314;
    --cta-secondary: #004DF5;
    --primary: #004df5;
    --primary-light: #e6edfa;
    --secondary: #ECDB00;
    --highlight-primary: #ECDB00;
    --highlight-primary-mid-dark: #dec802;
    --highlight-primary-light: #fffcd7;
    --system-base: #041f74;
    --system-secondary: #CEDAF3;
    --mid-grey: #929DAF;
    --light-grey: #F0F2F5;
    --blue-grey: #c3d0ed;
    --shadow-blue: #4D578F;
    --off-white: #f9faff;
    --all-red: #cf1b04;
    --red-light: #ffedeb;
    --note: #6b7789;
}

@font-face {
    font-family: Nunito Bold;
    src: url(/fonts/Nunito-Bold.ttf?7a387fa586931c1ca491b70b8305b435);
    font-weight: bold;
}

@font-face {
    font-family: Nunito Regular;
    src: url(/fonts/Nunito-Regular.ttf?37a4c5442e0a607a7acce2ec3966982a);
    font-weight: normal;
}

@font-face {
    font-family: Zilla Slab Regular;
    src: url(/fonts/ZillaSlab-Regular.ttf?77d29d36cb7664b0568e87376a1f1ed4);
}

body {
    font-family: Nunito Regular, sans-serif !important;
    background: var(--light-grey) !important;
    color: var(--system-base);
}

svg {
    display: inline-block;
}

.cta-primary {
    color: var(--cta-primary);
}

.cta-primary-mid-dark {
    color: var(--cta-primary-mid-dark);
}

.cta-primary-dark {
    color: var(--cta-primary-dark);
}

.cta-secondary {
    color: var(--cta-secondary);
}

.primary {
    color: var(--primary);
}

.primary-light {
    color: var(--primary-light);
}

.secondary {
    color: var(--secondary);
}

.highlight-primary {
    color: var(--highlight-primary);
}

.base {
    color: var(--system-base);
}

.system-secondary {
    color: var(--system-secondary);
}

.mid-grey {
    color: var(--mid-grey);
}

.light-grey {
    color: var(--light-grey);
}

.blue-grey {
    color: var(--blue-grey);
}

.shadow-blue {
    color: var(--shadow-blue);
}

.off-white {
    color: var(--off-white);
}

.bg-cta-primary {
    background: var(--cta-primary);
}

.bg-cta-secondary {
    background: var(--cta-secondary);
}

.bg-primary {
    background: var(--primary);
}

.bg-primary-light {
    background: var(--primary-light);
}

.bg-secondary {
    background: var(--secondary);
}

.bg-highlight-primary {
    background: var(--highlight-primary);
}

.bg-system-base {
    background: var(--system-base);
}

.bg-system-secondary {
    background: var(--system-secondary);
}

.bg-mid-grey {
    background: var(--mid-grey);
}

.bg-light-grey {
    background: var(--light-grey);
}

.bg-blue-grey {
    background: var(--blue-grey);
}

.bg-shadow-blue {
    background: var(--shadow-blue);
}

.bg-off-white {
    background: var(--off-white);
}

.border-cta-primary {
    border-color: var(--cta-primary);
}

.border-cta-secondary {
    border-color: var(--cta-secondary);
}

.border-primary {
    border-color: var(--primary);
}

.border-primary-light {
    border-color: var(--primary-light);
}

.border-secondary {
    border-color: var(--secondary);
}

.border-highlight-primary {
    border-color: var(--highlight-primary);
}

.border-system-base {
    border-color: var(--system-base);
}

.border-system-secondary {
    border-color: var(--system-secondary);
}

.border-mid-grey {
    border-color: var(--mid-grey);
}

.border-light-grey {
    border-color: var(--light-grey);
}

.border-blue-grey {
    border-color: var(--blue-grey);
}

.border-shadow-blue {
    border-color: var(--shadow-blue);
}

.border-off-white {
    border-color: var(--off-white);
}

.all-red {
    color: var(--all-red);
}
.bg-all-red {
    background: var(--all-red);
}
.border-all-red {
    border-color: var(--all-red);
}

.red-light {
    color: var(--red-light);
}
.bg-red-light {
    background: var(--red-light);
}
.border-red-light {
    border-color: var(--red-light);
}

.note {
    color: var(--note);
}
.bg-note {
    background: var(--note);
}
.border-note {
    border-color: var(--note);
}

.primary-hover:hover {
    color: var(--primary);
}

.rounded-10 {
    border-radius: 10px;
}

h1 {
    font-size: 2rem;
    font-family: Nunito Bold;
    line-height: 2rem;
    color: var(--system-base);
}

h2 {
    font-size: 1.75rem;
    font-family: Nunito Bold;
    line-height: 1.75rem;
    color: var(--system-base);
}

h3 {
    font-size: 1.5rem;
    font-family: Zilla Slab Regular;
    line-height: 1.5rem;
    color: var(--system-base);
}

h4 {
    font-size: 1.5rem;
    font-family: Nunito Bold;
    line-height: 1.5rem;
    color: var(--system-base);
}

h5 {
    font-size: 1.25rem;
    font-family: Nunito Bold;
    line-height: 1.25rem;
    color: var(--system-base);
}

h6 {
    font-size: 1.125rem;
    font-family: Nunito Bold;
    line-height: 1.125rem;
    color: var(--system-base);
}

.body1 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-family: Nunito Regular;
}

.body2 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: Nunito Regular;
}

.bold {
    font-family: Nunito Bold;
}

.regular {
    font-family: Nunito Regular;
}

.font-size-14 {
    font-size: .875rem;
}

.font-size-10 {
    font-size: .625rem;
}

.font-size-16 {
    font-size: 1rem;
}

.font-size-18 {
    font-size: 1.125rem;
}

.font-size-20 {
    font-size: 1.25rem;
}


/*NOG VERWERKEN IN CSS FILES*/

.rotate-svg-90 > svg {
    transform: rotate(90deg);
}
.rotate-svg-180 > svg {
    transform: rotate(180deg);
}
.rotate-svg-270 > svg {
    transform: rotate(270deg);
}
.rotate-svg-45 > svg {
    transform: rotate(45deg);
}

.dropdown-items-container {
    border: solid 1px var(--light-grey);
    border-radius: .375rem;
}
.dropdown-items-container .dropdown-item:first-child {
    border-top-left-radius: .375rem;
    border-top-right-radius: .375rem;
}
.dropdown-items-container .dropdown-item:last-child {
    border-bottom-left-radius: .375rem;
    border-bottom-right-radius: .375rem;
}

.content-section {
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 18px 0 rgba(77, 87, 143, 0.1);
}

.divider {
    height: 3px;
    background: var(--system-base);
}

.m-foot-head {
    margin-top: 70px;
    margin-bottom: 70px;
}

.student-bg {
    background-image: linear-gradient(to top, var(--highlight-primary-mid-dark), var(--highlight-primary));
}
/* Hide browsealoud button*/
button#browsealoud-button--launchpad {
    display:none !important;
}

body.modal-open {
    overflow-y: hidden;
}

.hover\:scale-110:hover{
	--tw-scale-x: 1.1;
	--tw-scale-y: 1.1;
}

.hover\:bg-indigo-500:hover{
	--tw-bg-opacity: 1;
	background-color: rgba(99, 102, 241, var(--tw-bg-opacity));
}

.hover\:bg-white:hover{
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.hover\:font-bold:hover{
	font-weight: 700;
}

.hover\:text-indigo-500:hover{
	--tw-text-opacity: 1;
	color: rgba(99, 102, 241, var(--tw-text-opacity));
}

.hover\:text-white:hover{
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.hover\:text-gray-500:hover{
	--tw-text-opacity: 1;
	color: rgba(107, 114, 128, var(--tw-text-opacity));
}

.hover\:text-gray-400:hover{
	--tw-text-opacity: 1;
	color: rgba(156, 163, 175, var(--tw-text-opacity));
}

.focus\:z-10:focus{
	z-index: 10;
}

.focus\:border-blue-300:focus{
	--tw-border-opacity: 1;
	border-color: rgba(147, 197, 253, var(--tw-border-opacity));
}

.focus\:border-indigo-700:focus{
	--tw-border-opacity: 1;
	border-color: rgba(67, 56, 202, var(--tw-border-opacity));
}

.focus\:text-gray-500:focus{
	--tw-text-opacity: 1;
	color: rgba(107, 114, 128, var(--tw-text-opacity));
}

.focus\:underline:focus{
	text-decoration: underline;
}

.focus\:outline-none:focus{
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.focus\:ring-indigo-500:focus{
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(99, 102, 241, var(--tw-ring-opacity));
}

.active\:bg-indigo-700:active{
	--tw-bg-opacity: 1;
	background-color: rgba(67, 56, 202, var(--tw-bg-opacity));
}

.active\:bg-gray-50:active{
	--tw-bg-opacity: 1;
	background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
}

.active\:bg-gray-100:active{
	--tw-bg-opacity: 1;
	background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}

.active\:text-gray-800:active{
	--tw-text-opacity: 1;
	color: rgba(31, 41, 55, var(--tw-text-opacity));
}

.active\:text-gray-700:active{
	--tw-text-opacity: 1;
	color: rgba(55, 65, 81, var(--tw-text-opacity));
}

.active\:text-gray-500:active{
	--tw-text-opacity: 1;
	color: rgba(107, 114, 128, var(--tw-text-opacity));
}

.group:hover .group-hover\:opacity-0{
	opacity: 0;
}

.group:hover .group-hover\:opacity-100{
	opacity: 1;
}

@media (min-width: 640px){

	.sm\:absolute{
		position: absolute;
	}

	.sm\:right-0{
		right: 0px;
	}

	.sm\:mx-auto{
		margin-left: auto;
		margin-right: auto;
	}

	.sm\:mx-0{
		margin-left: 0px;
		margin-right: 0px;
	}

	.sm\:mb-0{
		margin-bottom: 0px;
	}

	.sm\:mr-4{
		margin-right: 1rem;
	}

	.sm\:ml-auto{
		margin-left: auto;
	}

	.sm\:ml-2{
		margin-left: 0.5rem;
	}

	.sm\:mt-2{
		margin-top: 0.5rem;
	}

	.sm\:mt-0{
		margin-top: 0px;
	}

	.sm\:ml-4{
		margin-left: 1rem;
	}

	.sm\:flex{
		display: flex;
	}

	.sm\:hidden{
		display: none;
	}

	.sm\:h-10{
		height: 2.5rem;
	}

	.sm\:w-full{
		width: 100%;
	}

	.sm\:w-1\/2{
		width: 50%;
	}

	.sm\:w-3\/5{
		width: 60%;
	}

	.sm\:w-32{
		width: 8rem;
	}

	.sm\:w-auto{
		width: auto;
	}

	.sm\:w-10{
		width: 2.5rem;
	}

	.sm\:max-w-sm{
		max-width: 24rem;
	}

	.sm\:max-w-md{
		max-width: 28rem;
	}

	.sm\:max-w-lg{
		max-width: 32rem;
	}

	.sm\:max-w-xl{
		max-width: 36rem;
	}

	.sm\:max-w-2xl{
		max-width: 42rem;
	}

	.sm\:flex-1{
		flex: 1 1 0%;
	}

	.sm\:translate-y-0{
		--tw-translate-y: 0px;
	}

	.sm\:translate-x-2{
		--tw-translate-x: 0.5rem;
	}

	.sm\:translate-x-0{
		--tw-translate-x: 0px;
	}

	.sm\:scale-95{
		--tw-scale-x: .95;
		--tw-scale-y: .95;
	}

	.sm\:scale-100{
		--tw-scale-x: 1;
		--tw-scale-y: 1;
	}

	.sm\:items-start{
		align-items: flex-start;
	}

	.sm\:items-center{
		align-items: center;
	}

	.sm\:justify-start{
		justify-content: flex-start;
	}

	.sm\:justify-between{
		justify-content: space-between;
	}

	.sm\:rounded-lg{
		border-radius: 0.5rem;
	}

	.sm\:p-6{
		padding: 1.5rem;
	}

	.sm\:p-10{
		padding: 2.5rem;
	}

	.sm\:px-0{
		padding-left: 0px;
		padding-right: 0px;
	}

	.sm\:pr-2{
		padding-right: 0.5rem;
	}

	.sm\:pl-2{
		padding-left: 0.5rem;
	}

	.sm\:pb-4{
		padding-bottom: 1rem;
	}

	.sm\:text-left{
		text-align: left;
	}

	.sm\:text-sm{
		font-size: 0.875rem;
		line-height: 1.25rem;
	}

	.sm\:leading-5{
		line-height: 1.25rem;
	}
}

@media (min-width: 768px){

	.md\:absolute{
		position: absolute;
	}

	.md\:bottom-0{
		bottom: 0px;
	}

	.md\:right-0{
		right: 0px;
	}

	.md\:order-2{
		order: 2;
	}

	.md\:order-3{
		order: 3;
	}

	.md\:float-right{
		float: right;
	}

	.md\:m-0{
		margin: 0px;
	}

	.md\:mb-0{
		margin-bottom: 0px;
	}

	.md\:mb-20{
		margin-bottom: 5rem;
	}

	.md\:mt-0{
		margin-top: 0px;
	}

	.md\:mt-2{
		margin-top: 0.5rem;
	}

	.md\:mr-16{
		margin-right: 4rem;
	}

	.md\:mb-16{
		margin-bottom: 4rem;
	}

	.md\:ml-4{
		margin-left: 1rem;
	}

	.md\:flex{
		display: flex;
	}

	.md\:h-auto{
		height: auto;
	}

	.md\:w-1\/2{
		width: 50%;
	}

	.md\:w-full{
		width: 100%;
	}

	.md\:w-auto{
		width: auto;
	}

	.md\:flex-row{
		flex-direction: row;
	}

	.md\:justify-between{
		justify-content: space-between;
	}

	.md\:space-x-4 > :not([hidden]) ~ :not([hidden]){
		--tw-space-x-reverse: 0;
		margin-right: calc(1rem * var(--tw-space-x-reverse));
		margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
	}

	.md\:space-y-0 > :not([hidden]) ~ :not([hidden]){
		--tw-space-y-reverse: 0;
		margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(0px * var(--tw-space-y-reverse));
	}

	.md\:overflow-auto{
		overflow: auto;
	}

	.md\:pl-2{
		padding-left: 0.5rem;
	}

	.md\:pl-4{
		padding-left: 1rem;
	}

	.md\:pr-6{
		padding-right: 1.5rem;
	}
}

@media (min-width: 1024px){

	.lg\:mx-28{
		margin-left: 7rem;
		margin-right: 7rem;
	}

	.lg\:mt-40{
		margin-top: 10rem;
	}

	.lg\:h-auto{
		height: auto;
	}

	.lg\:h-12{
		height: 3rem;
	}

	.lg\:flex-grow{
		flex-grow: 1;
	}
}

@media (min-width: 1280px){

	.xl\:top-10{
		top: 2.5rem;
	}

	.xl\:left-10{
		left: 2.5rem;
	}

	.xl\:mx-28{
		margin-left: 7rem;
		margin-right: 7rem;
	}

	.xl\:w-11\/12{
		width: 91.666667%;
	}

	.xl\:flex-row{
		flex-direction: row;
	}

	.xl\:space-y-0 > :not([hidden]) ~ :not([hidden]){
		--tw-space-y-reverse: 0;
		margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(0px * var(--tw-space-y-reverse));
	}

	.xl\:space-x-5 > :not([hidden]) ~ :not([hidden]){
		--tw-space-x-reverse: 0;
		margin-right: calc(1.25rem * var(--tw-space-x-reverse));
		margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
	}

	.xl\:px-28{
		padding-left: 7rem;
		padding-right: 7rem;
	}
}

@media (min-width: 1536px){

	.\32xl\:w-4\/5{
		width: 80%;
	}
}

