.form-input {
    padding: 0 10px 0 10px;
    height: 40px;
    border-radius: 8px;
    background: var(--off-white);
    border: 1px solid var(--blue-grey)
}

.form-input:hover {
    border: 1px solid var(--primary);
}

.form-input:focus, .form-input:active {
    color: var(--primary);
    border: 1px solid var(--primary);
    outline: none;
}

.form-input.border-red {
    border-color: red;
}

.form-input.rounded-b-none {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group {
    display: inline-flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    transition: ease-in-out 150ms;
}

label {
    font-family: Nunito Regular;
}

input {
    font-family: Nunito Regular;
}

.input-group:hover input {
    transition: ease-in-out 150ms;
}

input:focus + label, textarea:focus + label, select:focus + label {
    font-family: Nunito Bold;
    color: var(--primary);
    transition: 150ms ease-in-out;
}

.other-input {
    min-width: 220px;
}

textarea {
    padding: 10px !important;
    font-size: 1rem;
    min-height: 120px;
    width: 100%;
}

.form-checkbox {
    margin-right: 5px;
}

.input-group select {
    line-height: 1rem;
    padding-right: 4rem;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid var(--blue-grey);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--off-white);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJBAMAAAAbVLtZAAAABGdBTUEAALGPC/xhBQAAACBjSFJN%20AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAALVBMVEV7ibYPKXpvf6/+/v7/%20//8MJngEH3Rqeq1wgLD9/f5kdan7+/0nP4hjdKmhq8sFhwJhAAAAAWJLR0QEj2jZUQAAAAlwSFlz%20AAAAYAAAAGAA8GtCzwAAAAd0SU1FB+UBGQoCDds8it0AAABLSURBVAjXY2BUdnFxVmRgCEs3cTFP%20C2BoS6v0LEtrYJiVlrUrLWsCg+eytGNpKx0YXOampeVOAdKe19JuugBpl1lZU8C050sXFwcAN68Y%20ZfYz1FUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjEtMDEtMjVUMTA6MDI6MTIrMDA6MDCg/O9HAAAA%20JXRFWHRkYXRlOm1vZGlmeQAyMDIxLTAxLTI1VDEwOjAyOjEyKzAwOjAw0aFX+wAAAABJRU5ErkJg%20gg==), linear-gradient(to bottom, var(--off-white) 0%, var(--off-white) 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 1.5rem top 50%, 0 0;
    background-size: .75em auto, 100%;
}

.input-group select.disabled {
    border: 1px solid var(--light-grey);
    color: var(--mid-grey);
    background-color: white;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJBAMAAAAbVLtZAAAABGdBTUEAALGPC/xhBQAAACBjSFJN%20AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAKlBMVEXGy9WXobLBx9H///+V%20oLKSna++xdDBx9L+/v68w879/f6hq7q7ws3W2uGuSyLDAAAAAWJLR0QDEQxM8gAAAAlwSFlzAAAA%20YAAAAGAA8GtCzwAAAAd0SU1FB+UBGgg3CW9R9/IAAABKSURBVAjXY2BUNjY2VmRgcA0zNjYLdWAo%20Dc2wSA0tYOgMjVwZGtnAYDE1dGvoDAMG457Q0JhmIG1xNPSEMZA27oxsBtMWN4yNDQC7vxSjN5C1%20LQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMS0wMS0yNlQwODo1NTowOSswMDowMBMeivEAAAAldEVY%20dGRhdGU6bW9kaWZ5ADIwMjEtMDEtMjZUMDg6NTU6MDkrMDA6MDBiQzJNAAAAAElFTkSuQmCC), linear-gradient(to bottom, white 0%, white 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 1.5rem top 50%, 0 0;
    background-size: .75em auto, 100%;
}

.trueFalse {
    padding: 9px 16px;
}
.trueFalse:hover {
    padding: 8px 14px 8px 15px;
    border: 2px solid var(--primary);
}