.form-input {
    padding: 0 10px 0 10px;
    height: 40px;
    border-radius: 8px;
    background: var(--off-white);
    border: 1px solid var(--blue-grey)
}

.form-input:hover {
    border: 1px solid var(--primary);
}

.form-input:focus, .form-input:active {
    color: var(--primary);
    border: 1px solid var(--primary);
    outline: none;
}

.form-input.border-red {
    border-color: red;
}

.input-group {
    display: inline-flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    transition: ease-in-out 150ms;
}

label {
    font-family: Nunito Regular;
}

input {
    font-family: Nunito Regular;
}

.input-group:hover input {
    transition: ease-in-out 150ms;
}

input:focus + label, textarea:focus + label, select:focus + label {
    font-family: Nunito Bold;
    color: var(--primary);
    transition: 150ms ease-in-out;
}

.other-input {
    min-width: 220px;
}

textarea {
    padding: 10px !important;
    font-size: 1rem;
    min-height: 120px;
    width: 100%;
}

.form-checkbox {
    margin-right: 5px;
}
