.form-input {
    padding: 0 10px 0 10px;
    height: 40px;
    border-radius: 8px;
    background: var(--off-white);
    border: 1px solid var(--blue-grey)
}

.form-input:hover {
    border-color: var(--primary);
}

.form-input:focus, .form-input:active {
    color: var(--primary);
    border-color: var(--primary);
    outline: none;
}

.form-input.border-red {
    border-color: red!important;
}

.form-input.rounded-b-none {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group {
    display: inline-flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    transition: ease-in-out 150ms;
}

label {
    font-family: Nunito Regular;
}

input {
    font-family: Nunito Regular;
}

.input-group:hover input {
    transition: ease-in-out 150ms;
}

input:focus + label, textarea:focus + label, select:focus + label {
    font-family: Nunito Bold;
    color: var(--primary);
    transition: 150ms ease-in-out;
}

.other-input {
    min-width: 220px;
}

textarea {
    padding: 10px !important;
    font-size: 1rem;
    min-height: 120px;
    width: 100%;
}

.input-group.disabled label {
    font-size: 1rem;
    color: var(--mid-grey);
}

.input-group.disabled textarea {
    background: white;
    color: var(--system-base);
    border: solid 1px var(--light-grey)
}


.form-checkbox {
    margin-right: 5px;
}

.input-group select {
    line-height: 1rem;
    padding-right: 4rem;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid var(--blue-grey);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--off-white);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJBAMAAAAbVLtZAAAABGdBTUEAALGPC/xhBQAAACBjSFJN%20AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAALVBMVEV7ibYPKXpvf6/+/v7/%20//8MJngEH3Rqeq1wgLD9/f5kdan7+/0nP4hjdKmhq8sFhwJhAAAAAWJLR0QEj2jZUQAAAAlwSFlz%20AAAAYAAAAGAA8GtCzwAAAAd0SU1FB+UBGQoCDds8it0AAABLSURBVAjXY2BUdnFxVmRgCEs3cTFP%20C2BoS6v0LEtrYJiVlrUrLWsCg+eytGNpKx0YXOampeVOAdKe19JuugBpl1lZU8C050sXFwcAN68Y%20ZfYz1FUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjEtMDEtMjVUMTA6MDI6MTIrMDA6MDCg/O9HAAAA%20JXRFWHRkYXRlOm1vZGlmeQAyMDIxLTAxLTI1VDEwOjAyOjEyKzAwOjAw0aFX+wAAAABJRU5ErkJg%20gg==), linear-gradient(to bottom, var(--off-white) 0%, var(--off-white) 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 1.5rem top 50%, 0 0;
    background-size: .75em auto, 100%;
}

.input-group select.disabled {
    border: 1px solid var(--light-grey);
    color: var(--system-base);
    background-color: white;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJBAMAAAAbVLtZAAAABGdBTUEAALGPC/xhBQAAACBjSFJN%20AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAKlBMVEXGy9WXobLBx9H///+V%20oLKSna++xdDBx9L+/v68w879/f6hq7q7ws3W2uGuSyLDAAAAAWJLR0QDEQxM8gAAAAlwSFlzAAAA%20YAAAAGAA8GtCzwAAAAd0SU1FB+UBGgg3CW9R9/IAAABKSURBVAjXY2BUNjY2VmRgcA0zNjYLdWAo%20Dc2wSA0tYOgMjVwZGtnAYDE1dGvoDAMG457Q0JhmIG1xNPSEMZA27oxsBtMWN4yNDQC7vxSjN5C1%20LQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMS0wMS0yNlQwODo1NTowOSswMDowMBMeivEAAAAldEVY%20dGRhdGU6bW9kaWZ5ADIwMjEtMDEtMjZUMDg6NTU6MDkrMDA6MDBiQzJNAAAAAElFTkSuQmCC), linear-gradient(to bottom, white 0%, white 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 1.5rem top 50%, 0 0;
    background-size: .75em auto, 100%;
    opacity: 100;
}

.input-group input.disabled {
    border: 1px solid var(--light-grey);
    color: var(--system-base);
    background: white;
}

.trueFalse {
    padding: 9px 16px;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1rem;
}

.trueFalse:hover {
    border: 2px solid var(--blue-grey);
    color: var(--primary);
    margin: -1px;

}

.trueFalse:focus, .trueFalse:active {
    border: 2px solid var(--primary);
    color: var(--primary);
    font-weight: bold;
}

.true:hover, .true:focus, .true:active {
    padding-right: 14px;
    margin: -1px 0 -1px -1px;
}

.true.active {
    padding-right: 14px;
    border: 2px solid var(--primary);
    color: var(--primary);
    font-weight: bold;
    margin: -1px 0 -1px -1px;
}

.false:hover, false:focus, .false:active {
    padding-left: 15px;
    margin: -1px -1px -1px;
}

.false.active {
    padding-left: 15px;
    border: 2px solid var(--primary);
    color: var(--primary);
    font-weight: bold;
    margin: -1px -1px -1px;
}

.overview .truefalse-container:hover .active {
    opacity: 1;
}

.overview .trueFalse.active, .overview .trueFalse.active:hover {
    border: 2px solid var(--primary);
    color: var(--primary);
}
.overview .trueFalse, .overview .trueFalse:hover {
    border: 1px solid transparent;
    margin: 0;
    color: var(--mid-grey);
}
.overview .false, .overview .true {
    padding: 9px 16px;
}
.overview .true.active {
    margin: -1px 0 -1px -1px;
}
.overview .false.active {
    margin: -1px -1px -1px;
}


.multiple-choice-question:hover {
    box-shadow: 0 1px 18px 0 rgba(77, 87, 143, 0.4);
    border-color: var(--off-white);
    font-weight: bold;
    color: var(--primary);
    background: var(--off-white);
}

.multiple-choice-question:focus {
    border-color: var(--primary);
}

.multiple-choice-question:active {
    box-sizing: border-box;
    box-shadow: 0 1px 6px 0 rgba(77, 87, 143, 0.4);
    border-color: var(--primary);
    border-width: 2px;
    background: var(--off-white);
    font-weight: bold;
    color: var(--primary);
}

.multiple-choice-question.active {
    box-sizing: border-box;
    border-color: var(--primary);
    border-width: 2px;
    background: var(--off-white);
    font-weight: bold;
    color: var(--primary);
}


.overview .multiple-choice-question:hover, .overview .multiple-choice-question:active {
    box-shadow: none;
}
.multiple-choice-question.disabled, .multiple-choice-question.disabled:hover {
    background: white;
    border: solid 2px var(--blue-grey);
    color: var(--mid-grey);
    box-shadow: none;
    font-weight: normal;
}

.multiple-choice-question.active .close {
    display: none;
}
.multiple-choice-question.active:hover .checkmark {
    display: none;
}
.multiple-choice-question.active:hover .close {
    display: inline-block;
}