:root {
    --cta-primary: #3DBB56;
    --cta-primary-mid-dark: #27973D;
    --cta-primary-dark: #006314;
    --cta-secondary: #004DF5;
    --primary: #004df5;
    --secondary: #ECD900;
    --highlight-primary: #ECD900;
    --system-base: #041f74;
    --system-secondary: #CEDAF3;
    --mid-grey: #929DAF;
    --light-grey: #f0f2f5;
    --blue-grey: #C3D0ED;
    --shadow-blue: #4D578F;
    --off-white: #F9FAFF;
}

@font-face {
    font-family: Nunito Bold;
    src: url("../fonts/Nunito/Nunito-Bold.ttf");
}

@font-face {
    font-family: Nunito Regular;
    src: url("../fonts/Nunito/Nunito-Regular.ttf");
}

@font-face {
    font-family: Zilla Slab Regular;
    src: url("../fonts/Zilla_Slab/ZillaSlab-Regular.ttf");
}

.cta-primary {
    color: var(--cta-primary);
}

.cta-primary-mid-dark {
    color: var(--cta-primary-mid-dark);
}

.cta-primary-dark {
    color: var(--cta-primary-dark);
}

.cta-secondary {
    color: var(--cta-secondary);
}

.primary {
    color: var(--primary);
}

.secondary {
    color: var(--secondary);
}

.highlight-primary {
    color: var(--highlight-primary);
}

.base {
    color: var(--system-base);
}

.system-secondary {
    color: var(--system-secondary);
}

.mid-grey {
    color: var(--mid-grey);
}

.light-grey {
    color: var(--light-grey);
}

.blue-grey {
    color: var(--blue-grey);
}

.shadow-blue {
    color: var(--shadow-blue);
}

.off-white {
    color: var(--off-white);
}

.bg-cta-primary {
    background: var(--cta-primary);
}

.bg-cta-secondary {
    background: var(--cta-secondary);
}

.bg-primary {
    background: var(--primary);
}

.bg-secondary {
    background: var(--secondary);
}

.bg-highlight-primary {
    background: var(--highlight-primary);
}

.bg-system-base {
    background: var(--system-base);
}

.bg-system-secondary {
    background: var(--system-secondary);
}

.bg-system-white {
    background: var(--system-white);
}

.bg-mid-grey {
    background: var(--mid-grey);
}

.bg-light-grey {
    background: var(--light-grey);
}

.bg-blue-grey {
    background: var(--blue-grey);
}

.bg-shadow-blue {
    background: var(--shadow-blue);
}

.bg-off-white {
    background: var(--off-white);
}

.rounded-10 {
    border-radius: 10px;
}

h1 {
    font-size: 2rem;
    font-family: Nunito Bold;
    line-height: 1.5rem;
}

h2 {
    font-size: 1.75rem;
    font-family: Nunito Bold;
    line-height: 2rem;
}

h3 {
    font-size: 1.5rem;
    font-family: Zilla Slab Regular;
    line-height: 2rem;
}

h4 {
    font-size: 1.5rem;
    font-family: Nunito Bold;
    line-height: 1.5rem;
}

h5 {
    font-size: 1.25rem;
    font-family: Nunito Bold;
    line-height: 1.5rem;
}

h6 {
    font-size: 1.125rem;
    font-family: Nunito Bold;
    line-height: 1.5rem;
}

.body1 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-family: Nunito Regular;
}

.body2 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: Nunito Regular;
}

.text-note {
    font-size: .875rem;
    font-family: Nunito Regular;
}

.bold {
    font-family: Nunito Bold;
}
.regular {
    font-family: Nunito Regular;
}

.requirement-font-size {
    font-size: .875rem;
}

.text-0 {
    color: var(--mid-grey);
}
.text-1 {
    color: green;
}


.onboarding-header {
    color: var(--primary);
    font-family: Nunito Regular;
    box-shadow: 0px 3px 8px 0px rgba(77,87,143,0.07);
}

.onboarding-body {
    font-family: Nunito bold;
}

.content-section {
    min-height: 36rem;
    box-shadow: 0px 3px 18px 0px rgba(77, 87, 143, 0.1);
    display: flex;
}
.content-form {
    min-height: 31rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: start;
    flex-grow: 1;
}

.gender-section {
    flex-wrap: wrap;
    display: flex;
}


.name, .password, .school-info, .subjects {
    display: flex;
    flex-wrap: wrap;
}
.school-info .input-group {
    margin-bottom: 1rem;
}

.email-section input {
    max-width: 476px;
}

.input-group #name_suffix {
    min-width: 80px;
    width: 80px;
}
.input-group.lastname {
    flex-grow: 1;
    min-width: 300px;
    max-width: 476px;
}

.tc-logo {
    height: 3.125rem;
    width: 17.125rem;
    transition: ease-in-out 150ms;
}
.tc-logo:hover {
    opacity: 70%;
    transition: ease-in-out 150ms;
}
.tc-logo:active {
    opacity: 50%;
}

.step-indicator {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header-number {
    color: white;
    background: var(--mid-grey);
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.header-check {
    min-width: 30px;
    height: 30px;
}

.header-number.active {
    background: var(--primary);
}

span.active {
    color: var(--primary);
}

.card-header-text {
    position: absolute;
    left: 5rem;
}

.klaar-text {
    position: absolute;
    left: 5rem;
}

.button {
    border-radius: 10px;
    font-size: 18px;
    font-family: Nunito Bold;
    padding: 0 20px 0 20px;
}

.button:focus {
    outline: none;
    padding: 0 18px 0 18px;
}

.button-sm {
    min-height: 40px;
}

.button-md {
    min-height: 50px;
}

.button-lg {
    min-height: 60px;
}

.text-button {
    min-height: 40px;
    color: var(--system-base);
    font-family: Nunito Bold;
}

.rotate-svg > svg{
    transform: rotate(180deg);
}

.leading-50 {
    line-height: 50px;
}
.leading-30 {
    line-height: 30px;
}

.text-button:hover {
    color: var(--primary);
}

.text-button:focus {
    outline: none;
}

.cta-button {
    background: var(--cta-primary);
    background: linear-gradient(90deg, var(--cta-primary) 0%, var(--cta-primary) 100%);
    color: white;
}

.cta-button:hover {
    background: linear-gradient(90deg, rgba(39, 151, 61, 1) 0%, rgba(61, 187, 86, 1) 100%);
    box-shadow: 0 1px 18px 0 rgba(77, 87, 143, 0.5);
    transition: ease-in-out  150ms;
}

.cta-button:active {
    background: linear-gradient(90deg, rgba(57, 180, 81, 1) 0%, rgba(61, 187, 86, 1) 100%);
    box-shadow: 0 1px 6px 0 rgba(77, 87, 143, 0.5);
}

.cta-button:focus {
    background: var(--cta-primary);
    border: 2px solid var(--cta-primary-dark);
}

.cta-button:disabled {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}

.primary-button.btn-disabled {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}
.primary-button.btn-disabled:hover {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}
.primary-button.btn-disabled:focus {
    border: none;
}

.primary-button {
    color: white;
    background-color: rgba(0,77,245,1);
    background-image: radial-gradient(ellipse farthest-side at 10% 10%,rgba(0,77,245,.5) 0,rgba(0,77,245,0) 100%);
    background-size: 0px 0px;
    background-repeat: no-repeat;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.15);
    transition: color 0.3s cubic-bezier(.215,.61,.355,1);
}

.primary-button:hover {
    background-color: rgba(71,129,255,1);
    background-size: 100% 100%;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
    transition: all 0.3s cubic-bezier(.215,.61,.355,1);
}
.primary-button:focus {
    outline: none;
    border: none;
}
.primary-button:active {
    border: none;
}

.secondary-button {
    background: var(--blue-grey);
    color: var(--system-base);
}

.secondary-button:hover {
    /*background: red;*/
    background: linear-gradient(90deg, rgba(233, 239, 250, 1) 0%, rgba(206, 218, 243, 1) 100%);
    box-shadow: 0 1px 18px 0 rgba(77, 87, 143, 0.5);
}

.secondary-button:active {
    background: linear-gradient(90deg, rgba(239, 244, 254, 1) 0%, rgba(233, 239, 250, 1) 100%);
    box-shadow: 0 1px 6px 0 rgba(77, 87, 143, 0.5);
}

.secondary-button:focus {
    background: var(--system-secondary);
    border: 2px solid #99AACE;
}

.secondary-button:disabled {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}

.select-button {
    border-radius: 10px;
    background: white;
    border: 1px solid var(--blue-grey);
    color: var(--system-base);
    padding: 16px;
}

.select-button:hover, .select-button:focus {
    border: 1px solid var(--primary);
    color: var(--primary);
    outline: none;
    transition: ease-in-out 150ms;

}

.select-button:active {
    color: var(--primary);
    border: 2px solid var(--primary);
    background-color: var(--off-white);
    padding: 15px;
}

.onboarding-body svg, .hair {
    stroke: var(--mid-grey);
    fill: var(--mid-grey);
}

.onboarding-body .eye {
    stroke: none !important;
    fill: var(--mid-grey);
}

.onboarding-body .select-button:hover svg, .select-button:hover .hair, .select-button:focus svg, .select-button:focus .hair {
    stroke: var(--primary);
    fill: var(--primary);
    transition: ease-in-out 150ms;
}

.onboarding-body .select-button:hover .eye, .select-button:focus .eye {
    fill: var(--primary);
    transition: ease-in-out 150ms;
}

.onboarding-body .btn-active svg, .btn-active .hair {
    stroke: var(--primary);
    fill: var(--primary);
}

.onboarding-body .btn-active .eye {
    fill: var(--primary);
}

.onboarding-body .btn-active:hover svg, .btn-active:hover .hair {
    stroke: var(--primary);
    fill: var(--primary);
}

.onboarding-body .btn-active:hover .eye {
    fill: var(--primary);
}

.select-button:hover .other, .select-button:focus .other {
    background: url("../svg/icons/x.svg");
}

.select-button:active .other, .other.active {
    background: url("../svg/icons/x.svg");
}

.btn-active {
    color: var(--primary);
    border: 2px solid var(--primary);
    background-color: var(--off-white);
    padding: 15px;
}

.btn-active:hover, .btn-active:focus {
    color: var(--primary);
    border: 2px solid var(--primary);
    background-color: var(--off-white);
    padding: 15px;
}

.btn-active .man {
    background: url("../svg/icons/men.svg");
}

.btn-active .woman {
    background: url("../svg/icons/women.svg");
}

.btn-active .other {
    background: url("../svg/icons/x.svg");
}

.form-input {
    padding: 0 10px 0 10px;
    height: 40px;
    border-radius: 8px;
    background: var(--off-white);
    border: 1px solid var(--blue-grey)
}

.form-input:hover {
    border: 1px solid var(--primary);
}

.form-input:focus, .form-input:active {
    color: var(--primary);
    border: 1px solid var(--primary);
    outline: none;
}

.form-input.border-red {
    border-color: red;
}

.input-group {
    display: flex;
    flex-direction: column-reverse;
    transition: ease-in-out 150ms;
}

label {
    font-family: Nunito Regular;
}
input {
    font-family: Nunito Regular;
}

.input-group:hover input {
    transition: ease-in-out 150ms;
}

input:focus + label {
    font-family: Nunito Bold;
    color: var(--primary);
    transition: ease-in-out 150ms;
}

.other-input {
    min-width: 220px;
}

.notification {
    min-height: 32px;
    border: 1px solid;
    border-radius: 4px;
    padding: 16px;
    max-width: 475px;
}
.stretched {
    max-width: none;
}
.notification-shadow {
    box-shadow: 0px 2px 4px 0px rgba(77,87,143,0.5);
}

.notification > .title {
    font-family: Nunito Bold;
    font-size: 1rem;
}

.notification > .body {
    font-family: Nunito Regular;
    font-size: 0.875rem;
    line-height: normal;
    display: block;
}

.info {
    background: #E6EDFA;
    border-color: var(--blue-grey);
    color: var(--primary);
}

.warning {
    background-color: #FFFCD7;
    border-color: #ECDB00;
    color: #857B01;
}

.error {
    background: #FFEDEB;
    border-color: #EBCCC8;
    color: #CF1B04
}

.label_bold {
    font-family: Nunito Bold;
    color: var(--primary);
}

.hide-search,icon-plus-hide {
    display: none;
}
.select-search-header {
    width: 100%;
    height: 40px;
    margin-left: 16px;
    font-family: 'Nunito Regular';
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
    color: #929daf;
    display: inline;
}

.search-wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
}

.icons-chevron {
    width: 9px;
    height: 16px;
    object-fit: contain;
    margin-top: 5px;
    margin-right: 26px;
}
.icons-search-small {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 11px;
    right: 8px;
    margin-right: 15px;
}
.input-text-select {
    padding: 0.5rem;
    padding-left: 1rem;
    width: 169px;
    background-color: #FFFFFF;
    border: solid 1px #c3d0ed;
    border-radius: 8px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.input-text-select:focus {
    border: solid 1px #004df5;
    background-color: #F9FAFF;
}
.input-text-select::placeholder {
    font-family: Nunito Regular;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
    color: #041f74;
}
.selected-subject{
    background-color: #cedaf3;
    width: max-content;
    height: 40px;
    margin: 2px 4px 0 0;
    padding: 6px 16px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    display: inline-flex;
}
.add-button-div{
    background-color: #cedaf3;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    display: inline-flex;
    position: relative;
    top: -5px;
}
.add-button-img{
    width:16px;
    height:16px;
}

div.subject_select_div{
    border: 1px solid var(--blue-grey);
    display: inline-block;
    background-color: #F9FAFF;
    margin-top: 2px;
    padding-top: 7px;
}
div.subject_select_div:hover{
    border-color: #004df5;
}

div.show_subjects{
    border : 1px solid #004df5;
    background-color: #FFFFFF !important;
}

div.subject_select_div_padding{
    padding-right: 5px;
    padding-top: 5px;
    overflow: hidden;
}

div.subject_select_div_inner{
    overflow: hidden;
}

div.subject_select_div_inner_open{
    height: 130px;
    overflow-y : auto;
}

div.subject_select_div_inner::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
    height: 8px;
}

div.subject_select_div_inner::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

div.subject_select_div_inner::-webkit-scrollbar-thumb {
    background: #cedaf3;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 4px solid transparent;  /* creates padding around scroll thumb */
}

div.subject_item{
    padding:16px;
    padding-top: 7px;
    padding-bottom: 0px;
    font-family: Nunito Regular;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #041f74;
}

div.subject_item:hover,div.subject_item_active{
    color: #004df5;
    background-color: #F9FAFF;
}

div.subject_item>img.icon-close-small-subjects{
    display:none;
}

div.subject_item:hover>img.icon-close-small-subjects,div.subject_item_active>img.icon-close-small-subjects,div.new_subject_item>img.icon-close-small-subjects{
    display:inline-flex;
}
div.existing_subject_item_hide{
    display: none;
}

hr.subject_hr{
    margin-top: 7px;
}

img.icon-close-small{
    margin-top: -2px;
}

img.icon-close-small-subjects{
    float: right;
    margin-top: 5px;
}
.tooltip {
    position:relative; /* making the .tooltip span a container for the tooltip text */
}

.tooltip::before {
    content: attr(data-text);
    position: absolute;
    z-index: 1000;
    top: -60%;
    left: 0px;
    padding: 6px;
    border: solid 1px #cccccc;
    border-radius: 10px;
    background: rgba(255, 255, 255, .5);
    color: var(--system-base);
    text-align: center;
    white-space: nowrap;
    display: none;
    font-size: .75rem;
    font-family: Nunito Regular;
}

.tooltip:hover:before {
    display:block;
}

.primary-hover:hover {
    color: var(--primary);
}

@media only screen and (max-width: 590px){
    .entree-step-indicator > div {
        flex-shrink: 1;
    }
    .entree-step-indicator > div:not(.active) {
        overflow: hidden;
        min-width: 70px;
    }
    .entree-step-indicator > div:not(.active) span{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .entree-step-indicator > div.active {
        flex-shrink: 0;
        max-width: fit-content;
    }
}