:root {
    --cta-primary: #3DBB56;
    --cta-primary-mid-dark: #27973D;
    --cta-primary-dark: #006314;
    --cta-secondary: #004DF5;
    --primary: #004DF5;
    --secondary: #ECD900;
    --highlight-primary: #ECD900;
    --system-base: #041F74;
    --system-secondary: #CEDAF3;
    --mid-grey: #929DAF;
    --light-grey: #F0F2F5;
    --blue-grey: #C3D0ED;
    --shadow-blue: #4D578F;
    --off-white: #F9FAFF;
}

@font-face {
    font-family: Nunito Bold;
    src: url("Nunito/Nunito-Bold.ttf");
}

@font-face {
    font-family: Nunito Regular;
    src: url("Nunito/Nunito-Regular.ttf");
}

@font-face {
    font-family: Zilla Slab Regular;
    src: url("Zilla_Slab/ZillaSlab-Regular.ttf");
}

.cta-primary {
    color: var(--cta-primary);
}

.cta-primary-mid-dark {
    color: var(--cta-primary-mid-dark);
}

.cta-primary-dark {
    color: var(--cta-primary-dark);
}

.cta-secondary {
    color: var(--cta-secondary);
}

.primary {
    color: var(--primary);
}

.secondary {
    color: var(--secondary);
}

.highlight-primary {
    color: var(--highlight-primary);
}

.base {
    color: var(--system-base);
}

.system-secondary {
    color: var(--system-secondary);
}

.mid-grey {
    color: var(--mid-grey);
}

.light-grey {
    color: var(--light-grey);
}

.blue-grey {
    color: var(--blue-grey);
}

.shadow-blue {
    color: var(--shadow-blue);
}

.off-white {
    color: var(--off-white);
}

.bg-cta-primary {
    background: var(--cta-primary);
}

.bg-cta-secondary {
    background: var(--cta-secondary);
}

.bg-primary {
    background: var(--primary);
}

.bg-secondary {
    background: var(--secondary);
}

.bg-highlight-primary {
    background: var(--highlight-primary);
}

.bg-system-base {
    background: var(--system-base);
}

.bg-system-secondary {
    background: var(--system-secondary);
}

.bg-mid-grey {
    background: var(--mid-grey);
}

.bg-light-grey {
    background: var(--light-grey);
}

.bg-blue-grey {
    background: var(--blue-grey);
}

.bg-shadow-blue {
    background: var(--shadow-blue);
}

.bg-off-white {
    background: var(--off-white);
}

.rounded-10 {
    border-radius: 10px;
}

h1 {
    font-size: 2rem;
    font-family: Nunito Bold;
}

h2 {
    font-size: 1.75rem;
    font-family: Nunito Bold;
}

h3 {
    font-size: 1.5rem;
    font-family: Zilla Slab Regular;
}

h4 {
    font-size: 1.5rem;
    font-family: Nunito Bold;
}

h5 {
    font-size: 1.25rem;
    font-family: Nunito Bold;
}

h6 {
    font-size: 1.125rem;
    font-family: Nunito Bold;
}

h7 {
    font-size: 1rem;
    font-family: Nunito Bold;
}

.body1 {
    font-size: 1.125rem;
    line-height: 2rem;
    font-family: Nunito Regular;
}

.body2 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: Nunito Regular;
}


.onboarding-header {
    color: var(--primary);
    font-family: Nunito Regular;
}

.onboarding-body {
    font-family: Nunito Regular;
}

.content-section {
    box-shadow: 0px 3px 18px 0px rgba(77, 87, 143, 0.1);
}

.tc-logo {
    height: 3.125rem;
    width: 17.125rem;
}

.header-number {
    color: white;
    background: var(--mid-grey);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.header-check {
    width: 30px;
    margin-right: 10px;
}

.active .header-number {
    background: var(--primary);
}

.active span {
    color: var(--primary);
}

.button {
    border-radius: 10px;
    font-size: 18px;
    font-family: Nunito Bold;
    padding: 0 20px 0 20px;
}

.button:focus {
    outline: none;
    padding: 0 18px 0 18px;
}

.button-sm {
    min-height: 40px;
}

.button-md {
    min-height: 50px;
}

.button-lg {
    min-height: 60px;
}

.text-button {
    min-height: 40px;
    color: var(--system-base);
    font-family: Nunito Bold;
}

.text-button:hover {
    color: var(--primary);
}

.text-button:focus {
    outline: none;
}

.cta-button {
    background: var(--cta-primary);
    background: linear-gradient(90deg, var(--cta-primary) 0%, var(--cta-primary) 100%);
    color: white;
}

.cta-button:hover {
    background: linear-gradient(90deg, rgba(39, 151, 61, 1) 0%, rgba(61, 187, 86, 1) 100%);
    box-shadow: 0 1px 18px 0 rgba(77, 87, 143, 0.5);
    transition: ease-in-out  150ms;
}

.cta-button:active {
    background: linear-gradient(90deg, rgba(57, 180, 81, 1) 0%, rgba(61, 187, 86, 1) 100%);
    box-shadow: 0 1px 6px 0 rgba(77, 87, 143, 0.5);
}

.cta-button:focus {
    background: var(--cta-primary);
    border: 2px solid var(--cta-primary-dark);
}

.cta-button:disabled {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}

.primary-button {
    background: var(--primary);
    color: white;
}

.primary-button:hover {
    /*background: red;*/
    background: linear-gradient(90deg, rgba(0, 77, 245, 1) 0%, rgba(71, 129, 255, 1) 100%);
    box-shadow: 0 1px 18px 0 rgba(77, 87, 143, 0.5);
}

.primary-button:active {
    background: linear-gradient(90deg, rgba(43, 108, 251, 1) 0%, rgba(71, 129, 255, 1) 100%);
    box-shadow: 0 1px 6px 0 rgba(77, 87, 143, 0.5);
}

.primary-button:focus {
    background: var(--primary);
    border: 2px solid var(--system-base)
}

.primary-button.btn-disabled {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}

.secondary-button {
    background: var(--blue-grey);
    color: var(--system-base);
}

.secondary-button:hover {
    /*background: red;*/
    background: linear-gradient(90deg, rgba(233, 239, 250, 1) 0%, rgba(206, 218, 243, 1) 100%);
    box-shadow: 0 1px 18px 0 rgba(77, 87, 143, 0.5);
}

.secondary-button:active {
    background: linear-gradient(90deg, rgba(239, 244, 254, 1) 0%, rgba(233, 239, 250, 1) 100%);
    box-shadow: 0 1px 6px 0 rgba(77, 87, 143, 0.5);
}

.secondary-button:focus {
    background: var(--system-secondary);
    border: 2px solid #99AACE;
}

.secondary-button:disabled {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}

.select-button {
    border-radius: 10px;
    background: white;
    border: 1px solid var(--blue-grey);
    color: var(--system-base);
    padding: 16px;
}

.select-button:hover, .select-button:focus {
    border: 1px solid var(--primary);
    color: var(--primary);
    outline: none;
    transition: ease-in-out 150ms;

}

.select-button:active {
    color: var(--primary);
    border: 2px solid var(--primary);
    background-color: var(--off-white);
    padding: 15px;
}

svg, .hair {
    stroke: var(--mid-grey);
    fill: var(--mid-grey);
}

.eye {
    stroke: none !important;
    fill: var(--mid-grey);
}

.select-button:hover svg, .select-button:hover .hair {
    stroke: var(--primary);
    fill: var(--primary);
    transition: ease-in-out 150ms;
}

.select-button:hover .eye {
    fill: var(--primary);
    transition: ease-in-out 150ms;
}

.btn-active svg, .btn-active .hair {
    stroke: var(--primary);
    fill: var(--primary);
}

.btn-active .eye {
    fill: var(--primary);
}

.btn-active:hover svg, .btn-active:hover .hair {
    stroke: var(--primary);
    fill: var(--primary);
}

.btn-active:hover .eye {
    fill: var(--primary);
}

.man {
    background: url("../svg/icons/men grey.svg");
}

.woman {
    background: url("../svg/icons/women grey.svg");
}

.other {
    background: url("../svg/icons/x grey.svg");
}

.select-button:hover .man, .select-button:focus .man {
    background: url("../svg/icons/men.svg");
}

.select-button:active .man, .man.active {
    background: url("../svg/icons/men.svg");
}

.select-button:hover .woman, .select-button:focus .woman {
    background: url("../svg/icons/women.svg");
}

.select-button:active .woman, .woman.active {
    background: url("../svg/icons/women.svg");
}

.select-button:hover .other, .select-button:focus .other {
    background: url("../svg/icons/x.svg");
}

.select-button:active .other, .other.active {
    background: url("../svg/icons/x.svg");
}

.btn-active {
    color: var(--primary);
    border: 2px solid var(--primary);
    background-color: var(--off-white);
    padding: 15px;
}

.btn-active:hover, .btn-active:focus {
    color: var(--primary);
    border: 2px solid var(--primary);
    background-color: var(--off-white);
    padding: 15px;
}

.btn-active .man {
    background: url("../svg/icons/men.svg");
}

.btn-active .woman {
    background: url("../svg/icons/women.svg");
}

.btn-active .other {
    background: url("../svg/icons/x.svg");
}

.form-input {
    padding: 0 10px 0 10px;
    height: 40px;
    border-radius: 8px;
    background: var(--off-white);
    border: 1px solid var(--blue-grey)
}

.form-input:hover {
    border: 1px solid var(--primary);
}

.form-input:focus, .form-input:active {
    color: var(--primary);
    border: 1px solid var(--primary);
    outline: none;
}

.form-input.border-red {
    border-color: red;
}

.input-group {
    display: flex;
    flex-direction: column-reverse;
}

input:focus + label {
    color: var(--primary);
}

.other-input {
    min-width: 220px;
    max-width: 80%;
}

.notification {
    min-height: 32px;
    border: 1px solid;
    border-radius: 4px;
    padding: 16px;
}

.notification > .title {
    font-family: Nunito Bold;
    font-size: 1rem;
    line-height: 30px;
}

.notification > .body {
    font-family: Nunito Regular;
    font-size: 0.875rem;
    line-height: normal;
}

.informational {
    background: #E6EDFA;
    border-color: var(--blue-grey);
    color: var(--primary);
}

.warning {
    background-color: #FFFCD7;
    border-color: #ECDB00;
    color: #857B01;
}

.error {
    background: #FFEDEB;
    border-color: #EBCCC8;
    color: #CF1B04
}
