
.test-print-pdf .square-checkbox,
.test-print-pdf .round-checkbox {
    border-width: 2px;
    border-color: #c3d0ed;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
    border-style: dashed;
    margin-right: 0.5rem;
}
.test-print-pdf .test-print-opgaven-pdf .square-checkbox .checkbox-character,
.test-print-pdf .test-print-opgaven-pdf .square-checkbox .checkbox-number{
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0.25rem;
}

.test-print-pdf .test-print-opgaven-pdf .square-checkbox .checkbox-number{
    margin-left: 0.5rem;
}

.test-print-pdf .test-print-opgaven-pdf .square-checkbox .checkbox-character{
    margin-left: 0.35rem;
}

.test-print-pdf .test-print-opgaven-pdf .round-checkbox .checkbox-character,
.test-print-pdf .test-print-opgaven-pdf .round-checkbox .checkbox-number{
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0.25rem;
}

.test-print-pdf .test-print-opgaven-pdf .round-checkbox .checkbox-number{
    margin-left: 0.5rem;
}

.test-print-pdf .test-print-opgaven-pdf .round-checkbox .checkbox-character{
    margin-left: 0.40rem;
}


.test-print-pdf .test-print-opgaven-pdf .square-checkbox .checkbox-character,
.test-print-pdf .test-print-opgaven-pdf .square-checkbox .checkbox-number,
.test-print-pdf .test-print-opgaven-pdf .round-checkbox .checkbox-character,
.test-print-pdf .test-print-opgaven-pdf .round-checkbox .checkbox-number{
    font-weight: bold;
}

.test-print-pdf .square-checkbox {
    border-radius: 10px;
}

.test-print-pdf .round-checkbox {
    border-radius: 9999px;
}

.test-print-pdf .round-checkbox.matrix-checkbox {
    height: 2rem;
    width: 2rem;
    margin: 0.5rem auto;
    display: block;
}

.test-print-pdf .truefalse-label,
.test-print-pdf .multiple-select-label,
.test-print-pdf .arq-label {
    min-height: 2.5rem;
    border-color: #c3d0ed;
    border-radius: 10px;
    border-width: 2px;
}

.test-print-pdf .multiple-select-label,
.test-print-pdf .arq-label {
    width: 93%;
}

.test-print-pdf .truefalse-label {
    width: 84px;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
}

.test-print-pdf .multiple-select-text {
    padding-top: 2px;
    padding-left: 2px;
}

.test-print-pdf .arq-text-container {
    display: -webkit-flex;
    -webkit-align-items: center;
    height: 100%;
}

.test-print-pdf .arq-title-container span,
.test-print-pdf .arq-text-container span {
    padding-left: 3rem;
    display: inline-block;
}

.test-print-pdf .arq-title-container span:first-child {
    padding-left: 0;
}

.test-print-pdf .truefalse-container span,
.test-print-pdf .arq-text-container span {
    padding-top: 6px;
}

.test-print-pdf .truefalse-container span {
    padding-left: 0;
    padding-right: 0;
    width: 60px;
    text-align: -webkit-center;
    text-align: center;
    display: inline-block;
}

.test-print-pdf .tp-question-title {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border: 0;
    border-bottom: 2px solid #041f74;
    border-top: 2px solid #041f74;
}

.test-print-pdf .tp-question-title h4 {
    font-size: 1rem;
    line-height: 2rem;
}

.test-print-pdf .tp-question-title h1 {
    font-weight: bold;
}

.test-print-pdf .question-indicator .question-number.complete {
    border-color: #041f74;
    background: #041f74;
    color: white;
}

.test-print-pdf .children-block-pdf p {
    display: block;
    white-space: normal;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    min-height: 24px;
}

.pdf-answer-model .group-question-description,
.pdf-answer-model .questionContainer,
.test-print-pdf .group-question-description,
.test-print-pdf .questionContainer {
    width: 100%;
    overflow: auto;
    display: inline-block;
}

.test-print-pdf .questionhtml p {
    width: 100%;
}


.pdf-answer-model .group-question-description .image-style-side,
.pdf-answer-model .questionContainer .image-style-side,
.test-print-pdf .group-question-description .image-style-side,
.test-print-pdf .questionContainer .image-style-side {
    width: 50%;
    margin-left: 50%;
}

.test-print-pdf .true-false-sub {
    width: 144px;
    display: inline-block;
}

.test-print-pdf .true-false-sub:first-child {
    margin-top: 0;
}

.test-print-pdf .true-false-sub {
    margin-top: 0.5rem;
}

.test-print-pdf .truefalse-container {
    width: 144px;
    height: 94px;

}

.test-print-pdf .truefalse-container-parent {
    display: -webkit-inline-box;
    width: 830px;
    -webkit-box-align: center;
    margin-top: 1rem;
}

.test-print-pdf .truefalse-text {
    display: -webkit-box-flex;
    height: -moz-available;
    width: 660px;
    margin-left: 1rem;
}

.test-print-pdf .classify-groups-container .paper-text-area,
.test-print-pdf .open-long .paper-text-area,
.test-print-pdf .open-short .paper-text-area {
    background: #f9faff;
    border: 2px dashed #c3d0ed;
    padding: 0 10px 0 10px;
    border-radius: 10px;
}

.test-print-pdf .classify-groups-container .paper-text-area {
    height: 105px;
}

.test-print-pdf .open-short .paper-text-area {
    height: 246px;
}

.test-print-pdf .open-long .paper-text-area {
    height: 560px;
}

.test-print-pdf .drawing-question-grid-table {
    width: 820px;
    height: 545px;
    border-radius: 10px;
    border: 3px solid #c3d0ed;
    border-collapse: separate !important;
}

.test-print-pdf .drawing-question-grid-table tr {
    border: none;
}

.test-print-pdf .drawing-question-grid-table td {
    border: 1px dotted #c3d0ed;
}
.test-print-pdf .drawing-question-grid-table .grid-top-left {
    border-top-left-radius: 10px;
}
.test-print-pdf .drawing-question-grid-table .grid-top-right {
    border-top-right-radius: 10px;
}
.test-print-pdf .drawing-question-grid-table .grid-bottom-left {
    border-bottom-left-radius: 10px;
}
.test-print-pdf .drawing-question-grid-table .grid-bottom-right {
    border-bottom-right-radius: 10px;
}

.test-print-pdf .drawing-img-container {
    width: 820px;
    min-height: 500px;
    display: block;
    text-align: center;
    padding: 0;
}

.test-print-pdf .drawing-img-container img {
    margin-left: 0;
    margin-right: 0;
    max-width: 820px;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    border-radius: 10px;
}


.test-print-pdf .paper-line {
    border-bottom: 2px dotted #c3d0ed;
    height: 35px;
}

.test-print-pdf .paper-line-wide {
    height: 35px;
    position: relative;
}

.test-print-pdf .paper-line-wide:after {
    position: absolute;
    bottom: 0px;
    content: '....................................................................................................';
    color: #c3d0ed;
    letter-spacing: 3px;
    word-break: none;
}


.test-print-pdf strong,
.test-print-pdf b,
.test-print-pdf .bold {
    font-weight: bold;
    /*-webkit-text-stroke-width: 0.30px !* font-weight: bold doesn't work with pdf*!*/
}

.test-print-pdf .completion-question-answer {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.test-print-pdf .completion-question-answer-sub {
    display: inline-block;
    margin-left: 0.25rem;
    margin-right: 0.5rem;
    height: 1rem;
    width: 380px;
    border: 0px;
    border-bottom: 2px dotted #c3d0ed;
}

.test-print-pdf .completion-question-placeholder {
    display: inline;
    letter-spacing: 0.1em;
}

.test-print-pdf .header-line,
.test-print-pdf .footer-line {
    width: -moz-available;
    height: -moz-min-content;
    height: min-content;
    border: 2px solid #041f74;
    border-radius: 10em !important;
    background-color: #041f74
}

.test-print-pdf .header-line {
    margin-bottom: 0.25rem;
}

.test-print-pdf .footer-line {
    margin-top: 0.25rem;
}

.test-print-pdf .header-table * {
    font-size: 18px;
}

.test-print-pdf * {
    font-family: Arial;
    font-size: 14pt;
}

.test-print-pdf .selection-answers-container {
    width: 33%;
    display: -webkit-inline-box;
    vertical-align: top;
    margin-bottom: 0.5rem;
}

.test-print-pdf .selection-answers-container-sub {
    display: block;
}

.test-print-pdf .selection-answers-container-sub-sub {
    display: -webkit-box;
    display: flex;
    word-wrap: normal;
    margin-right: 2rem;
}

.test-print-pdf .selection-answer-tag-id {
    display: -webkit-inline-box;
    vertical-align: top;
    margin-right: 1rem;
    font-weight: bold;
}

.test-print-pdf .selection-answers-container-sub-sub span {
    white-space: initial;
    word-wrap: normal;
    font-weight: bold;
}

.test-print-pdf .selection-answers-container-sub-sub span:nth-child(2) {

}

.test-print-pdf .ranking-answer {
    margin-top: 0.5rem;
    display: -webkit-box;
}

.test-print-pdf .ranking-answer-textbox {
    border: 2px solid #c3d0ed;
    border-radius: 10px;
    margin-right: auto;
    background-color: #f9faff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.375rem;
    font-weight: bold;
}

.test-print-pdf .matching-table,
.test-print-pdf .matching-table td,
.test-print-pdf .matching-table tr {
    border: 0 !important;
    border-width: 0 !important;
    border-collapse: unset;

}

.test-print-pdf .matching-table,
.test-print-pdf .matching-table tr {
    width: 100%;
}

.test-print-pdf .matching-textbox-left,
.test-print-pdf .matching-textbox-right {
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.45rem;
    padding-bottom: 0.375rem;
    font-weight: bold;
    position: relative;
    display: -webkit-inline-box;
    display: inline-flex;
}

.test-print-pdf .matching-textbox-left {
    margin-right: auto;
    border: 2px solid #c3d0ed;
    background-color: #f9faff;
}

.test-print-pdf .matching-textbox-right {
    margin-left: auto;
    min-height: 33.8px;
    background-color: #d1d9f3;
    /*border: 2px solid #d1d9f3;*/
}

.test-print-pdf .matching-textbox-container-right {
    text-align: right;
    padding-bottom: 0.25rem;
    padding-left: 50px
}
.test-print-pdf .test-print-opgaven-pdf .matching-textbox-container-right,
.test-print-pdf .test-print-opgaven-pdf .matching-textbox-container-left {
    height: 2.5rem;
}


.test-print-pdf .test-print-opgaven-pdf .matching-textbox-container-right {
    text-align: left;
    padding-bottom: 0rem;
    padding-left: 0px;
}

.test-print-pdf .matching-textbox-container-left {
    text-align: left;
    padding-bottom: 0.25rem;
    padding-right: 50px;
}

.test-print-pdf .matching-dot-left,
.test-print-pdf .matching-dot-right {
    position: absolute;
    border: 3px solid black;
    border-radius: 9999px;
}

.test-print-pdf .matching-dot-right {
    left: -4px;
    top: 45%;
}

.test-print-pdf .matching-dot-left {
    right: -4px;
    top: 45%;
}


.test-print-pdf .classify-answers-sub {
    display: inline-block;
    width: 48%;
    margin-right: 0.5rem;
}

.test-print-pdf .classify-answers-container,
.test-print-pdf .classify-groups-container {
    width: 100%;
    display: block;
}

.test-print-pdf .classify-group-block {
    display: inline-block;
    width: 32%;
    margin-right: 0.5rem;
}
.test-print-pdf margin-top-4 {
    margin-top: 1rem;
}

.test-print-pdf .classify-group-title-opgave {
    display: inline-block;
    font-weight: bold;
    text-align: left;
}

.test-print-pdf .classify-group-title {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 0.5rem;
}

.test-print-pdf .classify-group-textarea {
    display: block;
    border: 2px dashed #c3d0ed;
    height: 6rem;
    border-radius: 10px;
}


.test-print-pdf .header-info-container {
    display: block;
    width: 100%;
    padding-top: 0.25rem;
}

.test-print-pdf .header-info-container > div:nth-child(1) {
    display: inline-block;
}

.test-print-pdf .header-info-container > div:nth-child(2) {
    display: inline-block;
    width: 400px;
    text-align: right;
    float: right;
    padding-right: 1px;
}

.test-print-pdf .footer-info-container .info-value {
    font-weight: bold;
}

.test-print-pdf .footer-info-container {
    display: block;
    width: 100%;
    height: 58px;
    padding-top: 0.25rem;
}

.test-print-pdf .footer-info-container > div {
    display: inline-block;
    min-width: 200px;
}

.test-print-pdf .footer-info-container > div:first-child,
.test-print-pdf .footer-info-container > div:nth-child(2) {
    min-width: 265px;
}

.test-print-pdf .footer-info-container .info-extra-margin {
    margin-left: 130px;
}

.test-print-pdf .footer-info-container > div:nth-child(3) {
    min-width: 120px;
}

.test-print-pdf .footer-info-container > div:last-child {
    min-width: 120px;
    float: right;
    margin-left: auto;
}

.test-print-pdf .cover-container-1 {
    padding-top: 1rem;
}

.test-print-pdf .cover-container-1 > div {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;
}

.test-print-pdf .cover-container-2 {
    margin-top: 150px;
    height: 200px;
}

.test-print-pdf .cover-container-3 {
    height: 200px;
    margin-top: 450px;
}

.test-print-pdf .cover-container-3 > div:first-child {
    margin-bottom: 1rem;
}

.test-print-pdf .citation-table * {
    border: 0px;
}

.test-print-opgaven-pdf .header-table {
    border: 0px;
    border-collapse: collapse;
}

.test-print-opgaven-pdf .header-table * {
    border: 0px;
    border-collapse: collapse;
}

.test-print-opgaven-pdf .footer-table * {
    border: 0px;
    border-collapse: collapse;
}

.test-print-opgaven-pdf .footer-table {
    border-collapse: collapse;
    border: 0px;
}

.test-print-pdf .header-table {
    border: 0px;
    border-collapse: collapse;
}

.test-print-pdf .header-table * {
    border: 0px;
    border-collapse: collapse;
}

.test-print-pdf .footer-table * {
    border: 0px;
    border-collapse: collapse;
}

.test-print-pdf .footer-table {
    border-collapse: collapse;
    border: 0px;
}


.test-print-pdf .citation-table th {
    text-align: left;
    line-height: 2rem;
}

.test-print-pdf .footer-icon-continue {
    display: inline;
    vertical-align: top;
    margin-top: 3px;
    padding-top: 5px;
    font-weight: bold;
    color: #041f74 !important;
    stroke: #041f74 !important;
    -webkit-text-stroke-color: #041f74 !important;
    height: 18px;
}

.test-print-pdf .footer-icon-end {
    height: 14px;
    width: 14px !important;
    border-radius: 4px;
    border: 1px solid #041f74;
    background-color: #041f74;
    display: inline-block;
}

.test-print-pdf table.matrix-table th,
.test-print-pdf table.matrix-table td {
    border: 3px solid #041F74;
}

.test-print-pdf table.matrix-table,
.test-print-pdf table.matrix-table th:first-child {
    border: none !important;
}

.test-print-pdf .group-question-container > div:first-child {

}

.test-print-pdf .group-question-container > div:nth-child(2) {
    display: block;
}

.test-print-pdf .group-question-icon2,
.test-print-pdf .group-question-icon1 {
    display: inline-block;
    float: left;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.test-print-pdf .group-question-description {
    padding-top: 1rem;
}

.test-print-pdf .group-question-name-container {
    display: block;
    vertical-align: center;
    background-color: #041f74;
    border: 1px solid #041f74;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    /*display: block;*/
    font-size: 20pt;
    min-height: 40px;
}

.test-print-pdf .group-question-name {
    font-size: 20pt;
    white-space: break-spaces;
    display: inline-block;
    text-align: center;
    min-width: 500px;
    max-width: 700px;
    margin-right: 30px;
}

.test-print-pdf .attachment-container {
    vertical-align: top;
}

.test-print-pdf .even-attachment {
    margin-left: 1rem;
}

.test-print-pdf .image-container {

}

.test-print-pdf .image-container > div {
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
}

.test-print-pdf .image-container img {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 400px;
}

.test-print-pdf .image-container,
.test-print-pdf .opgaven-image-container,
.test-print-pdf .video-container,
.test-print-pdf .pdf-container,
.test-print-pdf .audio-container {
    margin-top: 1rem;
    page-break-inside: avoid;
    width: 400px;
    display: inline-block;
    vertical-align: top;
}
.test-print-pdf .image-container span,
.test-print-pdf .opgaven-image-container span,
.test-print-pdf .video-container span,
.test-print-pdf .pdf-container span,
.test-print-pdf .audio-container span {
    display: inline-block;
    margin-top: 0.25rem;
}

.test-print-pdf table,
.test-print-pdf tr,
.test-print-pdf td,
.test-print-pdf th {
    border:none;
    border-color: #ffffff;
}

/* change color to black */
.different-pdf-version-colors {
    /* pdf compiler cant use css variables */
    --test-print-color: #041f74;
    --test-opgaven-print-color: #000000;
}

.test-print-pdf .test-print-opgaven-pdf .tp-question-title {
    border-bottom: 2px solid #000000; /*#041f74;*/
    border-top: 2px solid #000000; /*#041f74;*/
}

.test-print-pdf .test-print-opgaven-pdf .question-indicator .question-number.complete {
    border-color: #000000; /*#041f74;*/
    background: #000000; /*#041f74;*/
}

.test-print-pdf .test-print-opgaven-pdf .group-question-name-container {
    background-color: #000000; /*#041f74;*/
    border: 1px solid #000000; /*#041f74;*/
}

.test-print-pdf.test-print-opgaven-pdf .footer-icon-continue {
    color: #000000 !important; /*#041f74 */
    stroke: #000000 !important; /*#041f74 */
    -webkit-text-stroke-color: #000000 !important; /*#041f74 */
}

.test-print-pdf.test-print-opgaven-pdf .footer-icon-end {
    border: 1px solid #000000; /*#041f74;*/
    background-color: #000000; /*#041f74;*/
}

.test-print-pdf.test-print-opgaven-pdf .header-line,
.test-print-pdf.test-print-opgaven-pdf .footer-line {
    border: 2px solid #000000; /*#041f74;*/
    background-color: #000000
}

body.test-print-opgaven-pdf {
    color: #000000;
}
body#body .test-print-opgaven-pdf {
    color: #000000;
}
.test-print-opgaven-pdf .header-table {
    color: #000000;
}

.test-print-opgaven-pdf .footer-table {
    color: #000000;
}

.test-print-opgaven-pdf .matching-table {
    color: #000000;
}

.test-print-opgaven-pdf .base {
    color: #000000;
}

.test-print-opgaven-pdf .divider {
    background: #000000;
}

.test-print-opgaven-pdf h1 {
    color: #000000;
}

.test-print-opgaven-pdf h4 {
    color: #000000;
}

.test-print-opgaven-pdf .question-title {
    border-bottom: 3px solid #000000;
}

