.rsbtn.rs_tlc_skin {
    margin-bottom: 0px;
}
.rsbtn.rs_tlc_skin .rsbtn_play {
    background: #F0F2F5;
    border-color: #041f74;
    display: inline;
}
.rsbtn.rs_tlc_skin .rsbtn_play .rsbtn_left .rsbtn_text {
    display: inline;
}
.rsbtn.rs_tlc_skin .rsbtn_play .rsbtn_left .rsbtn_text::before {
    color: #041f74;
    /* Speaker icon */
    display: none;
}
.rsbtn.rs_tlc_skin .rsbtn_play .rsbtn_left .rsbtn_text .rsbtn_label {
    color: #041f74;
    /* Listen label */
    font-family: "Nunito Bold", sans-serif;
    font-size: 18px;
    padding-left: 0.2em;
    display: inline;
}
.rsbtn.rs_tlc_skin .rsbtn_play .rsbtn_right {
    border-color: #041f74;
}
.rsbtn.rs_tlc_skin .rsbtn_play .rsbtn_right::before {
    color: #041f74;
    /* Play icon */
}
.rsbtn.rs_tlc_skin .rsbtn_play:hover {
    background: #fff;
}
.rsbtn.rs_tlc_skin .rsbtn_play:hover .rsbtn_left .rsbtn_text::before {
    color: #004df5;
    /* Speaker icon */
}
.rsbtn.rs_tlc_skin .rsbtn_play:hover .rsbtn_left .rsbtn_text .rsbtn_label {
    color: #004df5;
    /* Listen label */
}
.rsbtn.rs_tlc_skin .rsbtn_play:hover .rsbtn_right::before {
    color: #004df5;
    /* Play icon */
}
.rsbtn.rs_tlc_skin .rsbtn_play:hover .svg-icon-audio {
    color: #004df5;
}
.rsbtn.rs_tlc_skin .rsbtn_tooltoggle {
    background: #F0F2F5;
    border-color: #041f74;
    color: #041f74;
}
.rsbtn.rs_tlc_skin.zoom-tooltoggler .rsbtn_tooltoggle {
    background: #fff;
    border-color: #041f74;
    color: #004df5;
}
.rsbtn.rs_tlc_skin .svg-icon-audio {
    display: inline;
    vertical-align: text-bottom;
    color: #041f74;
}
.rsbtn.rs_tlc_skin.rsexpanded .rsbtn_exp {
    display: inline;
}

#rsbtn_scrollcontrols{
    margin-left: 30%;
}

.rs-shadow-input{
    padding-top: 8px;
    text-align: center;
}
.Rectangle {
    width: 133px;
    height: 40px;
    margin: 0 213px 1px 356px;
    padding: 7px 16px 3px 11px;
    opacity: 0.05;
    border-radius: 20px;
    background-color: var(--teacher-primary);
}
.iconslees-voor-blue {
    width: 17px;
    height: 16px;
    margin: 4px 8px 10px 0;
    object-fit: contain;
}
.Lees-voor {
    width: 81px;
    height: 24px;
    margin: 0 0 6px 8px;
    font-family: Nunito;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--teacher-primary);
}