.question-title {
    padding-bottom: 1rem;
    border-bottom: 3px solid var(--system-base);
}

.question-indicator {
    position: relative;
}

.question-indicator .question-number {
    position: relative;
    min-width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border: solid 3px;
    margin-right: 12px;
    margin-bottom: 12px;
    background: var(--light-grey);
    border-color: var(--system-base);
    color: var(--system-base);
}
.question-title .question-number {
    margin-bottom: 0;
    margin-right: 0;
}

.question-indicator .question-number::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 3px;
    background: var(--system-base);
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
}

.question-indicator .question-number:last-of-type:before {
    display: none;
}


.question-indicator .question-number.pending {
    background: var(--light-grey);
    border-color: var(--system-base);
    color: var(--system-base);
}

.question-indicator .question-number.active {
    border-color: var(--system-base);
    background: var(--system-base);
    color: white;
}

.question-indicator .question-number.complete {
    border-color: var(--cta-primary);
    background: var(--cta-primary);
    color: white;
}
.question-indicator .question-number.complete::before {
    background: var(--cta-primary);
}

.question-indicator .question-number.incomplete {
    border-color: var(--mid-grey);
    background: white;
    color: var(--mid-grey);
}

.stripe {
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--system-base);
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.multiple-choice-question:hover {
    box-shadow: 0 1px 18px 0 rgba(77, 87, 143, 0.4);
    border-color: var(--off-white);
    font-weight: bold;
    color: var(--primary);
    background: var(--off-white);
}

.multiple-choice-question:focus {
    border-color: var(--primary);
}

.multiple-choice-question:active {
    box-sizing: border-box;
    box-shadow: 0 1px 6px 0 rgba(77, 87, 143, 0.4);
    border-color: var(--primary);
    border-width: 2px;
    background: var(--off-white);
    font-weight: bold;
    color: var(--primary);
}

.multiple-choice-question.active {
    box-sizing: border-box;
    border-color: var(--primary);
    border-width: 2px;
    background: var(--off-white);
    font-weight: bold;
    color: var(--primary);
}
