.question-title {
    padding-bottom: 1rem;
    border-bottom: 3px solid var(--system-base);
}

.question-indicator {
    position: relative;
}

.question-indicator .question-number {
    color: white;
    width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border: solid 3px;
    margin-right: 12px;
    margin-bottom: 12px;
}
.question-title .question-number {
    margin-bottom: 0;
    margin-right: 0;
}

.question-indicator .question-number {
    position: relative;
}

.question-indicator .question-number::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 3px;
    background: var(--system-base);
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
}

.question-indicator .question-number:last-of-type:before {
    display: none;
}


.question-indicator .question-number.pending {
    background: var(--light-grey);
    border-color: var(--system-base);
    color: var(--system-base);
}

.question-indicator .question-number.active {
    border-color: var(--system-base);
    background: var(--system-base);
}

.question-indicator .question-number.complete {
    border-color: var(--cta-primary);
    background: var(--cta-primary);
}
.question-indicator .question-number.complete::before {
    background: var(--cta-primary);
}

.stripe {
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--system-base);
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}