.button {
    border-radius: 10px;
    font-size: 18px;
    font-family: Nunito Bold;
    padding: 0 20px 0 20px;
}

.button:focus {
    outline: none;
    padding: 0 18px 0 18px;
}

.button-sm {
    min-height: 40px;
}

.button-md {
    min-height: 50px;
}

.button-lg {
    min-height: 60px;
}

.text-button {
    color: var(--system-base);
    font-weight: bold;
}

.text-button:hover {
    color: var(--primary);
}

.text-button:focus {
    outline: none;
}