
/* ckeditor comments */
.ck.ck-balloon-panel {
    display: none !important;
}
.ck-thread.ck-thread--active {
    display: none;
}

.answer-feedback-card {
    @apply flex w-full flex-col border relative bg-white;
    border-radius: 2px 10px 10px 2px;
    padding: 1px;
    border-left: 1px !important;
    transition: margin-left 300ms linear, margin-right 300ms linear;
    box-shadow: 1px 2px 4px 0 rgba(4, 31, 116, 0.15);
}

/*
 * Hover state: allways
 * Active state: closed cards, activate a card
 * Editing state:  opened card
*/
.answer-feedback-card-active,
.answer-feedback-card-editing,
.answer-feedback-card-hovering {}

/* couples of programmatically added states and their native version */
.answer-feedback-card-hovering,
 .answer-feedback-card:hover {}

.answer-feedback-card-active {} /* the active styling is overwritten by editing state */

answer-feedback-card-editing {}
.answer-feedback-card:active,
.answer-feedback-card:focus {}




















.answer-feedback-card-focussed,
.answer-feedback-card-editing,
.answer-feedback-card-hovering,
.answer-feedback-card:hover,
.answer-feedback-card:active,
.answer-feedback-card:focus {
    @apply border-primary;
}

.answer-feedback-card-active,
.answer-feedback-card-editing,
.answer-feedback-card:active,
.answer-feedback-card:focus {
    @apply border-2;
    padding: 0 0 0 1px !important;

}

.answer-feedback-card-hovering,
.answer-feedback-card:hover {
    background-color: #f3f7ff;
}

.answer-feedback-card-editing {
    margin-left: -1rem;
    margin-right: -1rem;
    width: auto;
}

.answer-feedback-card:hover :is(.feedback-card-message, .feedback-card-datetime, .feedback-card-name) {
    color: var(--teacher-primary);
}


.answer-feedback-card-line {
    @apply absolute w-0 border-2 rounded-l-sm -top-px -left-px h-[calc(100%+2px)];
}

.answer-feedback-card:active .answer-feedback-card-line,
.answer-feedback-card:focus .answer-feedback-card-line {
    @apply h-[calc(100%+4px)] -top-[2px]
}

.answer-feedback-card-teacher .answer-feedback-card-line {
    border-color: rgb(var(--primary-rgb));
}
.answer-feedback-card-student .answer-feedback-card-line {
    border-color: rgb(var(--student-rgb));
}


/* label color primary when hovering... */
.comment-emoji-picker,
.comment-color-picker {
    @apply w-full mb-6;
}

.comment-emoji-picker:is(:hover, :active, :focus) .comment-emoji-picker-label,
.comment-color-picker:is(:hover, :active, :focus) .comment-color-picker-label,
.comment-feedback-editor:is(:hover, :active, :focus) .comment-feedback-editor-label {
    color: var(--teacher-Primary);
}

.comment-emoji-picker-label,
.comment-color-picker-label {
    @apply w-full mb-[5px] mt-2;
}

.comment-color-picker-label.disabled {
    color: var(--mid-grey) !important;
}



.comment-editor .ck.ck-editor__main p > .ck-comment-marker {
    border: 1px solid transparent;
}
.comment-editor  .ck.ck-editor__main .ck-content > * {
    line-height: 2;
}


.comment-editor .ck.ck-editor__main .ck-comment-marker.ck-comment-marker--active{
    color: var(--teacher-primary);
}

.comment-editor .ck.ck-editor__main .ck-comment-marker.ck-comment-marker--active{
    border: 1px solid var(--ck-color-comment-marker);
}
