
/* ckeditor comments */
.ck.ck-balloon-panel {
    display: none !important;
}
.ck-thread.ck-thread--active {
    display: none;
}

.answer-feedback-card {
    @apply flex w-full flex-col border relative bg-white;
    border-radius: 2px 10px 10px 2px;
    padding: 1px;
    border-left: 1px !important
}

.answer-feedback-card:hover,
.answer-feedback-card:active,
.answer-feedback-card:focus {
    @apply border-2 p-0;
    padding-left: 1px !important;
}


.answer-feedback-card-teacher.answer-feedback-card:hover,
.answer-feedback-card-teacher.answer-feedback-card:active,
.answer-feedback-card-teacher.answer-feedback-card:focus {
    @apply border-primary;
}

.answer-feedback-card-student.answer-feedback-card:hover,
.answer-feedback-card-student.answer-feedback-card:active,
.answer-feedback-card-student.answer-feedback-card:focus {
    @apply border-student;
}

.answer-feedback-card-line {
    @apply absolute w-0 border-2 rounded-l-sm -top-px -left-px h-[calc(100%+2px)];
}

.answer-feedback-card:hover .answer-feedback-card-line,
.answer-feedback-card:active .answer-feedback-card-line,
.answer-feedback-card:focus .answer-feedback-card-line {
    @apply h-[calc(100%+4px)] -top-[2px]
}

.answer-feedback-card-teacher .answer-feedback-card-line {
    border-color: rgb(var(--primary-rgb));
}
.answer-feedback-card-student .answer-feedback-card-line {
    border-color: rgb(var(--student-rgb));
}