@import url("components/button.css");
@import url("components/footer.css");
@import url("components/notification.css");
@import url("components/table.css");
@import url("components/plyr.css");
@import url("test-take.css");
@import url("forms.css");
@import url("pages.css");
@import url("question-editor.css");
@import url("filepond.css");
@import url("drawing-question.css");
@import url("ckeditor5.css");
@import url("choices.css");


@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("app_base.css");

[x-cloak] {
    visibility: visible !important;
}

body {
    background: #ffffff !important;
    color: #041f74;
}

.question-indicator .question-number.complete {
    border-color: #3ab753;
    background: #3ab753;
    color: white;
}

.question-title .question-number {
    margin-bottom: 0;
    margin-right: 0;
}

.question-title {
    padding-bottom: 1rem;
    border: 0;
    border-bottom: 3px solid #041f74;
}

.question-indicator .question-number {
    position: relative;
    min-width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border: solid 3px;
}

.question-number > span {
    font-size: 18px;
    font-weight: bold;
}

h1 {
    color: #041f74;
}

h4 {
    font-size: 1.5rem;
    font-family: Nunito;
    font-weight: bold;
    line-height: 1.5rem;
    color: #041f74;
}

.form-input, .form-input-pdf {
    background: #f9faff;
    border: 1px solid #c3d0ed;
    padding: 0 10px 0 10px;
    border-radius: 8px;
}

p {
    vertical-align: top;
}

.multiple-choice-question.active {
    box-sizing: border-box;
    border-color: #004df5;
    border-width: 2px;
    background: #f9faff;
    font-weight: bold;
    color: #004df5;
}

.stroke-current {
    stroke: #004df5;
}

.icon_checkmark_pdf {
    display: inline;
    margin-left: 10px;
    /*width: 16px;*/
    /*height: 16px;*/
    max-width: none !important;
    margin-top: 10px;
}

.student_test_take_checkmark_pdf {
    margin-top: 0px;
}

.multiple-choice-question.disabled, .multiple-choice-question.disabled:hover {
    background: white;
    border: solid 2px #c3d0ed;
    color: #929DAF;
    box-shadow: none;
    font-weight: normal;
}

.overview .trueFalse.active, .overview .trueFalse.active:hover {
    border: 2px solid #004df5;
    color: #004df5;
}

.bg-blue-grey {
    background: #c3d0ed;
}

.border-blue-grey {
    border-color: #c3d0ed;
}

.bg-off-white {
    background: #f9faff;
}

.overview .trueFalse, .overview .trueFalse:hover {
    border: 1px solid transparent;
    margin: 0;
    color: #929DAF;
}

.divider {
    height: 3px;
    background: #041f74;
}

.mc-radio, .arq-radio {
    margin-top: 8px;
}

.mc-radio-label-pdf, .mc-radio-label-pdf * {
    display: inline;
}

.bg-primary-light {
    background: #e6edfa;
}

.border-light-grey {
    border-color: #F0F2F5;
}

.bg-light-grey {
    background: #F0F2F5;
}

.border-mid-grey {
    border-color: #929DAF;
}

.border-system-secondary {
    border-color: #CEDAF3;
}

.border-primary {
    border-color: #004df5;
}

.base {
    color: #041f74;
}

.matching-dropzone {
    height: 44px;
    margin-left: 40px;
}

.label-dropzone > span {
    min-height: 27px;
}

.label-dropzone {
    padding: 0;
}

.space-x-2 {
    margin-top: 12px;
}

.classified > div {
    display: inline;
}

.pdf-30 {
    width: 30%;
}

.pdf-35 {
    width: 35%;
}

.pdf-45 {
    width: 45%;
}

.pdf-ml-2 {
    margin-left: 10px;
}

.pdf-ml-5 {
    margin-left: 25px;
}

.pdf-ml-8 {
    margin-left: 40px;
}

.pdf-ml-9 {
    margin-left: 45px;
}

.pdf-mt-2 {
    margin-top: 10px;
}

.pdf-100 {
    width: 100%;
}

.pdf-90 {
    width: 90%;
}

.pdf-80 {
    width: 80%;
}

.pdf-minh-40 {
    min-height: 40px;
}

.pdf-align-center {
    vertical-align: sub;
}

.pdf-dropzone {
    padding-right: 40px;
}

.pdf-answer-model-select {
    display: inline;
    border: solid 2px #c3d0ed;
    padding-left: 10px;
    padding-right: 10px;
}

.pdf-answer-model-input {
    height: 30px;
}

.pdf-student-answers-input {
    display: inline-block;
    margin-top: 2px;
    /*height: 2rem;*/
    min-height: 2rem;
    min-width: 100px;
    max-height: min-content;
    max-width: 95%;
    white-space: break-spaces;
    background: #f9faff;
    border: 1px solid #c3d0ed;
    padding: 0 10px 0 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.pdf-student-answers-label {
    display: inline-block;
    min-height: 2rem;
    margin-top: 5px;
    margin-bottom: 10px;
    max-width: 5%;
    width: 5%;
}

.pdf-student-answers-label.relation-question-pdf {
    width: 300px;
    min-width: 300px;
}
.pdf-student-answers-input.relation-question-pdf {
    width: 120px;
    min-width: 120px;
    margin-right: 1rem;
}

.pdf-student-answers-label.relation-question-pdf strong {
    text-shadow: 0.75px 0 currentColor, -0.75px 0 currentColor;
}

:is(.pdf-student-answers-input, .pdf-answer-model-input) {
    display: inline;
    border: solid 2px #c3d0ed;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.prevent-pagebreak-table {
    width: 100%;
    border: 0 !important;
    border-width: 0 !important;
    border-collapse: unset;
}

.no-border, table.no-border > tbody {
    border: 0 !important;
    border-width: 0 !important;
    border-collapse: unset;
}

.pdf-texarea {
    padding-top: 5px;
}

.questionContainer .prevent-pagebreak-table td {
    border: 0 !important;
    border-width: 0 !important;
}

div.input-group u, div.input-group strong, div.input-group span, p strong {
    vertical-align: top;
}

.flex-wrap-pdf {
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    -webkit-flex-wrap: wrap !important;
}

.flex-pdf {
    -webkit-display: -webkit-flex !important;
    display: -webkit-flex !important;
}

.inline-flex-pdf {
    -webkit-display: -webkit-inline-flex !important;
    display: -webkit-inline-flex !important;
}

.inline-block-pdf {
    display: inline-block;
    white-space: nowrap;
}

.questionContainer p {
    margin-top: 0;
    margin-bottom: 0;
}

.children-block-pdf p {
    display: block;
    white-space: normal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    vertical-align: middle;
}

.space-x-4 > :not([hidden]) ~ :not([hidden]) {
    margin-right: 16px;
    margin-left: 16px;
}

.flex-col-pdf {
    display: -webkit-box; /* WebKit */
    -webkit-box-orient: vertical; /* WebKit */

}

.flex-row-pdf {
    display: -webkit-box; /* WebKit */
    -webkit-box-orient: horizontal; /* WebKit */

}

.pdf-dropzone, .pdf-dropzone-heading {
    width: 400px !important;
}

div.drag-item > div {
    float: right;
    height: 16px;
}

.matching-question .matching-dropzone .drag-item, .matching-question .matching-dropzone .drag-item-test-take-overview-preview {
    width: 380px;
}

.no-margin {
    margin: 0 !important;
}

.matrix-table td, .matrix-table th {
    /*white-space: nowrap;*/
    text-align: left;
}

.matrix-table td > label > div {
    margin: auto;
}

.page-no-break{
    page-break-inside: avoid !important;
}

.question-no-break-mc-option {
    page-break-inside: avoid;
}

.question-no-break-matching-option {
    page-break-inside: avoid;
}

.question-no-break-classify-option {
    page-break-inside: avoid;
}

.question-no-break-ranking-option {
    page-break-inside: avoid;
}

.question-no-break-arq-option {
    page-break-inside: avoid;
}

.question-no-break-open-short {
    page-break-inside: avoid;
}

.question-no-break-open-medium {
    page-break-inside: avoid;
}

.question-no-break-drawing {
    page-break-inside: avoid;
}

.question-no-break-matrix {
    page-break-inside: avoid;
}

.question-no-break-completion {
    page-break-inside: avoid;
}

.question-no-break-true-false {
    page-break-inside: avoid;
}

.question-no-break-info {
    page-break-inside: avoid;
}

.question-indicator-no-break {
    page-break-inside: avoid;
}

.question-no-break-dropzone {
    page-break-inside: avoid;
}

.prevent-pagebreak {
    page-break-before: auto;
}

.page-break-before-pdf {
    page-break-before: always;
}

.img-no-break {
    page-break-inside: avoid;
}

.img-pdf {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    max-height: 600px;
}

.content-section {
    box-shadow: none;
}

.cta-primary {
    color: #3ab753;
}

.h-full-pdf {
    max-height: fit-content;
}

.justify-between {
    -webkit-justify-content: space-between;
}

h2.student-testtake-answers-separator {
    width: 100%;
    text-align: center;
    border: 0;
    border-bottom: 3px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

h2.student-testtake-answers-separator span {
    background: #fff;
    padding: 0 10px;
}

table.matching-question-answers-pdf {
    /**/
}

table.matching-question-answers-pdf tr ,
table.matching-question-answers-pdf td ,
table.matching-question-answers-pdf tbody ,
table.matching-question-answers-pdf {
    border: 0 !important;
    border-width: 0 !important;
    border-collapse: unset;
}

table.matching-question-answers-pdf tr {
    /**/
    margin-bottom: 2px;
    margin-top: 2px;
}

table.matching-question-answers-pdf tr td.left-side-td {
    width: 400px;
}
table.matching-question-answers-pdf tr td.left-side-td > div {
    background: #e6edfa;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #c3d0ed; /* blue-grey */
}

table.matching-question-answers-pdf tr td.right-side-td > div {
    border: 2px dashed #c3d0ed; /* blue-grey */
    border-radius: 12px;
}

table.matching-question-answers-pdf tr td.right-side-td > div span {
    background: #F0F2F5; /* light-grey */
}

table.matching-question-answers-pdf tr td.right-side-td {
    width: 600px;
}

table.matching-question-answers-pdf tr td.left-side-td > div,
table.matching-question-answers-pdf tr td.right-side-td > div span {
    border-radius: 10px;
    padding: 6px 16px;
}

table.matching-question-answers-pdf tr td.right-side-td > div span:first-child {
    display: inline-block;
    width: 100%;
}

.matching-question-answers-pdf-unused {
    width: 100%;
    white-space: break-spaces;
}

.matching-question-answers-pdf-unused .matching-question-drag-item {
    background: #F0F2F5; /* light-grey */
    border-radius: 10px;
    padding: 6px 16px;
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 4px;
}
