.fast-scoring .fast-option:hover .note,
.fast-scoring .fast-option.active .note {
    color: var(--primary);
}

.fast-scoring .fast-option {
    transition: color 150ms ease-in-out, border-color 150ms ease-in-out, opacity 150ms ease-in-out;
    position: relative;
}

.fast-scoring .fast-option .borderdiv {
    transition: border-color 150ms ease-in-out;
    border-width: 3px;
    border-color: transparent;
    position: absolute;
    inset: -1px;
}

.fast-scoring .fast-option.active,
.fast-scoring .fast-option.active .borderdiv {
    color: var(--primary);
    border-color: var(--primary);
}

.fast-scoring.disabled {
    pointer-events: none;
}

.fast-scoring.disabled .fast-option,
.fast-scoring.disabled .fast-option .note,
.fast-scoring.disabled .fast-option.active,
.fast-scoring.disabled .fast-option.active .borderdiv,
.fast-scoring.disabled .fast-option.active .note {
    opacity: .75;
}

.drawer .feedback .ck-editor__editable_inline,
.inline-feedback-modal .ck-editor__editable_inline {
    min-height: 150px;
}

.drawer .feedback .ck.ck-editor__main {
    padding-top: 76px;
}

.drawer .feedback .ck-dropdown {
    --ck-dropdown-max-width: 200px;
}

.drawer .feedback .ck-dropdown__panel .ck.ck-form__header.ck-special-characters-navigation {
    height: auto;
    flex-wrap: wrap;
    justify-content: end;
}
.drawer .ck.ck-editor .ck-editor__top {
    top: 0;
}

.progress-bar-background {
    width: calc(100% - var(--active-sidebar-width));
    transition: width var(--sidebar-transition)
}
.progress-bar-background .progress-bar {
    transition: width 150ms ease-in
}
