#co-learning-page .cke .cke_top,
#co-learning-page .cke .cke_bottom {
    display: none !important;
}

#co-learning-teacher-page {
    --drawer-width: 300px;
}

#co-learning-teacher-page .drawer-footer {
    height: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding: 15px 1.5rem; /*top, right, bottom, left or top+bottom, right+left*/
    background-color: white;
}

#co-learning-teacher-page .drawer-content-head {
    margin-top: 10px;
    padding: 10px 1.5rem 0.5rem; /*top, left+right, bottom */
    /*width: var(--drawer-width);*/
}

#co-learning-teacher-page .drawer-content-head div {
    white-space: nowrap;
}

#co-learning-teacher-page .drawer-content {
    max-height: calc(100vh - 190px);
    height: calc(100vh - 190px);
    /*width: var(--drawer-width);*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
}

#co-learning-teacher-page #student-info-container .student-name {
    display: inline-block;
    width: 186px;
    max-width: 186px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#co-learning-teacher-page #student-info-container .show-on-smartboard {
    position: relative;
    width: 18px;
    height: 16px;
    transition: 0.25s ease-out;
}

#co-learning-teacher-page #student-info-container .show-on-smartboard svg {
    position: absolute;
}

#co-learning-teacher-page #student-info-container .show-on-smartboard::before {
    content: '';
    width: 32px !important;
    height: 32px !important;
    border: 1px solid blue !important;
    background-color: var(--primary) !important;
    position: absolute;
    transform: translate(-6px, -8px);
    border-radius: 9999px;
    opacity: 0;
    transition: opacity 0.25s ease-out;
}

#co-learning-teacher-page #student-info-container .show-on-smartboard.active::before,
#co-learning-teacher-page #student-info-container .show-on-smartboard:hover::before {
    opacity: 100%;
}

#co-learning-teacher-page #student-info-container .show-on-smartboard.active,
#co-learning-teacher-page #student-info-container .show-on-smartboard:hover {
    color: white;
}

#co-learning-teacher-page .hide-on-smartboard {
    position: absolute;
    right: 20px;
}
#co-learning-teacher-page .hide-on-smartboard div {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#co-learning-teacher-page .hide-on-smartboard svg {
    position: absolute;
    top: 12px;
    left: 9px;
    color: var(--system-base);
}

/* height:
 *  Footer = 70px
 *  content-head = 50px
 *  header = 70px
 * total = 190px
*/

#co-learning-teacher-page #main-content-container {
    top: 70px;
    display: flex;
    width: 100%;
    min-height: calc(100vh - 70px);
    position: relative;
    margin-bottom: 70px;
    overflow: auto;
}

#co-learning-teacher-page .question-indicator .question-number {
    border-color: var(--system-base);
    background: var(--system-base);
    color: white;
}

#co-learning-teacher-page .container-border-left-primary {
    background-color: var(--primary);
}

#co-learning-teacher-page .container-border-left-student {
    background-color: var(--secondary);
}

#co-learning-teacher-page .container-border-left-student,
#co-learning-teacher-page .container-border-left-primary {
    position: absolute;
    width: 0.5rem;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px 0 0 10px; /*border left*/
    border-width: 0px;
}

#co-learning-teacher-page h4 {
    line-height: 1.33;
}

#co-learning-teacher-page .question-title {
    padding-bottom: 13px;
}

#co-learning-teacher-page .word-count div {
    display: flex;
}
#co-learning-teacher-page .word-count div div {
    margin-right: 1rem;
}




#co-learning-start-screen {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, var(--teacher-primary) 0%, var(--teacher-primary-light) 100%);
    overflow: hidden;
}

#co-learning-start-screen .co-learning-start-content {
    top: 70px;
    display: flex;
    width: 100%;
    min-height: calc(100vh - 70px);
    position: relative;
    overflow: hidden;
}
