#co-learning-page .cke .cke_top,
#co-learning-page .cke .cke_bottom {
    display: none !important;
}

#co-learning-teacher-page,
#assessment-page {
    --drawer-width: 300px;
}

#co-learning-teacher-page .drawing-question-img-container img {
    background-image: none;
}

/*#co-learning-teacher-page img {*/
/*    background-color: rgba(var(--light-grey-rgb), 1);*/
/*    background-image: url(/pdf/images/loading-icon.gif);*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*}*/

#co-learning-teacher-page .drawer-footer,
#assessment-page .drawer-footer {
    height: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding: 15px 1.5rem; /*top, right, bottom, left or top+bottom, right+left*/
    background-color: white;
}

#co-learning-teacher-page .drawer-content-head,
#assessment-page .drawer-content-head {
    margin-top: 10px;
    padding: 10px 1.5rem 0.5rem; /*top, left+right, bottom */
    /*width: var(--drawer-width);*/
}

#co-learning-teacher-page .drawer-content-head div,
#assessment-page .drawer-content-head div {
    white-space: nowrap;
}

#co-learning-teacher-page .drawer-content,
#assessment-page .drawer-content {
    max-height: calc(100vh - 190px);
    height: calc(100vh - 190px);
    /*width: var(--drawer-width);*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
}
#co-learning-teacher-page .student-info-container {
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
}
#co-learning-teacher-page .student-info-container:not(:first-child) .content {
    border-top: 1px solid var(--blue-grey)
}
#co-learning-teacher-page .student-info-container > *,
#assessment-page .student-info-container > * {
    opacity: 100%;
}

#co-learning-teacher-page .student-info-container:hover,
#assessment-page .student-info-container:hover {
    background-color: rgba(0, 77, 245, 0.05);
    color: var(--teacher-primary);
}

#co-learning-teacher-page .student-info-container .student-name,
#assessment-page .student-info-container .student-name {
    display: inline-block;
    width: 186px;
    max-width: 186px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* van hier */
#co-learning-teacher-page .student-info-container .show-on-smartboard,
#assessment-page .student-info-container .show-on-smartboard {
    width: 32px !important;
    height: 32px !important;
    background: none;
    border-radius: 9999px;
    transition: color 150ms ease-out, background-color 150ms ease-out, border-color 150ms ease-out, opacity 300ms ease-in-out;
    border: 1px solid transparent;
}

#co-learning-teacher-page .collapsed .student-info-container .show-on-smartboard {
    opacity: 0%; /*opacity instead of visibilty for transition*/
}

#co-learning-teacher-page .student-info-container .show-on-smartboard:active {
    background-color: rgba(var(--primary-rgb), 0.1);
}

#co-learning-teacher-page .student-info-container .show-on-smartboard:hover,
#co-learning-teacher-page .student-info-container .show-on-smartboard:focus {
    background-color: rgba(0,77,245,0.05);
    color: var(--teacher-primary);
}

#co-learning-teacher-page .student-info-container .show-on-smartboard:focus {
    border: 1px solid rgba(0,77,245,0.15);
}

#co-learning-teacher-page .student-info-container .show-on-smartboard svg,
#assessment-page .student-info-container .show-on-smartboard svg {
    position: absolute;
    top: 7px;
    left: 6px;
}

#co-learning-teacher-page .student-info-container.active .show-on-smartboard,
#assessment-page .student-info-container.active .show-on-smartboard {
    border: 1px solid blue !important;
    background-color: var(--primary) !important;
}


#co-learning-teacher-page .student-info-container.active .show-on-smartboard:hover,
#assessment-page .student-info-container.active .show-on-smartboard:hover,
#co-learning-teacher-page .student-info-container.active .show-on-smartboard,
#assessment-page .student-info-container.active .show-on-smartboard {
    color: white;
}

#co-learning-teacher-page .student-info-container .show-on-smartboard.disabled:hover,
#assessment-page .student-info-container .show-on-smartboard.disabled:hover,
#co-learning-teacher-page .student-info-container .show-on-smartboard.disabled,
#assessment-page .student-info-container .show-on-smartboard.disabled {
    color: var(--mid-grey);
}

#co-learning-teacher-page .student-info-container .show-on-smartboard:hover,
#assessment-page .student-info-container .show-on-smartboard:hover {
    color: var(--teacher-primary);
}
/* tot hier */
#co-learning-teacher-page .student-info-container.active .student-name,
#assessment-page .student-info-container.active .student-name {
    font-weight: bold;
    color: var(--teacher-primary);
}

#co-learning-teacher-page .hide-on-smartboard,
#assessment-page .hide-on-smartboard {
    position: relative;
    isolation: isolate;
    pointer-events: all;
}

#co-learning-teacher-page .hide-on-smartboard div,
#assessment-page .hide-on-smartboard div {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#co-learning-teacher-page .hide-on-smartboard svg,
#assessment-page .hide-on-smartboard svg {
    position: absolute;
    top: 12px;
    left: 9px;
    color: var(--system-base);
}

#co-learning-teacher-page .answered-status-badge,
#assessment-page .answered-status-badge {
    position: absolute;
    top: 7px;
    right: 70px;
}

/* height:
 *  Footer = 70px
 *  content-head = 50px
 *  header = 70px
 * total = 190px
*/

#co-learning-teacher-page #main-content-container,
#assessment-page #main-content-container {
    top: 70px;
    display: flex;
    width: 100%;
    min-height: calc(100vh - 70px);
    position: relative;
    margin-bottom: 70px;
    overflow: auto;
}

#co-learning-teacher-page .question-indicator .question-number,
#co-learning-page .question-indicator .question-number,
#assessment-page .question-indicator .question-number,
#student-test-review .question-indicator .question-number {
    border-color: var(--system-base);
    background: var(--system-base);
    color: white;
}

#co-learning-page .container-border-left.primary,
#co-learning-teacher-page .container-border-left.primary,
#assessment-page .container-border-left.primary,
#student-test-review .container-border-left.primary {
    background-color: var(--primary);
}

#co-learning-page .container-border-left.student,
#co-learning-teacher-page .container-border-left.student,
#assessment-page .container-border-left.student,
#student-test-review .container-border-left.student {
    background-color: var(--secondary);
}

#co-learning-page .container-border-left,
#co-learning-teacher-page .container-border-left,
#assessment-page .container-border-left,
#student-test-review .container-border-left {
    background-color: var(--primary);
    position: absolute;
    width: 0.5rem;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px 0 0 10px; /*border left*/
    border-width: 0px;
}

#co-learning-teacher-page h4,
#assessment-page h4 {
    line-height: 1.33;
}

#co-learning-teacher-page .question-title,
#assessment-page .question-title {
    padding-bottom: 13px;
}

#co-learning-teacher-page .question-bottom-line,
#assessment-page .question-bottom-line {
    border-bottom: 3px solid var(--system-base);
}

#co-learning-teacher-page .word-count div,
#assessment-page .word-count div {
    display: flex;
}

#co-learning-teacher-page .word-count div div,
#assessment-page .word-count div div {
    margin-right: 1rem;
}


.badge-view {
    transition: 150ms ease background-color, 150ms ease color, box-shadow 150ms ease;
}

.badge-view:hover {
    cursor: pointer;
    /*background-color: #f3f7ff;*/
    box-shadow: 0 3px 6px 0 rgba(4, 31, 116, 0.2);
    color: var(--teacher-primary);
}

.badge-view:active {
    box-shadow: 0 2px 3px 0 rgba(4, 31, 116, 0.2);
    background-color: rgba(var(--primary-rgb), 0.15);
}

.badge-view:hover .badge-title {
    color: var(--primary);
}

.badge-view:active:after,
.badge-view:hover:after {
    content: '';
    border: 2px solid var(--teacher-primary);
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 10px;
}

.badge-view.lead-divider {
    margin-right: 2rem;
}
.badge-view.lead-divider:before {
    content: '';
    height: 36px;
    width: 2px;
    background-color: var(--system-base);
    position: absolute;
    right: -1.125rem;
    top: 2px;
    pointer-events: none;
}

#co-learning-teacher-page #header,
#assessment-page #header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    z-index: 50;
    box-shadow: var(--main-shadow);
    align-content: center;
    background-image: linear-gradient(to right, var(--teacher-primary), var(--teacher-primary-light));
    transition: height 1s ease;
}


#co-learning-teacher-page #header.maintenance-header-bg,
#assessment-page #header.maintenance-header-bg {
    border-bottom: 4px solid var(--maintenance-header-bg);
    /*normal maintenance-header-bg not working with colearning background image gradient*/
}


#co-learning-teacher-page #header #start-screen-content .flex .co-learning-panel,
#assessment-page #header #start-screen-content .flex .co-learning-panel {
    width: 307px;
    height: 321px;
    padding: 30px;
    border-radius: 8px;
    border: solid 2px rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 77, 245, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#co-learning-teacher-page #header #start-screen-content .grid .co-learning-panel.co-learning-restart.co-learning-previous-discussion-type,
#assessment-page #header #start-screen-content .grid .co-learning-panel.co-learning-restart.co-learning-previous-discussion-type,
#co-learning-teacher-page #header #start-screen-content .grid .co-learning-panel:not(.disabled):hover,
#assessment-page #header #start-screen-content .grid .co-learning-panel:not(.disabled):hover {
    box-shadow: 0 8px 16px 0 rgba(4, 31, 116, 0.3);
    border: solid 2px white;
    background-color: rgba(0, 77, 245, 0.9);
}

#co-learning-teacher-page #header #start-screen-content .grid .co-learning-panel.co-learning-restart,
#assessment-page #header #start-screen-content .grid .co-learning-panel.co-learning-restart {
    height: 375px;
}

#co-learning-teacher-page #header #start-screen-content .grid .co-learning-panel #text-body,
#co-learning-teacher-page #header #start-screen-content .grid .co-learning-panel .panel-body,
#assessment-page #header #start-screen-content .grid .co-learning-panel #text-body,
#assessment-page #header #start-screen-content .grid .co-learning-panel .panel-body {
    height: 91px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#co-learning-teacher-page .co-learning-tooltip,
#assessment-page .co-learning-tooltip {
    position: fixed;
    width: 252px;
    height: 64px;
    padding: 7px 24px 10px 16px;
    border: 1px solid var(--blue-grey);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    display: none;
    z-index: 10;
    color: var(--system-base);
}

/*#co-learning-teacher-page .co-learning-tooltip:nth-child(1),*/
/*#assessment-page .co-learning-tooltip:nth-child(1) {*/
/*    height: 22px;*/
/*}*/

/*#co-learning-teacher-page .co-learning-tooltip:nth-child(2),*/
/*#assessment-page .co-learning-tooltip:nth-child(2) {*/
/*    height: 18px;*/
/*    font-size: 14px;*/
/*}*/


.multiple-choice .all-or-nothing-toggle {
    position: absolute;
    left: calc(50% + 2rem);
    transform: translateY(-50%);
}
.multiple-choice .first-active .all-or-nothing-line {
    right: -1rem;
    position: absolute;
    width: 10px;
    border: solid 2px var(--primary);
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 50%;
    transition: height 50ms ease
}

.set-up-colearning {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.set-up-colearning .set-up-colearning-panel,
.set-up-colearning .set-up-colearning-panel > div,
.set-up-colearning .set-up-subtitle,
.set-up-colearning .set-up-navigation {
    width: 100%;
    max-width: 940px;
}

.set-up-colearning .set-up-colearning-panel {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 32px - 86px);
    max-height: calc(100% - 32px - 86px); /* minus subtitle, minus navigation */
}


.set-up-colearning .set-up-colearning-panel > div {
    border-radius: 10px;
    background: white;
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.set-up-colearning .set-up-colearning-panel .step-one-illustration {
    width: 100%;
    height: 360px;
    min-height: 360px;
    position: relative;
    overflow: hidden;
}

.set-up-colearning .set-up-colearning-panel .step-one-illustration svg:nth-child(1) {
    width: 940px;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    border-radius: 10px;
}

.set-up-colearning .set-up-colearning-panel .step-one-illustration svg:nth-child(2) {
    position: absolute;
    /*width: 940px;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.set-up-colearning .set-up-colearning-panel .step-one-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.set-up-colearning .set-up-colearning-panel .step-one-options {
    height: fit-content;
    width: 475px;
    display: flex;
    flex-direction: column;
    color: var(--system-base);
}

.set-up-colearning .set-up-navigation {
    position: relative;
    min-height: 86px;
    text-align: center;
    display: flex;
    align-items: center;
    padding-bottom: 12px;
}

.set-up-colearning .set-up-navigation .navigation-dots {
    position: absolute;
    left: 50%;
    top: 1.5rem;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
}

.set-up-colearning .set-up-navigation .navigation-dot-full {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 9999px;
    background-color: white;
}
.set-up-colearning .set-up-navigation .navigation-dot-open {
    width: 16px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 9999px;
    border: 2px solid white;
}

.set-up-colearning .set-up-subtitle {
    min-height: 86px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    margin-left: 25px;
}

.set-up-colearning .set-up-shadow-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    box-shadow: 0 -3px 8px 0 rgba(4, 31, 116, 0.2);
    background: white;
    border-radius: 0 0 10px 10px;
    z-index: 10;
}

.set-up-colearning .text-note {
    text-align: center;
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}


.set-up-colearning .set-up-colearning-panel .step-two {
    width: 100%;
    color: var(--system-base);
    margin-bottom: 16px;
}

.set-up-colearning .set-up-colearning-panel .step-two .co-learning-setup-grid {
    grid-template-columns: 40px 50px minmax(106px, 120px) minmax(10px, 1000px) 60px;
    display: grid;
    position: relative;
}

.set-up-colearning .set-up-colearning-panel .step-two .co-learning-setup-grid.with-group-questions {
    grid-template-columns: 40px 50px minmax(106px, 120px) 71px minmax(10px, 1000px) 60px;
}

.set-up-colearning .set-up-colearning-panel .step-two .co-learning-setup-grid .grid-title {
    height: 45px;
    font-weight: bold;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.set-up-colearning .set-up-colearning-panel .step-two .co-learning-setup-grid .grid-title:nth-child(1) {
    grid-column: 1 / 2;
    min-width: 1.5rem;
}

.set-up-colearning .set-up-colearning-panel .step-two .co-learning-setup-grid .grid-title:nth-child(2) {
    grid-column: 2 / 3;
    min-width: 2.125rem;
}

.set-up-colearning .set-up-colearning-panel .step-two .co-learning-setup-grid .grid-title:nth-child(3) {
    grid-column: 3 / 4;
    min-width: 1.875rem;
}

.set-up-colearning .set-up-colearning-panel .step-two .co-learning-setup-grid .grid-item {
    transition: background-color 100ms ease-in-out;
    z-index: 3;
    white-space: nowrap;
}

.set-up-colearning .set-up-colearning-panel .step-two .co-learning-setup-grid .group-badge {
    width: 30px;
    height: 26px;
    border-radius: 4px;
    border: solid 1px var(--system-base);
    background-color: rgba(4, 31, 116, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
}

.set-up-colearning .set-up-colearning-panel .step-two .co-learning-setup-grid .group-badge.group-badge-disabled {
    border: solid 1px var(--mid-grey);
    background-color: rgba(146, 157, 175, 0);
}

.set-up-colearning .set-up-colearning-panel .step-two .shadow-box {
    border-radius: 10px;
    width: 100%;
    height: 60px;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    z-index: 2;
}

.set-up-colearning .set-up-colearning-panel .step-two .shadow-box span {
    background-color: rgba(var(--primary-rgb), 0.05);
    position: absolute;
    inset: 0;
    z-index: 1
}

/* media rules for next/previous answer rating button in colearning student */
@media screen and (max-width: 1024px) {

    #co-learning-page div .text-button:is(.previous-question-btn, .previous-answer-rating-btn) {
        width: fit-content;
    }

    #co-learning-page :is(.next-question-btn, .previous-question-btn, .previous-answer-rating-btn, .next-answer-rating-btn, .finish-co-learning-btn ) {
        padding: 0;
        width: 40px;
        max-width: 40px;
        min-width: 16px;
    }

    #co-learning-page :is(.previous-answer-rating-btn, .next-answer-rating-btn, .finish-co-learning-btn) > span {
        display: none;
    }

    #co-learning-page :is(.previous-answer-rating-btn, .finish-co-learning-btn, .next-question-btn, .previous-question-btn) > svg {
        margin: auto;
    }

    #co-learning-page :is(.next-answer-rating-btn) > svg {
        margin: 1.5px 3.5px; /*icon is 9px wide*/
    }
}


/* not really co-learning: */
.indented-toggle-row {
    margin-left: 66px !important;
    width: calc(100% - 66px) !important;
}

.border-bottom-05-secondary {
    border-bottom: 1px solid rgba(var(--system-secondary-rgb), 0.5);
}

