.form-input {
    padding: 0 10px 0 10px;
    height: 40px;
    border-radius: 8px;
    background: var(--off-white);
    border: 1px solid var(--blue-grey)
}

.form-input:hover {
    border-color: var(--primary);
}

.form-input:focus, .form-input:active {
    color: var(--primary);
    border-color: var(--primary);
    outline: none;
}

.form-input:disabled, .form-input:disabled:hover {
    background-color: white;
    border-color: var(--light-grey);
    color: var(--mid-grey);
}

.form-input.border-red {
    border-color: red !important;
}

.form-input.rounded-b-none {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group {
    display: inline-flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    transition: ease-in-out 150ms;
}

label {
    font-weight: normal;
    transition: color 150ms ease-in-out, font-weight 150ms ease-in-out;
}

input {
    font-family: Nunito;
    font-weight: normal;
}

.input-group:hover input,
.input-group label {
    transition: ease-in-out 150ms;
}

input:not(:disabled, .disabled):hover + label, textarea:not(:disabled, .disabled):hover + label, .single-select:not(:disabled, .disabled):hover + label {
    color: var(--primary);
}

input:focus + label, textarea:focus + label, .single-select[aria-expanded="true"] + label {
    font-weight: bold;
    color: var(--primary);
}

.other-input {
    min-width: 220px;
}

textarea {
    padding: 10px !important;
    font-size: 1rem;
    min-height: 120px;
    width: 100%;
}

.input-group.disabled label {
    font-size: 1rem;
    color: var(--mid-grey);
}

.input-group.disabled textarea {
    background: white;
    color: var(--system-base);
    border: solid 1px var(--light-grey)
}


.form-checkbox {
    margin-right: 5px;
}

.input-group select {
    line-height: 1rem;
    padding-right: 4rem;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid var(--blue-grey);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--off-white);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJBAMAAAAbVLtZAAAABGdBTUEAALGPC/xhBQAAACBjSFJN%20AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAALVBMVEV7ibYPKXpvf6/+/v7/%20//8MJngEH3Rqeq1wgLD9/f5kdan7+/0nP4hjdKmhq8sFhwJhAAAAAWJLR0QEj2jZUQAAAAlwSFlz%20AAAAYAAAAGAA8GtCzwAAAAd0SU1FB+UBGQoCDds8it0AAABLSURBVAjXY2BUdnFxVmRgCEs3cTFP%20C2BoS6v0LEtrYJiVlrUrLWsCg+eytGNpKx0YXOampeVOAdKe19JuugBpl1lZU8C050sXFwcAN68Y%20ZfYz1FUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjEtMDEtMjVUMTA6MDI6MTIrMDA6MDCg/O9HAAAA%20JXRFWHRkYXRlOm1vZGlmeQAyMDIxLTAxLTI1VDEwOjAyOjEyKzAwOjAw0aFX+wAAAABJRU5ErkJg%20gg==), linear-gradient(to bottom, var(--off-white) 0%, var(--off-white) 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 1rem top 50%, 0 0;
    background-size: .75em auto, 100%;
    transition: border-color 150ms ease-in-out;
}

.input-group select.disabled {
    border: 1px solid var(--light-grey);
    color: var(--system-base);
    background-color: white;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJBAMAAAAbVLtZAAAABGdBTUEAALGPC/xhBQAAACBjSFJN%20AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAKlBMVEXGy9WXobLBx9H///+V%20oLKSna++xdDBx9L+/v68w879/f6hq7q7ws3W2uGuSyLDAAAAAWJLR0QDEQxM8gAAAAlwSFlzAAAA%20YAAAAGAA8GtCzwAAAAd0SU1FB+UBGgg3CW9R9/IAAABKSURBVAjXY2BUNjY2VmRgcA0zNjYLdWAo%20Dc2wSA0tYOgMjVwZGtnAYDE1dGvoDAMG457Q0JhmIG1xNPSEMZA27oxsBtMWN4yNDQC7vxSjN5C1%20LQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMS0wMS0yNlQwODo1NTowOSswMDowMBMeivEAAAAldEVY%20dGRhdGU6bW9kaWZ5ADIwMjEtMDEtMjZUMDg6NTU6MDkrMDA6MDBiQzJNAAAAAElFTkSuQmCC), linear-gradient(to bottom, white 0%, white 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 1.5rem top 50%, 0 0;
    background-size: .75em auto, 100%;
    opacity: 100;
}

.input-group input.disabled {
    border: 1px solid var(--light-grey);
    color: var(--system-base);
    background: white;
}

.trueFalse {
    padding: 9px 16px;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1rem;
}

.trueFalse:hover {
    border: 2px solid var(--blue-grey);
    color: var(--primary);
    margin: -1px;

}

.trueFalse:focus, .trueFalse:active {
    border: 2px solid var(--primary);
    color: var(--primary);
    font-weight: bold;
}

.true:hover, .true:focus, .true:active {
    padding-right: 14px;
    margin: -1px 0 -1px -1px;
}

.true.active {
    padding-right: 14px;
    border: 2px solid var(--primary);
    color: var(--primary);
    font-weight: bold;
    margin: -1px 0 -1px -1px;
}

.false:hover, false:focus, .false:active {
    padding-left: 15px;
    margin: -1px -1px -1px;
}

.false.active {
    padding-left: 15px;
    border: 2px solid var(--primary);
    color: var(--primary);
    font-weight: bold;
    margin: -1px -1px -1px;
}

.overview .truefalse-container:hover .active {
    opacity: 1;
}

.overview .trueFalse.active, .overview .trueFalse.active:hover {
    border: 2px solid var(--primary);
    color: var(--primary);
}

.overview .trueFalse, .overview .trueFalse:hover {
    border: 1px solid transparent;
    margin: 0;
    color: var(--mid-grey);
}

.overview .false, .overview .true {
    padding: 9px 16px;
}

.overview .true.active {
    margin: -1px 0 -1px -1px;
}

.overview .false.active {
    margin: -1px -1px -1px;
}

.multiple-choice-question:focus {
    border-color: var(--primary);
}

.multiple-choice-question.active {
    box-sizing: border-box;
    border-color: var(--primary);
    border-width: 2px;
    background: var(--off-white);
    font-weight: bold;
    color: var(--primary);
}


.overview .multiple-choice-question:hover, .overview .multiple-choice-question:active {
    box-shadow: none;
}

.multiple-choice-question.disabled, .multiple-choice-question.disabled:hover {
    background: white;
    border: solid 2px var(--blue-grey);
    color: var(--mid-grey);
    box-shadow: none;
    font-weight: normal;
}

@media (hover: hover) {
    .multiple-choice-question:hover {
        box-shadow: 0 1px 18px 0 rgba(77, 87, 143, 0.4);
        border-color: var(--off-white);
        font-weight: 700;
        color: var(--primary);
        background: var(--off-white);
    }

    .multiple-choice-question.active:hover {
        border-color: var(--primary);
    }
}

.switch {
    --switch-width: 50px;
    --switch-height: 28px;
    position: relative;
    display: inline-block;
    width: var(--switch-width);
    height: var(--switch-height);
}

.switch.small {
    --switch-width: 40px;
    --switch-height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: solid 1px var(--blue-grey);
    background-color: var(--system-secondary);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    --slider-width: 22px;
    --slider-height: 22px;
    --slider-left: 3px;
    --slider-bottom: 2px;

    position: absolute;
    content: "";
    height: var(--slider-height);
    width: var(--slider-width);
    left: var(--slider-left);
    bottom: var(--slider-bottom);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid transparentw
}

.switch.small .slider:before {
    --slider-width: 18px;
    --slider-height: 18px;
    --slider-left: 2px;
    --slider-bottom: 1px;
}

input:checked + .slider, .slider.checked {
    border: solid 1px var(--cta-primary-mid-dark);
    background-color: var(--cta-primary);
}

input:focus + .slider {
    box-shadow: 0 0 1px #3dbb56;
    border: 1px solid var(--cta-primary-mid-dark);
}

input:disabled + .slider,
.switch.disabled .slider {
    background: var(--off-white);
    border-color: var(--blue-grey);
}

input:checked:disabled + .slider {
    background: rgba(var(--cta-primary-rgb), .3);
}

input:checked + .slider:before, .slider.checked:before {
    --slider-translate: 20px;
    -webkit-transform: translateX(var(--slider-translate));
    -ms-transform: translateX(var(--slider-translate));
    transform: translateX(var(--slider-translate));
}

.switch.small input:checked + .slider:before,
.switch.small .slider.checked:before {
    --slider-translate: 16px;
}

input:disabled + .slider.round:before,
.switch.disabled .slider.round:before {
    border: solid 1px var(--blue-grey);
}

/* Rounded sliders */
.slider.round {
    border-radius: 25px;

}

.slider.round:before {
    border-radius: 50%;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.test-take-code-component .form-input.disabled, .icon.disabled {
    color: var(--mid-grey);
}

.taxonomie input[type=radio] {
    display: none;
}

.taxonomie label:before {
    content: '';
    width: 20px;
    height: 20px;
}

.text-toggle .active-border {
    height: calc(100% + 2px);
    width: calc(50% + 1px);
}

.checkbox-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom, .checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 4px;
    cursor: pointer;
    line-height: 18px;
    width: 24px;
    height: 24px;
}

.checkbox-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before {
    content: '';
    background-color: var(--off-white);
    border: 1px solid var(--blue-grey);
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    padding: 2px;
    text-align: center;
    transition: background-color, border-color 150ms ease-in-out;
}

.checkbox-custom + .checkbox-custom-label:before {
    border-radius: 8px;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: '';
    background-color: var(--primary);
    border-color: var(--primary);
}

.checkbox-custom:hover + .checkbox-custom-label:before {
    border-color: var(--primary);
}

.checkbox-custom:checked:hover + .checkbox-custom-label.checkbox-green:before, .checkbox-custom:checked:hover + .checkbox-custom-label:before {
    border-color: var(--primary);
    opacity: .6;
}

.checkbox-custom:checked:disabled + .checkbox-custom-label:before {
    content: '';
    /*background: var(--primary);*/
    /*border-color: var(--primary);*/
    opacity: .6;
}

.checkbox-custom:checked + .checkbox-custom-label.green:before {
    background-color: var(--cta-primary);
    border-color: var(--cta-primary);
}

.checkbox-custom:checked:disabled + .checkbox-custom-label.green:before {
    background-color: var(--cta-primary);
    border-color: var(--cta-primary);
    opacity: .6;
}

.checkbox-custom-label svg {
    color: var(--off-white);
    position: absolute;
    left: 6px;
    top: 7px;
}

.checkbox-custom:checked + .checkbox-custom-label svg {
    color: white;
}

.radio-custom {
    --radio-background-color: var(--off-white);
    --radio-border-color: var(--blue-grey);
    --radio-checked-color: var(--teacher-primary);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.radio-custom input {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--radio-background-color);
    margin: 0;
    width: 24px;
    height: 24px;
    border: 1px solid var(--radio-border-color);
    border-radius: 50%;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.radio-custom input:hover {
    --radio-border-color: var(--teacher-primary-light)
}

.radio-custom input:checked:hover {
    --radio-checked-color: var(--teacher-primary-light);
}

.radio-custom input:checked:disabled,
.radio-custom input:checked:disabled:hover,
.radio-custom input:checked:disabled:active {
    --radio-border-color: var(--blue-grey);
    --radio-checked-color: var(--teacher-primary-light);
}

.radio-custom input:disabled,
.radio-custom input:disabled:hover,
.radio-custom input:disabled:active {
    --radio-border-color: var(--blue-grey);
}


.radio-custom input:active {
    --radio-border-color: var(--teacher-primary)
}

.radio-custom input::before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transform: scale(0);
    transition: 100ms transform ease-in-out;
    background-color: var(--radio-checked-color);
}

.radio-custom input:checked::before {
    transform: scale(1);
}

.form-input::placeholder {
    font-size: 1rem;
    color: var(--system-base);
}

.form-input.search::placeholder {
    color: var(--mid-grey);
}

.slider-button-container .slider-option span {
    transition: color 150ms ease-in-out;
}

.slider-button-container .slider-option {
    position: relative;
}

.slider-button-container .slider-option:after {
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border-color 150ms ease-in-out;
}

.slider-button-container .slider-option:hover:after {
    border-color: var(--blue-grey);
}

.inline-feedback-modal div[selid="ckeditor"],
.inline-feedback-modal div[selid="ckeditor"] > div {
    position: relative;
    width: 100%;
    height: 100%;
}

.inline-feedback-modal .ck-editor,
.inline-feedback-modal .ck-editor .ck-editor__main,
.inline-feedback-modal .ck-editor .ck-editor__main .ck-content {
    height: 100%;
}


.inline-feedback-modal .ck.ck-sticky-panel__placeholder {
    height: 0 !important;
}

.inline-feedback-modal .ck.ck-sticky-panel .ck-sticky-panel__content_sticky {
    position: static !important;
    top: 0 !important;
    box-shadow: none;
    border-radius: var(--ck-border-radius);
}

.inline-feedback-modal .ck.ck-sticky-panel .ck-sticky-panel__content_sticky .ck-toolbar {
    border-top-left-radius: var(--ck-border-radius) !important;
    border-top-right-radius: var(--ck-border-radius) !important;
}

/* Customize the label (the container) */
.checkbox-container {
    display: block;
    position: relative;
    width: 24px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkbox-container .checkmark {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: rgba(var(--system-secondary-rgb), 0.5);
    border: 1px solid var(--blue-grey);
    border-radius: 8px;
    transition: background-color 100ms ease-in-out, border-color 100ms ease-in-out;
    color: white;
    justify-content: center;
    align-items: center;
}

.checkbox-container.disabled {
    opacity: .6;
}

.checkbox-disabled .checkbox-container:is(:active, :hover, :focus) input:not(:checked) ~ .checkmark {
    background-color: rgba(var(--system-secondary-rgb), 0.5);
    border: 1px solid var(--blue-grey);
}

.group\/parent:hover :not(.checkbox-disabled) .checkbox-container input ~ .checkmark,
.group\/child:hover:not(.checkbox-disabled) .checkbox-container input ~ .checkmark,
.checkbox-container:hover input ~ .checkmark {
    border-color: var(--primary);
}

.checkbox-container:active input ~ .checkmark {
    background-color: rgba(var(--system-secondary-rgb), 0.8);
}

.checkbox-container input:checked ~ .checkmark {
    background-color: var(--primary);
    border-color: var(--primary);
}


.checkmark > svg {
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark > svg {
    display: block;
}

.multi-dropdown-select:hover {
    transition: color 150ms ease-in-out;
}

.multi-dropdown-select:hover .dropdown-label {
    color: var(--primary);
}

.flatpickr:hover + label {
    color: var(--primary);
}

.single-select .dropdown {
    -ms-overflow-style: none;
}
.single-select .dropdown::-webkit-scrollbar {
    display: none;
}

.select-error > .multi-dropdown-select .select-input {
    border-color: var(--all-red);
}