.navigation-bar {
    --nav-bar-height: 50px;
    width: 100%;
    position: sticky;
    z-index: 10;
    top: 0;
    margin-bottom: var(--nav-bar-height);
    font-weight: 600;
}

.navigation-bar .logo svg {
    position: absolute;
    cursor: pointer;
    z-index: 10;
}

.navigation-bar .logo .logo-1 {
    height: 70px;
    margin: 10px;
}

.navigation-bar .logo .logo-2 {
    height: 20px;
    margin-left: 90px;
    margin-top: 15px;
    color: var(--primary);
}

.navigation-bar .menu-top {
    background: white;
    height: var(--nav-bar-height);
    display: flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

.navigation-bar .menu-top .action-icon-container {
    position: relative;
    display: flex;
    color: var(--system-base);
    height: 100%;
    justify-content: center;
    align-items: center;
}

.navigation-bar .menu-top .action-icon-container .action-icon:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-bar .menu-top .action-icon-container .action-icon:first-child span {
    margin-left: 6px;
}

.navigation-bar .menu-top .action-icon-container .action-icon {
    margin: 0px 8px;
    cursor: pointer;
}

.navigation-bar .menu-top .action-icon-container .action-icon:hover {
    color: var(--primary);
}

.navigation-bar .menu-top .user-button-container {
    cursor: pointer;
    font-size: 18px;
    padding: 10px 14px 9px 23px;
    display: flex;
    align-items: center;
}

.navigation-bar .menu-top .user-button-container:hover {
    color: var(--primary);
}

.navigation-bar .menu-top .user-button-container svg {
    margin-left: 10px;
}

.navigation-bar .menu-top svg {
    display: block;
    box-sizing: border-box;
}

.navigation-bar .menu-top .user-menu,
.navigation-bar .menu-top .support-menu {
    color: var(--system-base);
    position: absolute;
    display: grid;
    overflow: hidden;
    gap: 5px;
    top: var(--nav-bar-height);
    right: 0px;
    width: 256px;
    padding: 15px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    background-color: var(--blue-grey);
    z-index: 110;
    transition: 0.3s linear;
}

.navigation-bar .menu-top .user-menu a,
.navigation-bar .menu-top .support-menu a {
    padding: 10px 15px 7px 15px;
    display: block;
    color: #191a17;
    background-color: white;
}

.navigation-bar .menu-bottom {
    padding-left: 0px;
    scrollbar-width: none;
    overflow-x: auto;
    display: flex;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, rgba(0, 77, 245, 1) 0%, rgba(71, 129, 255, 1) 100%);
}

.navigation-bar .menu-bottom .menu-scroll {
    color: white;
    padding: 13px 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}

.navigation-bar .menu-bottom .menu-scroll-left {
    left: 0px;
    background: linear-gradient(90deg, rgba(0, 77, 245, 1) 75%, rgba(60, 121, 253, 0.1));
}

.navigation-bar .menu-bottom .menu-scroll-right {
    right: 0px;
    background: linear-gradient(90deg, rgba(0, 77, 245, 0.1) 0%, rgb(71, 129, 255) 40%);
}

@media (min-width: 768px) {
    .navigation-bar .menu-bottom .menu-scroll {
        display: none;
    }

    .navigation-bar .menu-bottom {
        padding-left: 70px;
    }
}

@media (max-width: 767px) {
    .navigation-bar .logo .logo-1 {
        transform: scale(.75);
        top: -20px;
    }

    .navigation-bar .logo .logo-2 {
        transform: scale(.8);
        margin-left: 55px;
    }

    .navigation-bar .menu-top .action-icon-container .action-icon:first-child span {
        display: none;
    }

    .navigation-bar .menu-top .user-button-container {
        max-width: 23%;
        display: flex;
        align-items: center;
    }

    .navigation-bar .menu-top .user-button-container svg {
        position: absolute;
        right: 10px;
    }

    .navigation-bar .menu-top .user-button-container span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-right: 15px;
    }
}

@media (max-width: 500px) {
    .navigation-bar .logo .logo-2 {
        display: none;
    }
}

.navigation-bar .menu-bottom .menu-item {
    color: white;
    padding: 13px 12px;
    cursor: pointer;
}

.navigation-bar .menu-bottom .menu-item {
    margin-left: 13px;
}
.navigation-bar .menu-bottom .menu-item ~ .menu-item {
    margin-left: 0;
}

.navigation-bar .menu-bottom .menu-item.button-active,
.navigation-bar .menu-bottom .menu-item:hover {
    background-image: urL('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iOSIgd2lkdGg9IjEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBwb2ludHM9IjYsMCAxLDkgMTEsOSIgc3Ryb2tlPSIjZmZmZmZmIiBmaWxsPSIjZmZmZmZmIi8+PC9zdmc+');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
}

.navigation-bar .tiles {
    --top: 50px;
    position: absolute;
    display: flex;
    top: var(--top);
    height: var(--nav-bar-height);
    width: 100%;
    background-color: white;
    z-index: -1;
    transition: 0.3s linear;
    box-shadow: var(--main-shadow);
}

.navigation-bar .tiles .tile-group {
    display: none;
}

.navigation-bar .tiles .tile-group .tile-item {
    width: auto;
    height: var(--nav-bar-height);
    text-align: center;
    margin: 0;
    padding: 13px 10px 10px 10px;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
}
.navigation-bar .tiles .tile-group .tile-item.tile-active,
.navigation-bar .tiles .tile-group .tile-item:hover {
    color: var(--primary);
}

.navigation-bar .tiles .tile-group .tile-item.tile-active::after {
    content: '';
    bottom: 0;
    background-color: var(--primary);
    width: 100%;
    height: 3px;
    left: 0;
    border-radius: 15px;
    position: absolute;
}

.sticky-pseudo-bg::before {
    content: '';
    position: absolute;
    inset: 0;
    top: -50px;
    background-color: var(--light-grey);
}