:root {
    --cta-primary: #3ab753;
    --cta-primary-mid-dark: #27973D;
    --cta-primary-dark: #006314;
    --cta-secondary: #004DF5;
    --primary: #004df5;
    --primary-opacity-10: rgba(0, 77, 245, 0.1);
    --primary-opacity-05: rgba(0, 77, 245, 0.05);
    --primary-light: #e6edfa;
    --teacher-primary: #004df5;
    --teacher-primary-light: #4781ff;
    --secondary: #ECDB00;
    --highlight-primary: #ECDB00;
    --highlight-primary-mid-dark: #dec802;
    --highlight-primary-light: #fffcd7;
    --system-base: #041f74;
    --system-secondary: #CEDAF3;
    --mid-grey: #929DAF;
    --light-grey: #F0F2F5;
    --blue-grey: #c3d0ed;
    --shadow-blue: #4D578F;
    --off-white: #f9faff;
    --all-red: #cf1b04;
    --red-light: #ffedeb;
    --note: #6b7789;
    --orange: #eca000;
    --main-shadow: 0 3px 8px 0 rgba(4, 31, 116, 0.3);
    --white: #ffffff;
    --maintenance-header-bg: #ff6666;
    --deployment-testing-color: darkorange;
}

@font-face {
    font-family: Nunito;
    src: url(/fonts/Nunito-VariableFont_wght.ttf?4a3eef3e0a61b7eb3eda7a33f00ff18b);
    font-weight: 100 900;
}

#toolbarContainer{
    height: 40px;
}

.Rectangle{
    background-color: #ffffff;
}

.rs_textnode{
    position: relative;
    /*top: 5px;*/
}

#readspeaker_button1{
    margin-left: 20px;
    background-color: #ffffff;
    padding-left: 20px;
    border-radius: 20px;
    box-shadow: 0 3px 18px 0 rgb(77 87 143 / 10%);
    position: absolute !important;
    width: max-content !important;
    float: none !important;
    left: -5px;
    height: 43px;
}
@media only screen and (max-width: 1024px) {
    .rsexpanded {
        position: absolute !important;
        left: 0px;
        width: max-content;
    }

}
@media only screen and (max-width: 768px) {
    .rsexpanded {
        left: 100px;
        position: absolute !important;
        width: max-content;
    }
    .Rectangle{
        width: 40px;
    }
    .Lees-voor{
        display: none;
    }
}

.rs_addtools .rsbtn_toolpanel.vertical, .rsbtn .rsbtn_toolpanel.vertical {
    clear: left;
    position: absolute;
    top: 3em;
    z-index: 1;
    /* left: 17em; */
}

button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
}
button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}

button, [role="button"] {
    cursor: pointer;
}
button {
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0!important;
}

svg {
    display: inline-block;
    vertical-align: middle;
}
@media only screen and (max-width: 768px) {
    .Rectangle>svg {
        margin-top: 5px;
    }
}
.stroke-current {
    stroke: currentColor;
}
*, ::before, ::after {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-blur: var(--tw-empty,/*!*/ /*!*/);
    --tw-brightness: var(--tw-empty,/*!*/ /*!*/);
    --tw-contrast: var(--tw-empty,/*!*/ /*!*/);
    --tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
    --tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
    --tw-invert: var(--tw-empty,/*!*/ /*!*/);
    --tw-saturate: var(--tw-empty,/*!*/ /*!*/);
    --tw-sepia: var(--tw-empty,/*!*/ /*!*/);
    --tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
    --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    --tw-backdrop-blur: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-brightness: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-contrast: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-grayscale: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-invert: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-opacity: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-saturate: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-sepia: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}
*, ::before, ::after {
    box-sizing: border-box;
}
/*user agent stylesheet**/
div {
    display: block;
}
body {
    font-family: Nunito, sans-serif !important;
    background: var(--light-grey) !important;
    color: var(--system-base);
    touch-action: manipulation;
    -ms-touch-action: manipulation;
}
.rsbtn_pause{
    position: relative;
    top: 2px;
}
.rsbtn_dropdown{
    top: 10px !important;
}
.splitToolbarButtonSeparator{
    display: none !important;
}
a.rsbtn_play{
    text-decoration: none;
}

input[type="range"].vertical {
    width: 22px !important;
}

.rs_language_menu {
    position: absolute;
    z-index: 5;
    width: 40px;
    background-color: white;
    border-radius: 9999px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    top: 0px !important;
    left: 0px !important;
    padding-top:32px !important;
    padding-bottom:3px !important;
}
.rs_active_flag_button {
    z-index:10;
    position: relative;
    background-color: white;
    border: 1px solid rgba(0, 77, 245, 0.5);;
    padding: 4px 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.rs_flag_absolute {
    width: 40px;
    height: 40px;
    padding: 4px 8px; /* De waarde wordt omgezet van 2px naar 0.25rem en van 1px naar 0.125rem */
    border-radius: 50%; /* Hiermee maak je het element cirkelvormig (rond) */
    position: absolute;
    top: 50%; /* Verticaal gecentreerd op de bovenkant */
    left: 50%; /* Horizontaal gecentreerd op de linkerzijde */
    transform: translate(-50%, -50%);
}

.rs_flag {
    width: 40px;
    height: 40px;
    padding: 4px 8px; /* De waarde wordt omgezet van 2px naar 0.25rem en van 1px naar 0.125rem */
    border-radius: 50%; /* Hiermee maak je het element cirkelvormig (rond) */
    background-color: white;
    position: relative;
    z-index: 10;
}

.rs_flag_highlight {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%; /* Verticaal gecentreerd op de bovenkant */
    left: 50%; /* Horizontaal gecentreerd op de linkerzijde */
    transform: translate(-50%, -50%);
}