/* general score slider input css */
.score-slider-container .score-slider-continuous-input,
.score-slider-container .score-slider-input {
    -webkit-appearance: none;
    width: 100%;
    height: 32px;
    background-color: #ffffff00;
    cursor: pointer;
}

/* score slider track */
.score-slider-container .score-slider-input::-webkit-slider-runnable-track {
    background-color: transparent;
    color: transparent;
}

.score-slider-container .score-slider-input::-moz-range-track {
    background-color: transparent;
    color: transparent;
    width: 100%;
    height: 32px;
}

.score-slider-container .score-slider-input::-moz-range-progress {
    background-color: transparent;
    color: transparent;
}


.score-slider-container .score-slider-input::-ms-track {
    width: 100%;
    height: 32px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.score-slider-container .score-slider-input::-ms-fill-lower {
    background: transparent;
}

.score-slider-container .score-slider-input::-ms-fill-upper {
    background: transparent;
}

.score-slider-container .score-slider-continuous-input::-webkit-slider-runnable-track {
    background: linear-gradient(to right, var(--primary), var(--primary)), #D7D7D7;
    background-size: var(--slider-background-size, 0%) 110%;
    background-repeat: no-repeat;
    background-position: left;
    background-origin: border-box;
    height: 0.75rem;
    border: 0px;
    border-radius: 10px;
}

.score-slider-container .score-slider-continuous-input::-moz-range-track {
    background-color: #D7D7D7;
    width: 100%;
    height: 0.75rem;
    border-radius: 10px;
}

.score-slider-container .score-slider-continuous-input.hide-thumb::-moz-range-progress {
    background-color: #D7D7D7;
}

.score-slider-container .score-slider-continuous-input::-moz-range-progress {
    background-color: var(--primary);
    border-radius: 10px;
    height: 0.75rem;

}

.score-slider-container .score-slider-continuous-input::-ms-track {
    width: 100%;
    height: 0.75rem;
    cursor: pointer;
    background: #D7D7D7;
    border-radius: 10px;
}

.score-slider-container .score-slider-continuous-input::-ms-fill-lower {
    background: var(--primary);
}

.score-slider-container .score-slider-continuous-input::-ms-fill-upper {
    background: #D7D7D7;
}

.score-slider-container .score-slider-continuous-input::-webkit-slider-runnable-track {
    border: 1px solid transparent;
    background-position-x: left;
}

.score-slider-container .score-slider-continuous-input::-moz-range-track {
    border: 1px solid transparent;
}

.score-slider-container .score-slider-continuous-input::-ms-track {
    border: 1px solid transparent;
}

/* Slider pills*/
.score-slider-pill {
    position: relative;
    border-color: var(--blue-grey);
    opacity: 1;
    /*margin-left: -1px;*/
    left: -1px;
}

.score-slider-pill.highlight {
    --score-slider-pill-background-color: var(--primary);
    --score-slider-pill-border-color: var(--primary);
    background-color: var(--score-slider-pill-background-color);
    border-color: var(--score-slider-pill-border-color);
}
.untouched .score-slider-pill.highlight {
    --score-slider-pill-background-color: rgba(0, 77, 245, 0.5);
}

.score-slider-pill.first:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.score-slider-pill.first:not(:last-child)::after {
    content: '';
    background-color: var(--teacher-primary-light);
    width: 0.375rem;
    height: 0.375rem;
    position: absolute;
    right: -4px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border-radius: 100%;
    pointer-events: none;
}

.score-slider-pill.first:not(.highlight):not(:last-child)::after {
    background-color: var(--system-secondary);
}

.untouched .score-slider-pill.highlight.first:not(:last-child),
.score-slider-pill.first:not(.highlight):not(:last-child) {
    border-right-color: transparent;
}
.untouched .score-slider-pill.highlight.second,
.score-slider-pill.second:not(.highlight) {
    border-left-color: transparent;
}

.score-slider-pill.second {
    margin-right: 0.125rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* end Slider pills*/
.score-slider-container .score-slider-continuous-input::-webkit-slider-runnable-track:hover {
    border: 1px solid var(--teacher-primary);
}

.score-slider-container .score-slider-continuous-input::-moz-range-track:hover {
    border: 1px solid var(--teacher-primary);
}

.score-slider-container .score-slider-continuous-input::-ms-track:hover {
    border: 1px solid var(--teacher-primary);
}


/* score slider initial thumb */
.score-slider-container .score-slider-initial-handle-offset {
    transform: translate(calc(-40% + 1px));
}

.score-slider-container .score-slider-initial-handle {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 9999px;
    border: 2px solid #4781FF;
    background: rgba(0, 77, 245, 0.5);
    cursor: pointer;
    pointer-events: all;
    box-shadow: 0 2px 4px 0 rgba(4, 31, 116, 0.3);
    z-index: 1;
    top: calc(50% - 0.75rem);
}

.score-slider-container .score-slider-initial-handle:hover {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--teacher-Primary);
    background: rgba(0, 77, 245, 0.5);
    /*transform: translate(12px, -0.7rem);*/
    top: calc(50% - 1rem);
}

.score-slider-container .score-slider-input {
    --slider-thumb-offset: 12px;
}

.score-slider-container .score-slider-input::-webkit-slider-thumb {
    transform: translate(var(--slider-thumb-offset));
}

.score-slider-container .score-slider-input::-moz-range-thumb {
    transform: translate(var(--slider-thumb-offset));
}

.score-slider-container .score-slider-input::-ms-thumb {
    transform: translate(var(--slider-thumb-offset));
}

/* score slider thumb*/
.score-slider-container .score-slider-continuous-input::-webkit-slider-thumb {
    transform: translate(var(--slider-thumb-offset), -6.75px);
}

.score-slider-container .score-slider-continuous-input::-moz-range-thumb {
    transform: translate(var(--slider-thumb-offset));
}

.score-slider-container .score-slider-continuous-input::-ms-thumb {
    transform: translate(var(--slider-thumb-offset), -6.75px);
}

.score-slider-container .score-slider-continuous-input:focus::-webkit-slider-thumb {
    transform: translate(var(--slider-thumb-offset), -0.7rem);
}

.score-slider-container .score-slider-continuous-input:active::-webkit-slider-thumb {
    transform: translate(var(--slider-thumb-offset), -0.7rem);
}

.score-slider-container .score-slider-continuous-input:hover::-webkit-slider-thumb {
    transform: translate(var(--slider-thumb-offset), -0.7rem);
}

/* moz doesnt need translate Y. */

.score-slider-container .score-slider-continuous-input:focus::-ms-thumb {
    transform: translate(var(--slider-thumb-offset), -0.7rem);
}

.score-slider-container .score-slider-continuous-input:hover::-ms-thumb {
    transform: translate(var(--slider-thumb-offset), -0.7rem);
}

.score-slider-container .score-slider-continuous-input:active::-ms-thumb {
    transform: translate(var(--slider-thumb-offset), -0.7rem);
}

.score-slider-container .score-slider-continuous-input::-webkit-slider-thumb,
.score-slider-container .score-slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 9999px;
    border: 2px solid #4781FF;
    background: rgba(0, 77, 245, 0.5);
    cursor: pointer;
    pointer-events: all;
    box-shadow: 0 2px 4px 0 rgba(4, 31, 116, 0.3);
}

.score-slider-container .score-slider-continuous-input::-moz-range-thumb,
.score-slider-container .score-slider-input::-moz-range-thumb {
    visibility: initial;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 9999px;
    border: 2px solid #4781FF;
    background: rgba(0, 77, 245, 0.5);
    cursor: pointer;
    pointer-events: all;
    box-shadow: 0 2px 4px 0 rgba(4, 31, 116, 0.3);
}

.score-slider-container .score-slider-continuous-input::-ms-thumb,
.score-slider-container .score-slider-input::-ms-thumb {
    visibility: initial;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 9999px;
    border: 2px solid #4781FF;
    background: rgba(0, 77, 245, 0.5);
    cursor: pointer;
    pointer-events: all;
    box-shadow: 0 2px 4px 0 rgba(4, 31, 116, 0.3);
}

/* focus score slider thumb */
.score-slider-container .score-slider-continuous-input:focus::-ms-thumb,
.score-slider-container .score-slider-input:focus::-ms-thumb {
    width: 2rem;
    height: 2rem;
    border: 3px solid var(--teacher-Primary);
}

.score-slider-container .score-slider-continuous-input:focus::-moz-range-thumb,
.score-slider-container .score-slider-input:focus::-moz-range-thumb {
    width: 2rem;
    height: 2rem;
    border: 3px solid var(--teacher-Primary);
}

.score-slider-container .score-slider-continuous-input:focus::-webkit-slider-thumb,
.score-slider-container .score-slider-input:focus::-webkit-slider-thumb {
    width: 2rem;
    height: 2rem;
    border: 3px solid var(--teacher-Primary);
}

/* active score slider thumb */
.score-slider-container .score-slider-continuous-input:active::-ms-thumb,
.score-slider-container .score-slider-input:active::-ms-thumb {
    width: 2rem;
    height: 2rem;
    background: rgba(0, 77, 245, 0.4);
    border: 3px solid var(--teacher-Primary);
}

.score-slider-container .score-slider-continuous-input:active::-moz-range-thumb,
.score-slider-container .score-slider-input:active::-moz-range-thumb {
    width: 2rem;
    height: 2rem;
    background: rgba(0, 77, 245, 0.4);
    border: 3px solid var(--teacher-Primary);
}

.score-slider-container .score-slider-continuous-input:active::-webkit-slider-thumb,
.score-slider-container .score-slider-input:active::-webkit-slider-thumb {
    width: 2rem;
    height: 2rem;
    background: rgba(0, 77, 245, 0.4);
    border: 3px solid var(--teacher-Primary);
}

/* hover score slider thumb */
.score-slider-container .score-slider-continuous-input:hover::-moz-range-thumb,
.score-slider-container .score-slider-input:hover::-moz-range-thumb {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--teacher-Primary);
    background: rgba(0, 77, 245, 0.5);
}

.score-slider-container .score-slider-continuous-input:hover::-webkit-slider-thumb,
.score-slider-container .score-slider-input:hover::-webkit-slider-thumb {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--teacher-Primary);
    background: rgba(0, 77, 245, 0.5);
}

.score-slider-container .score-slider-continuous-input:hover::-ms-thumb,
.score-slider-container .score-slider-input:hover::-ms-thumb {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--teacher-Primary);
    background: rgba(0, 77, 245, 0.5);
}

/* score slider hidden thumb */
.score-slider-container :is(.score-slider-continuous-input, .score-slider-input).hide-thumb {
    --thumb-appearance: none;
    --thumb-width: 1.5rem;
    --thumb-height: 1.5rem;
    --thumb-border-radius: 9999px;
    --thumb-border: 2px solid #4781FF;
    --thumb-background: rgba(0, 77, 245, 0.5);
    --thumb-cursor: pointer;
    --thumb-pointer-events: all;
    --thumb-box-shadow: 0 2px 4px 0 rgba(4, 31, 116, 0.3);
    --thumb-position: absolute;
    --thumb-left: 0;
    --thumb-top: 12px;
    --moz-left-zero: -100px;
}

.score-slider-container :is(.score-slider-continuous-input, .score-slider-input).hide-thumb::-ms-thumb {
    -ms-appearance: none;
    appearance: var(--thumb-appearance);
    width: var(--thumb-width);
    height: var(--thumb-height);
    border-radius: var(--thumb-border-radius);
    border: var(--thumb-border);
    background: var(--thumb-background);
    cursor: var(--thumb-cursor);
    pointer-events: var(--thumb-pointer-events);
    box-shadow: var(--thumb-box-shadow);
    position: var(--thumb-position);
    left: var(--thumb-left);
    top: var(--thumb-top);
}

.score-slider-container .score-slider-continuous-input.hide-thumb::-ms-thumb {
    transform: translateY(-7px);
}

.score-slider-container .score-slider-continuous-input.hide-thumb::-ms-thumb:hover {
    transform: translateY(-7px) scale(1.25);
    transform-origin: center;
}

.score-slider-container .score-slider-input.hide-thumb::-ms-thumb {
    transform: translateY(-12px) translateX(-10px);
}

.score-slider-container .score-slider-input.hide-thumb::-ms-thumb:hover {
    transform: translateY(-12px) translateX(-10px) scale(1.25);
}

.score-slider-container :is(.score-slider-continuous-input, .score-slider-input).hide-thumb::-moz-range-thumb {
    --thumb-width: 1.25rem;
    --thumb-height: 1.25rem;
    -moz-appearance: none;
    appearance: var(--thumb-appearance);
    width: var(--thumb-width);
    height: var(--thumb-height);
    border-radius: var(--thumb-border-radius);
    border: var(--thumb-border);
    background: var(--thumb-background);
    cursor: var(--thumb-cursor);
    pointer-events: var(--thumb-pointer-events);
    box-shadow: var(--thumb-box-shadow);
    position: var(--thumb-position);
    left: var(--thumb-left);
    top: var(--thumb-top);
    transform: translateX(var(--moz-left-zero));
    visibility: hidden;
}

.score-slider-container :is(.score-slider-continuous-input, .score-slider-input).hide-thumb:not(.moving)::-moz-range-thumb:hover {
    transform: translateX(var(--moz-left-zero)) scale(1.25);
}

.score-slider-container :is(.score-slider-continuous-input, .score-slider-input).hide-thumb::-moz-range-thumb:hover {
    transform: scale(1.25);
}

.score-slider-container :is(.score-slider-continuous-input, .score-slider-input).hide-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: var(--thumb-appearance);
    width: var(--thumb-width);
    height: var(--thumb-height);
    border-radius: var(--thumb-border-radius);
    border: var(--thumb-border);
    background: var(--thumb-background);
    cursor: var(--thumb-cursor);
    pointer-events: var(--thumb-pointer-events);
    box-shadow: var(--thumb-box-shadow);
    position: var(--thumb-position);
    left: var(--thumb-left);
}

.score-slider-container .score-slider-continuous-input.hide-thumb::-webkit-slider-thumb {
    transform: translateY(-7px);
}

.score-slider-container .score-slider-continuous-input.hide-thumb::-webkit-slider-thumb:hover {
    transform: translateY(-7px) scale(1.25);
    transform-origin: center;
}

.score-slider-container .score-slider-input.hide-thumb::-webkit-slider-thumb {
    transform: translateY(-12px) translateX(-10px);
}

.score-slider-container .score-slider-input.hide-thumb::-webkit-slider-thumb:hover {
    transform: translateY(-12px) translateX(-10px) scale(1.25);
}

.score-slider-container .score-slider-number-input {
    cursor: pointer;
    outline: none;
    border: 1px solid var(--blue-grey);
    border-radius: 8px;
    background-color: var(--off-white);
    text-align: center;
    display: flex;
}

.score-slider-container .score-slider-number-input:focus,
.score-slider-container .score-slider-number-input:focus-visible,
.score-slider-container .score-slider-number-input:active,
.score-slider-container .score-slider-number-input:hover {
    border: 1px solid var(--teacher-Primary);
}

.score-slider-container .score-slider-number-input:active {
    color: var(--teacher-Primary);
}

.score-slider-container .score-slider-number-input:disabled {
    color: var(--all-MidGrey);
    border: solid 1px rgba(195, 208, 237, 0.5);
    background: var(--all-white);
    cursor: not-allowed;
}

