.question-title {
    padding-bottom: 1rem;
    border-bottom: 3px solid var(--system-base);
}

.question-indicator {
    position: relative;
}

.question-indicator .question-number {
    position: relative;
    min-width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border: solid 3px;
    margin-right: .5rem;
    /*margin-bottom: 12px;*/
    background: var(--light-grey);
    border-color: var(--system-base);
    color: var(--system-base);
}

.question-title .question-number {
    margin-bottom: 0;
    margin-right: 0;
}

.question-indicator .number-divider::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 3px;
    background: var(--system-base);
    top: 14px;
    right: 0;
}

.question-indicator .question-number.pending {
    background: var(--light-grey);
    border-color: var(--system-base);
    color: var(--system-base);
}

.question-indicator .question-number.active {
    border-color: var(--system-base);
    background: var(--system-base);
    color: white;
}

.question-indicator .question-number.complete {
    border-color: var(--cta-primary);
    background: var(--cta-primary);
    color: white;
}

.question-indicator .number-divider.complete::before {
    background: var(--cta-primary);
}

.question-indicator .question-number.active.complete, .question-indicator .question-number.active.incomplete{
    border-color: var(--system-base);
    background: var(--system-base);
    color: white;
}

.question-indicator .question-number.incomplete {
    border-color: var(--mid-grey);
    background: transparent;
    color: var(--mid-grey);
}
.question-indicator .number-divider.incomplete::before {
    background: var(--mid-grey);
}

.stripe {
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--system-base);
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.sortable-fallback,
.drag-item.draggable-source--is-dragging {
    background-color: white;
    border-width: 2px!important;
    border-style: dashed;
    border-color:  var(--blue-grey);
    opacity: 1!important;
}
.sortable-chosen.sortable-ghost,
.drag-item.draggable--over {
    background-color: white;
    border-width: 2px!important;
    border-style: dashed;
    border-color:  var(--primary);
    color: white;
}

.draggable-container--over .drag-item.draggable-mirror {
    background-color: var(--primary-light);
    border: 2px solid var(--primary);
    color: var(--primary);
    box-shadow: 0 3px 8px 0 rgba(77, 87, 143, 0.3);
}
.draggable-container--placed .drag-item.draggable-mirror {
    background-color: var(--primary);
    border: 2px solid var(--primary);
    color: white;
    box-shadow: 0 3px 8px 0 rgba(77, 87, 143, 0.3);
}


.drag-item.draggable-mirror {
    background-color: var(--primary-light);
    border: 2px solid var(--primary-light);
    color: var(--primary);
    box-shadow: 0 3px 8px 0 rgba(77, 87, 143, 0.3);
}

.cke_top, .cke_bottom {
    background: var(--off-white)!important;
    color: var(--system-base);
}

.cke_ltr {
    background: var(--off-white);
    border-radius: 10px;
    overflow: hidden;
}

.overview .unanswered .cke_ltr {
    border: 1px solid var(--all-red);
}

.overview .cke_top, .overview .cke_bottom {
    background: white!important;
    color: var(--system-base);
    opacity: 50%;
}

[x-cloak] {
    visibility: hidden;
}

.overview .nav-overflow {
    background: linear-gradient(to bottom, var(--light-grey) 0%, rgba(255,255,255,0) 100%);
}

.ranking .drag-item.draggable-mirror {
    /*width: 100%;*/
}

.matching-question .startGroup .drag-item {
    margin-bottom: 4px;
    max-width: fit-content;
}
.matching-question .classify .dropzone-height .drag-item {
    margin: 4px;
}

.matching-question .matching-dropzone .drag-item {
    width: 100%;
}

.slider-buttons {
    box-shadow: 0 0 5px 10px var(--light-grey);
}
@media (hover: hover) {
    .slider-buttons button:hover {
        color: var(--primary);
        background-color: white;
    }
}

#navscrollbar {
    /* This is the magic bit for Firefox */
    scrollbar-width: none;
}

#navscrollbar::-webkit-scrollbar {
    /* This is the magic bit for WebKit */
    display: none;
}

.matching-question .matching .dropzone-height {
    min-height: 40px;
}
.matching-question .classify .dropzone-height {
    min-height: 220px;
}

.Wirisformula {
    display: inline;
}