.button {
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 0 22px; /* 22px + border of 2px = 24px*/
    align-items: center;
    display: inline-flex;
    min-height: 40px;
    border: solid 2px transparent;
    transition: 100ms ease-in-out;
}

button.button {
    user-select: none;
}

.button:focus {
    outline: none;
}

.button-xs {
    min-height: auto;
}

.button-sm {
    min-height: 40px;
    min-width: 40px;
    padding: 0 14px; /* 14px + border 2px = 16px */
}

.button-md {
    min-height: 50px;
    min-width: 50px;
}

.button-lg {
    min-height: 60px;
    min-width: 60px;
}

.icon-button {
    @apply h-10 w-10 p-0 justify-center;
}

.button:where(:disabled) {
    color: var(--mid-grey);
}
.default-button {
    border-radius: 0;
    padding: 0;
}
.default-button:hover:where(:enabled, :not(:disabled)) {
    color: var(--primary);
}

/* Text button */
:is(.text-button, .text-button-white) {
    isolation: isolate;
    position: relative;
    color: var(--system-base);
    font-weight: bold;
    width: fit-content;
    padding: 0;
    border: 0;
    background: none;
    line-height: 22px;
}

.text-button-white:where(:enabled, :not(:disabled)) span {
    text-shadow: 0 1px 2px rgba(var(--system-base-rgb), 0.3);
}

.text-button-white:where(:enabled, :not(:disabled)):is(:hover, :active, :focus, :focus-visible) span {
    text-shadow: 0 1px 4px rgba(var(--system-base-rgb), 0.5);
}

.text-button-white:where(:enabled, :not(:disabled)) svg {
    -webkit-filter: drop-shadow( 0 1px 2px rgba(var(--system-base-rgb), 0.3));
    filter: drop-shadow( 0 1px 2px rgba(var(--system-base-rgb), 0.3));
}
.text-button-white:where(:enabled, :not(:disabled)):is(:hover, :active, :focus, :focus-visible) svg {
    -webkit-filter: drop-shadow( 0 1px 4px rgba(var(--system-base-rgb), 0.5));
    filter: drop-shadow( 0 1px 4px rgba(var(--system-base-rgb), 0.5));
}

:is(.text-button, .text-button-white) > * {
    z-index: 3;
    position: relative;
}

:is(.text-button, .text-button-white)::after {
    content: "";
    position: absolute;
    border-radius: 12px;
    border: 1px solid transparent;
    background-color: transparent;
    transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}

:is(.button-sm, .button-md, .button-lg):is(.text-button, .text-button-white) {
    min-width: unset;
}

:is(.text-button, .text-button-white).button-sm::after {
    inset: 0 -6px;
}

:is(.text-button, .text-button-white).button-sm {
    min-height: 22px;
    height: 22px;
    font-size: 16px;
}

:is(.text-button, .text-button-white):is(.button-md, .button-lg)::after {
    inset: 0 -8px;
}

:is(.text-button, .text-button-white):is(.button-md, .button-lg) {
    min-height: 24px;
    height: 24px;
}

.text-button-white:is(:hover, :active, :focus, :focus-visible)  {
    color: var(--all-White);
    outline: none;
}
.text-button:is(:hover, :active, :focus, :focus-visible) {
    color: var(--primary);
    outline: none;
}

.text-button-white:focus::after {
    border: 1px solid rgba(255,255,255, 0.5);
}
.text-button:focus::after {
    border: 1px solid rgba(var(--primary-rgb), 0.5);
}

.text-button-white:is(:focus, :hover)::after {
    background-color: rgba(255,255,255, 0.2);
}
.text-button-white:is(:active)::after {
    background-color: rgba(255,255,255, 0.3);
}

.text-button:is(:focus, :active)::after {
    background-color: rgba(var(--primary-rgb), 0.1);
}

.text-button-white:disabled {
    opacity: 0.3;
    cursor: default !important;
}

.text-button:disabled {
    color: var(--mid-grey) !important;
    cursor: default !important;
}

:is(.text-button, .text-button-white):disabled::after {
    content: none;
}

:is(.text-button, .text-button-white).text-button-hover-bg::after {
    content: none;
}

:is(.text-button, .text-button-white).text-button-hover-bg.button-sm {
    min-height: 40px;
}
:is(.text-button, .text-button-white).text-button-hover-bg {
    min-height: 50px;
    border-radius: 0px;
}

:is(.text-button, .text-button-white).text-button-hover-bg:enabled:hover {
    background: var(--primary-opacity-05);
}

:is(.text-button, .text-button-white).text-button-hover-bg:enabled:active {
    background: var(--primary-opacity-10);
}
/* end text button */
/* start white text button */
.text-button-white {
    color: var(--all-White);
    text-shadow: 0 1px 2px rgba(var(--system-base-rgb), 0.3);;
}
/* end white text button */

.button-gradient.primary-button {
    --button-text-color: white;
    --button-background-color: var(--teacher-primary);
    --button-background-gradient: linear-gradient(to right, #002096 0%, var(--teacher-primary-light) 100%), linear-gradient(to bottom, var(--teacher-primary), var(--teacher-primary));
    --button-focus-border-color: #002096;
}
.button-gradient.cta-button {
    --button-text-color: white;
    --button-background-color: var(--cta-primary);
    --button-background-gradient: linear-gradient(to left, #4ad866 0%, var(--cta-primary-dark) 100%), linear-gradient(to bottom, var(--cta-primary), var(--cta-primary));
    --button-focus-border-color: var(--cta-primary-dark);
}

.button-gradient.secondary-button {
    --button-text-color: var(--system-base);
    --button-background-color: var(--blue-grey);
    --button-background-gradient: linear-gradient(to right, #8aa1d3 1%, var(--primary-light)), linear-gradient(to bottom, var(--blue-grey), var(--blue-grey));
    --button-focus-border-color: #738bc0;
}

.button-gradient.student-button {
    --button-text-color: var(--system-base);
    --button-background-color: var(--teacher-highlight-primary);
    --button-background-gradient: linear-gradient(to right, var(--highlight-primary-mid-dark) 1%, #f4f1d2), linear-gradient(to bottom, var(--teacher-highlight-primary), var(--teacher-highlight-primary));
    --button-focus-border-color: #c1ae00;
}


/* Variable color classes */
.button-gradient {
    color: var(--button-text-color);
    background-color: var(--button-background-color);
}
.button-gradient::after {
    background-image: var(--button-background-gradient);
}
.button-gradient:is(:focus, :focus-visible)::after {
    border: solid 2px var(--button-focus-border-color);
}

.button-gradient {
    isolation: isolate;
    position: relative;
    background-size: 115% 110%; /*compensate for transparent border*/
    background-position-x: center;
    transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
    justify-content: center;

    --button-text-color: unset;
    --button-background-color: unset;
    --button-background-gradient: unset;
    --button-focus-border-color: unset;
}

.button-gradient > * {
    z-index: 3;
    position: relative;
}

.button-gradient::after {
    content: '';
    background-size: 115% 110%;
    background-position-x: center;
    opacity: 0;
    z-index: 2;
    position: absolute;
    inset: -2px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
    box-sizing: content-box;
}

.button-gradient:is(:hover,:active,:focus,:focus-visible)::after {
    opacity: 1;
}

.button-gradient:active::after {
    box-shadow: 0 1px 3px 0 rgba(var(--system-base-rgb), 0.4);
}

.button-gradient:is(:focus, :focus-visible, :hover)::after {
    box-shadow: 0 3px 6px 0 rgba(var(--system-base-rgb), 0.3);
}

.button-gradient:disabled {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: 0 1px 4px 0 rgba(4, 31, 116, 0.06);
}

.button-gradient:disabled::after {
    content: none;
}

/* <start> left over old specific styling of the primary button after refactoring */
.primary-button.btn-disabled:hover {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}

.primary-button.btn-disabled:focus {
    border: none;
}
/* <end> left over old specific styling of the primary button after refactoring */



.select-button {
    border-radius: 10px;
    background: white;
    border: 1px solid var(--blue-grey);
    color: var(--system-base);
    padding: 16px;
}

.select-button:hover, .select-button:focus, .btn-active {
    border: 1px solid var(--primary);
    color: var(--primary);
    outline: none;
    transition: ease-in-out 150ms;

}

.select-button:active {
    color: var(--primary);
    border: 2px solid var(--primary);
    background-color: var(--off-white);
    padding: 15px;
}

.dropdown-button-class {
    @apply space-x-1.5 justify-center bg-opacity-0 focus:outline-none focus:border-blue-300 active:bg-gray-50 active:text-gray-800 transition ease-in-out duration-150;
    font-weight: bold;
    display: inline;
    width: 100%;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
}

.dropdown-button-class.text-button::after {
    inset: 0;
}

.dropdown-button {
    font-size: 1.125rem;
    /*line-height: 1.5rem;*/
    font-family: Nunito;
}

.dropdown-button:hover {
    color: var(--primary);
}

.dropdown-item:hover {
    background: var(--primary-opacity-05);
}

.dropdown-item:active {
    background: var(--primary-opacity-10);
}

.dropdown-item:is(:focus, :focus-within) {
    background: var(--primary-opacity-10);
}

.action-icon-button {
    transition: 150ms ease-in-out;
}

.action-icon-button:hover {
    color: var(--primary);
    background: var(--primary-opacity-05);
}

.action-icon-button:active {
    color: var(--primary);
    background: var(--primary-opacity-10);
}

.action-icon-button.active {
    color: white;
    background: var(--primary);
}

.new-button {
    --button-background-color: var(--primary);
    --button-background-image: var(--button-gradient);
    --button-text: var(--white);
    --button-box-shadow: none;
    --button-transition-time-effect: 0.3s cubic-bezier(.215, .61, .355, 1);
    --button-padding: 0 12px;
    --button-focus-border: 0 solid transparent;
    height: 40px;
    /*padding: var(--button-padding);*/
    min-width: 40px;
    border-radius: 10px;
    background-color: var(--button-background-color);
    color: var(--button-text);
    box-shadow: var(--button-box-shadow);
    transition: color var(--button-transition-time-effect),
    box-shadow var(--button-transition-time-effect);
    position: relative;
    z-index: 1;
    border: var(--button-focus-border);
    display: inline;
    align-items: center;
    justify-content: center;
}

.new-button::after {
    content: '';
    position: absolute;
    inset: 0;
    transition: opacity var(--button-transition-time-effect);
    background-image: var(--button-background-image);
    opacity: 0;
    border-radius: 10px;
}

.new-button:hover::after,
.new-button:active::after,
.new-button:focus::after {
    opacity: 1;
}

.new-button:hover {
    --button-box-shadow: 0 3px 6px 0 rgba(4, 31, 116, 0.3);
}

.new-button:active {
    --button-box-shadow: 0 1px 3px 0 rgba(4, 31, 116, 0.4);
}

.new-button:focus {
    --button-focus-border: 2px solid #002096;
    --button-box-shadow: 0 3px 6px 0 rgba(4, 31, 116, 0.3);;
    --button-padding: 0 10px
}

.new-button > * {
    position: relative;
    z-index: 2;
}

.new-button.button-cta {
    --button-background-color: var(--cta-primary);
    --button-background-image: var(--cta-gradient);
}

.new-button.button-cta:focus {
    --button-focus-border: solid 2px var(--cta-primary-dark);;
}

.new-button:disabled,
.new-button:disabled:hover,
.new-button:disabled:focus,
.new-button:disabled:active,
.new-button.button-cta:disabled,
.new-button.button-cta:disabled:hover,
.new-button.button-cta:disabled:focus,
.new-button.button-cta:disabled:active {
    --button-background-color: var(--light-grey);
    --button-background-image: var(--mid-grey);
    --button-text: var(--mid-grey);
    --button-box-shadow: none;
    cursor: default;
}

.group-type {
    display: flex;
    position: relative;
    padding: 20px 16px 10px 16px;
    border-radius: 10px;
    border: 1px solid var(--blue-grey);
    width: 308px;
    max-width: 308px;
    transition: color .2s ease-in-out,
    background-color .2s ease-in-out,
    box-shadow .2s ease-in-out,
    border-color .2s ease-in-out;
}

.group-type.active {
    padding: 19px 15px 9px 15px;
    border-width: 2px;
    border-color: var(--primary);
    color: var(--primary);
    background-color: var(--off-white);
}

.test-change-option {
    display: flex;
    position: relative;
    padding-block: 12px;
    padding-inline: 24px 32px;
    border-radius: 10px;
    border: 2px solid var(--blue-grey);
    transition: color .2s ease-in-out,
    background-color .2s ease-in-out,
    border-color .2s ease-in-out;
}

.test-change-option.active {
    border-color: var(--primary);
    color: var(--primary);
    background-color: var(--off-white);
}

.test-change-option.active p {
    color: var(--primary);
}

.back-round-button {
    transition: box-shadow 150ms ease,
    color 150ms ease;
}

.back-round-button:hover {
    box-shadow: 0 3px 6px 0 rgba(4, 31, 116, 0.3);
    color: var(--primary);
}

.shadow-icon-cirle {
    box-shadow: 0 0 8px 0 rgba(4, 31, 116, 0.3);
}

.icon-circle-button {
    min-width: 40px;
    width: 40px;
    min-height: 40px;
    height: 40px;
    box-shadow: 0 3px 16px 0 rgba(4, 31, 116, 0.2);
    background-color: var(--all-White);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border: 2px solid transparent;
    position: relative;
    color: var(--system-base);
}

.icon-circle-button:hover::after,
.icon-circle-button:active::after {
    content: '';
    inset: -2px;
    background-color: #004df580;
    position: absolute;
    border: inherit;
    border-radius: inherit;
}
.icon-circle-button:disabled::after {
    content: none; /*disable hover overlay for disabled button*/
}

.icon-circle-button:hover {
    box-shadow: 0 3px 8px 0 rgba(4, 31, 116, 0.2);
    color: var(--teacher-primary);
}

.icon-circle-button:active {
    box-shadow: 0 3px 8px 0 rgba(4, 31, 116, 0.3);
    color: var(--teacher-primary);
}

.icon-circle-button:focus-visible,
.icon-circle-button:focus {
    box-shadow: 0 3px 8px 0 rgba(4, 31, 116, 0.2);
    border: solid 2px #4781ff80;
    color: var(--teacher-primary);
    outline: none;
}

.icon-circle-button:disabled {
    box-shadow: 0 3px 8px 0 rgba(4, 31, 116, 0.2);
    color: var(--mid-grey);
}