.button {
    border-radius: 10px;
    font-size: 18px;
    font-family: Nunito Bold;
    padding: 0 20px 0 20px;
    align-items: center;
    display: inline-flex;
    min-height: 40px;
    border: solid 1px transparent;
    transition: 100ms ease-in-out;
}

.button:focus {
    outline: none;
}

.button-sm {
    min-height: 40px;
}

.button-md {
    min-height: 50px;
}

.button-lg {
    min-height: 60px;
}

.text-button {
    border-radius: 0;
    color: var(--system-base);
    font-family: Nunito Bold;
    padding: 0;
}

.text-button:hover {
    color: var(--primary);
}

.text-button.text-button-hover-bg:hover {
    background: var(--primary-opacity-05);
}

.text-button:active {
    color: var(--primary);
}

.text-button.text-button-hover-bg:active {
    background: var(--primary-opacity-10);
}

.text-button:focus {
    outline: none;
}

.text-button > span {
    vertical-align: middle;
}

.text-button:disabled {
    color: var(--mid-grey) !important;
    cursor: default !important;
}

button.cta-button, a.cta-button {
    color: white;
    background-color: rgba(58, 183, 83, 1);
    background-image: radial-gradient(ellipse farthest-side at 10% 10%, rgba(58, 183, 83, .5) 0, rgba(58, 183, 83, 0) 100%);
    background-size: 0px 0px;
    background-repeat: no-repeat;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
    transition: color 0.3s cubic-bezier(.215, .61, .355, 1);
}

button.cta-button:hover, a.cta-button:hover {
    background-color: rgb(60, 202, 86);
    background-size: 100% 100%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}

button.cta-button:active, a.cta-button:active {
    background: linear-gradient(90deg, rgba(57, 180, 81, 1) 0%, rgba(61, 187, 86, 1) 100%);
    box-shadow: 0 1px 6px 0 rgba(77, 87, 143, 0.5);
}

button.cta-button:focus, a.cta-button:focus {
    background: var(--cta-primary);
    border: 1px solid var(--cta-primary-dark);
}

button.cta-button:disabled, a.cta-button:disabled {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}

.primary-button.btn-disabled {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}

.primary-button.btn-disabled:hover {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}

.primary-button.btn-disabled:focus {
    border: none;
}

.primary-button {
    color: white;
    background-color: rgba(0, 77, 245, 1);
    background-image: radial-gradient(ellipse farthest-side at 10% 10%, rgba(0, 77, 245, .5) 0, rgba(0, 77, 245, 0) 100%);
    background-size: 0px 0px;
    background-repeat: no-repeat;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
    transition: color 0.3s cubic-bezier(.215, .61, .355, 1);
}

.primary-button:hover {
    background-color: rgba(71, 129, 255, 1);
    background-size: 100% 100%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}

.primary-button:focus {
    outline: none;
}

.primary-button:active {
    outline: none;
}

.primary-button:disabled {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}

.secondary-button {
    color: var(--system-base);
    background-color: var(--blue-grey);
    background-image: radial-gradient(ellipse farthest-side at 10% 10%, rgba(195, 208, 237, .5) 0, rgba(195, 208, 237, 0) 100%);
    background-size: 0px 0px;
    background-repeat: no-repeat;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
    transition: color 0.3s cubic-bezier(.215, .61, .355, 1);
}

.secondary-button:hover {
    background-color: rgb(203, 219, 253);
    background-size: 100% 100%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}

.secondary-button:active {
    background: linear-gradient(90deg, rgba(239, 244, 254, 1) 0%, rgba(233, 239, 250, 1) 100%);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.secondary-button:focus {
    background: var(--system-secondary);
    border: 1px solid #99AACE;
}

.secondary-button:disabled {
    background: var(--light-grey);
    color: var(--mid-grey);
    box-shadow: none;
}

.select-button {
    border-radius: 10px;
    background: white;
    border: 1px solid var(--blue-grey);
    color: var(--system-base);
    padding: 16px;
}

.select-button:hover, .select-button:focus, .btn-active {
    border: 1px solid var(--primary);
    color: var(--primary);
    outline: none;
    transition: ease-in-out 150ms;

}

.select-button:active {
    color: var(--primary);
    border: 2px solid var(--primary);
    background-color: var(--off-white);
    padding: 15px;
}

.dropdown-button:hover {
    color: var(--primary);
}

.dropdown-item:hover {
    background: var(--primary-opacity-05);
}

.dropdown-item:active {
    background: var(--primary-opacity-10);
}

.action-icon-button {
    transition: 150ms ease-in-out;
}

.action-icon-button:hover {
    color: var(--primary);
    background: var(--primary-opacity-05);
}

.action-icon-button:active {
    color: var(--primary);
    background: var(--primary-opacity-10);
}

.action-icon-button.active {
    color: white;
    background: var(--primary);
}

.new-button {
    --button-background-color: var(--primary);
    --button-background-image: var(--button-gradient);
    --button-text: var(--white);
    --button-box-shadow: none;
    --button-transition-time-effect: 0.3s cubic-bezier(.215, .61, .355, 1);
    --button-padding: 0 12px;
    --button-focus-border: 0 solid transparent;
    height: 40px;
    /*padding: var(--button-padding);*/
    min-width: 40px;
    border-radius: 10px;
    background-color: var(--button-background-color);
    color: var(--button-text);
    box-shadow: var(--button-box-shadow);
    transition: color var(--button-transition-time-effect),
    box-shadow var(--button-transition-time-effect);
    position: relative;
    z-index: 1;
    border: var(--button-focus-border);
    display: inline;
    align-items: center;
    justify-content: center;
}

.new-button::after {
    content: '';
    position: absolute;
    inset: 0;
    transition: opacity var(--button-transition-time-effect);
    background-image: var(--button-background-image);
    opacity: 0;
    border-radius: 10px;
}

.new-button:hover::after,
.new-button:active::after,
.new-button:focus::after {
    opacity: 1;
}

.new-button:hover {
    --button-box-shadow: 0 3px 6px 0 rgba(4, 31, 116, 0.3);
}

.new-button:active {
    --button-box-shadow: 0 1px 3px 0 rgba(4, 31, 116, 0.4);
}

.new-button:focus {
    --button-focus-border: 2px solid #002096;
    --button-box-shadow: 0 3px 6px 0 rgba(4, 31, 116, 0.3);;
    --button-padding: 0 10px
}

.new-button > * {
    position: relative;
    z-index: 2;
}

.new-button.button-cta {
    --button-background-color: var(--cta-primary);
    --button-background-image: var(--cta-gradient);
}

.new-button.button-cta:focus {
    --button-focus-border: solid 2px var(--cta-primary-dark);;
}

.new-button:disabled,
.new-button:disabled:hover,
.new-button:disabled:focus,
.new-button:disabled:active,
.new-button.button-cta:disabled,
.new-button.button-cta:disabled:hover,
.new-button.button-cta:disabled:focus,
.new-button.button-cta:disabled:active {
    --button-background-color: var(--light-grey);
    --button-background-image: var(--mid-grey);
    --button-text: var(--mid-grey);
    --button-box-shadow: none;
    cursor: default;
}

.group-type {
    display:flex;
    position: relative;
    padding: 20px 16px 10px 16px;
    border-radius: 10px;
    border: 1px solid var(--blue-grey);
    width: 308px;
    max-width: 308px;
    transition: color .2s ease-in-out,
    background-color .2s ease-in-out,
    box-shadow .2s ease-in-out,
    border-color .2s ease-in-out;
}
.group-type.active {
    padding: 19px 15px 9px 15px;
    border-width: 2px;
    border-color: var(--primary);
    color: var(--primary);
    background-color: var(--off-white);
}

.test-change-option {
    display: flex;
    position: relative;
    padding-block: 12px;
    padding-inline: 24px 32px;
    border-radius: 10px;
    border: 2px solid var(--blue-grey);
    transition: color .2s ease-in-out,
    background-color .2s ease-in-out,
    border-color .2s ease-in-out;
}

.test-change-option.active {
    border-color: var(--primary);
    color: var(--primary);
    background-color: var(--off-white);
}
.test-change-option.active p {
    color: var(--primary);
}

.back-round-button {
    transition: box-shadow 150ms ease,
    color 150ms ease;
}

.back-round-button:hover {
    box-shadow: 0 3px 6px 0 rgba(4, 31, 116, 0.3);
    color: var(--primary);
}