.header {
    background: white;
    height: 70px;
    box-shadow: 0 3px 8px 0 rgba(77, 87, 143, 0.3);
}

.menu .text-button.active {
    position: relative;
}

.menu .text-button.active:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: currentColor;
    position: absolute;
    bottom: 0;
}

.red-header-border {
    border: 10px solid var(--all-red);
    padding-left: 1.5rem; padding-right: 1.5rem
    /*animation: border-pulse 2s infinite;*/
}
@keyframes border-pulse {
    0%   { border-width: 5px; padding-left: 1.8rem;padding-right: 1.8rem }
    50%  { border-width: 10px; padding-left: 1.5rem; padding-right: 1.5rem}
    100% { border-width: 5px; padding-left: 1.8rem;padding-right: 1.8rem }
}