.notification {
    min-height: 32px;
    border: 1px solid;
    border-radius: 4px;
    padding: 16px;
    max-width: 475px;
}
.stretched {
    max-width: none;
}
.notification-shadow {
    box-shadow: 0px 2px 4px 0px rgba(77,87,143,0.5);
}

.notification  .title {
    font-weight: bold;
    font-size: 1rem;
}

.notification  .body {
    font-family: Nunito;
    font-size: 0.875rem;
    line-height: normal;
    display: block;
}

.informational, .info {
    background: #E6EDFA;
    border-color: var(--blue-grey);
    color: var(--primary);
}

.warning {
    background-color: #FFFCD7;
    border-color: #ECDB00;
    color: #857B01;
}

.error {
    background: #FFEDEB;
    border-color: #EBCCC8;
    color: #CF1B04
}