.test-row {
    border-radius: 10px;
    border-bottom: 1px solid var(--blue-grey);
    position: relative;
}

.test-row td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.test-row td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.test-row:hover > td {
    background: var(--off-white);
}

.test-row:hover {
    box-shadow: var(--main-shadow);
    font-weight: bold;
    color: var(--primary);
    background: var(--off-white);
    border-color: transparent;
}

/*.new-table-row {*/
/*    position: relative;*/
/*}*/

/*.new-table-row > td {*/
/*    position: relative;*/
/*    z-index: 2;*/
/*}*/

/*.new-table-row:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    visibility: hidden;*/
/*    opacity: 0;*/
/*    inset: 0;*/
/*    background-color: var(--off-white);*/
/*    z-index: 1;*/
/*    left: -20px;*/
/*    top: -1px;*/
/*    width: calc(100% + 40px);*/
/*    box-shadow: 0 1px 6px 0 rgba(77, 87, 143, 0.4);*/
/*    border-radius: 10px;*/
/*    transition: opacity 150ms ease-in-out;*/
/*}*/

/*.new-table-row:hover {*/
/*    color: var(--primary);*/
/*    border-color: transparent;*/
/*    transition: color 150ms ease-in-out, border-color 150ms ease-in-out;*/
/*}*/

/*.new-table-row:hover:after {*/
/*    visibility: visible;*/
/*    opacity: 1;*/
/*}*/