.test-row {
    border-radius: 10px;
    border-bottom: 1px solid var(--blue-grey);
    position: relative;
}

.test-row td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.test-row td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.test-row:hover > td {
    background: var(--off-white);
}

.test-row:hover {
    box-shadow: var(--main-shadow);
    font-weight: bold;
    color: var(--primary);
    background: var(--off-white);
    border-color: transparent;
}
